<form role="form" name="Azureblobform" (change)="isDirty=true">
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-purple" title="{{'CTRBoxConnect.SaveChangesBox' | translate}}" (click)="SaveAzureBlob()">{{'CTRAzureblobController.Save'|translate}}</button>&nbsp;
            <button type="button" class="btn btn-purple" ng-disabled="btnmapjob" title="{{'CTR_JobManagement.Map_Jobs' | translate}}" (click)="AzureBlobMapJobs()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button>&nbsp;
            <button type="button" class="btn btn-purple" ng-disabled="btntest" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
            <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.Back' | translate}}" ng-click="Back()">{{'CTR_Exception.Back' | translate}}</button>
        </div>
    </div>

    <div class="form-group">
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- START panel-->
            <div id="panelDemo7" class="panel panel-default">
                <div class="panel-top">{{'CTRAzureblobController.AzureBlob'|translate}}</div>
                <div class="panel-body" style="padding-left:25px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span>{{'CTRAzureblobController.StorageAccount'|translate}}</span><span class="text-danger">*</span>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input class="form-control" type="text" name="storage" (change)="ChangeStorage()" required="" [(ngModel)]="storageaccountname" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span>{{'CTRAzureblobController.AccessType'|translate}}<span class="text-danger">*</span></span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="radio-inline"><input type="radio" id="rdoConnectionString" name="rdoAccessType" value="ConnectionString" [(ngModel)]="accesstype" (change)="clearfield(accesstype)"/><span>{{'CTRAzureblobController.ConnectionString'|translate}}</span></label>
                                <label class="radio-inline"><input type="radio" id="rdoAccessKey" name="rdoAccessType" value="SharedAccessKey" [(ngModel)]="accesstype" (change)="clearfield(accesstype)"/><span>{{'CTRAzureblobController.SharedAccessKey'|translate}}</span></label>
                                <label class="radio-inline"><input type="radio" id="rdoAccessSignature" name="rdoAccessType" value="SharedAccessSignature" [(ngModel)]="accesstype" (change)="clearfield(accesstype)"/><span>{{'CTRAzureblobController.SharedAccessSignature'|translate}}</span></label>
                            </div>                                
                        </div>                            
                    </div>    
                    <div style="line-height:10px;">&nbsp;</div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span *ngIf="accesstype == 'ConnectionString'"><span>{{'CTRAzureblobController.ConnectionString'|translate}}</span><span class="text-danger">*</span></span>
                                <span *ngIf="accesstype == 'SharedAccessKey'"><span>{{'CTRAzureblobController.SharedAccessKey'|translate}}</span><span class="text-danger">*</span></span>
                                <span *ngIf="accesstype == 'SharedAccessSignature'"><span>{{'CTRAzureblobController.SharedAccessSignature'|translate}}</span><span class="text-danger">*</span></span>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input class="form-control" type="text" (change)="ChangeConnection()" name="access" required [(ngModel)]="accessinfo" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span>{{'CTRAzureblobController.ContainerName'|translate}}</span><span class="text-danger">*</span>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input class="form-control" type="text" required name="containerval" (change)="ChangeContainer()" [(ngModel)]="containername" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span>{{'CTRAzureblobController.DefaultFolder'|translate}}</span>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input class="form-control" type="text" name="defalutfolval" [(ngModel)]="defaultfolder" />
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="form-group"></div></div>
                </div>
            </div>
        </div>

    </div>
</form>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">
              <div class="col-sm-12">
                 <div class="row" *ngIf="userlist">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="username" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                      <datalist id="dynmicUserIds">
                          <select>
                        <option *ngFor="let item of ListOfUser">{{item}}</option>
                      </select>
                      </datalist>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row" *ngIf="txtuser">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="username" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CTR_JobManagement.Target'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                             <input class="form-control" type="text" [(ngModel)]="target" name="targetval" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"> <label>{{'CTR_JobManagement.ContainerName' | translate }}</label><span class="text-danger"></span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="container" ng-keypress="($event.charCode==13)? Test(username,target,container) : return" name="path" required="" />
                          </div>
                       </div>
                    </div>
                 </div>

                 
              </div>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(username,target,container)">{{'CommonItems.Test'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>                       
        </div>
      </div>
    </div>
  </div>