<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" *ngIf="userconfig">
            <button type="button" *ngIf="ShowLFOnly" title="{{'CTR_JobManagement.JRefresh' | translate}}" ng-click="LFUserRefresh()" class="btn btn-sm btn-purple">
            </button>&nbsp;
            <button type="button" *ngIf="create" title="{{'CTRUserConfigureSummary.Tooltip1' | translate}}" class="btn btn-purple" (click)="CreateUser()">{{'CTRUserConfigureSummary.Create_User' | translate}}</button>&nbsp;
            <button type="button" *ngIf="load" title="{{'CTRUserConfigureSummary.Tooltip2' | translate}}" class="btn btn-purple" (click)="SyncAduser()">{{'CTRUserConfigureSummary.Load' | translate}}</button>&nbsp;
            <button type="button" *ngIf="Nfcmap" title="{{'CTRUserConfigureSummary.Map_NFC_Id' | translate}}" class="btn btn-purple" (click)="NFCMappingMode()">{{'CTRUserConfigureSummary.Map_NFC_Id' | translate}}</button>&nbsp;
            <button type="button" *ngIf="Nfcnorml" title="{{'CTRUserConfigureSummary.NNMode' | translate}}" class="btn btn-purple" (click)="NFCMappingNormal()">{{'CTR_JobManagement.NNMode' | translate}}</button>&nbsp;
            <a href='../../../assets/template/Userdata.xlsx' *ngIf="export" title="{{'CTRUserConfigureSummary.ExportUser_V20' | translate}}" (click)="exportsave()" class="btn btn-purple">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                &nbsp;&nbsp;{{'CTRUserConfigureSummary.ExportUser_V20' | translate}}
            </a>
            <button type="button" *ngIf="BtnADSearch" title="{{'CTR_ADSearch.BtnSearchAd' | translate}}" class="btn btn-purple" ng-click="showSearchDialog()">{{'CTR_ADSearch.BtnSearchAd' | translate}}</button>&nbsp;
            <button type="button" title="{{'CTR_JobManagement.Back' | translate}}" class="btn btn-purple" (click)="BackUserAccounts()">{{'CTR_JobManagement.Back' | translate}}</button>

        </div>
    </div>
    <br>
    <div class="row" *ngIf="import">
      <div class="col-sm-2">
          <div class="form-group">
              <label style="padding-top:5px;" title="{{'CTRUserConfigureSummary.ImportUsers_V20' | translate}}">{{'CTRUserConfigureSummary.ImportUsers_V20' | translate}}</label>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="form-group">
              <input type="file" id="fileUpload" (change)="uploadUserExcel($event)" name="uploadazure" ng-model="uploadimage" class="form-control" />

            </div>
      </div>
      <div class="col-sm-3">
          <button type="button" class="btn btn-purple" title="{{'CTRUserConfigureSummary.Import_V20' | translate}}" (click)="Importsave()">{{'CTRUserConfigureSummary.Import_V20' | translate}}</button> &nbsp;
      </div>
  
  </div>

    <br/>
    <div class="mat-elevation-z8" *ngIf="userconfig">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- <ng-container matColumnDef="ProductName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:15%;"> Product Name </th>
            <td mat-cell *matCellDef="let row" style="width:15%;"> {{row.ProductName}} </td>
          </ng-container> -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:4%;">  </th>
            <td mat-cell *matCellDef="let row;let i = index" style="width:4%;"> 
              <label for="chkCustomer_{{row.Id}}" *ngIf="nfcmultipleuser">
                <input type="radio"  name="radio" value="New" (click)="MappingNFCCardToUser(row.Id,i)">
           
              </label>
            </td>
          </ng-container>

    
          <ng-container matColumnDef="Username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Username </th>
            <td mat-cell *matCellDef="let row"> {{row.Username}} </td>
          </ng-container>
          
    
          <ng-container matColumnDef="Email" *ngIf="showColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:15%;"> Email </th>
            <td mat-cell *matCellDef="let row" style="width:15%;"> {{row.Email}} </td>
          </ng-container>

          <ng-container matColumnDef="FirstName" *ngIf="showColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> First Name </th>
            <td mat-cell *matCellDef="let row"> {{row.FirstName}} </td>
          </ng-container>
    
          <ng-container matColumnDef="LastName" *ngIf="showColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Last Name </th>
            <td mat-cell *matCellDef="let row"> {{row.LastName}} </td>
          </ng-container>

           <ng-container matColumnDef="HomeFolder">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Home Folder </th>
            <td mat-cell *matCellDef="let row"> {{row.HomeFolder}} </td>
          </ng-container>

          <ng-container matColumnDef="UniqueId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> UniqueId </th>
            <td mat-cell *matCellDef="let row"> {{row.UniqueId}} </td>
          </ng-container>

          <ng-container matColumnDef="NFCCardId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> NFCCardId </th>
            <td mat-cell *matCellDef="let row"> {{row.NFCCardId}} </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Action </th>
            <td mat-cell *matCellDef="let row" style="padding-top:5px;">
               <mat-icon color="warn" style="cursor: pointer;" data-toggle="modal" data-target="#viewModal" (click)="Edituser(row.Id)"  title="Edit Properties" >edit</mat-icon>&nbsp; 
               <mat-icon color="warn" style="cursor: pointer;" *ngIf="Enabledelete" title="Delete the user" (click)="Deleteuser(row.Id,row.Username)">cancel</mat-icon>&nbsp;
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

           <tr class="mat-row" *matNoDataRow>
              <td style="text-align: center;" class="mat-cell" colspan="12">No data available</td>
            </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
      <div class="row" *ngIf="adminmailform">
        <form role="form" #loginForm="ngForm">              
       <!-- START panel-->
       <div id="panelDemo5" class="panel panel-default">
          <div class="panel-top">
              {{'CTRUserConfigureSummary.AdminNotifi' | translate}}
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-9" style="padding-top: 5px;">
                            <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="checkadminemail" ng-change="checkadminemail(checkadminemail)" name="chkwebsite" aria-required="">{{'CTRUserConfigureSummary.Adminemailtext' | translate}}</mat-checkbox>
                          </div></div>
                          <br>
                          <div class="row">
                              <div class="col-lg-2" style="padding-top: 5px;">
                                  <span>{{'CTRUserConfigureSummary.Email' | translate}}</span>
                              </div>
                              <div class="col-lg-3">
                                  <div class="form-group">
                                    <input class="form-control" type="text"[(ngModel)]="adminemail" name="emailsub" required />
                                  </div>  
                              </div>

                              <div class="col-lg-2" style="padding-top: 5px;">
                                <span>{{'EmailBody.Subject' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                  <input class="form-control" type="text" [(ngModel)]="adminSubject" name="emailsub1" required />                                </div>  
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-2">
                                  <span>{{'EmailBody.Email_Body' | translate}}</span>
                              </div>
                              <div class="col-lg-3">
                                  <div class="form-group">
                                    <textarea class="form-control" type="text" required [(ngModel)]="adminEmailBody" name="emailbody" style="height:80px;"></textarea>
                                  </div>
                          </div>  
                          </div>
                          <div class="row">
                            <div class="col-lg-2">
                            <button type="submit" [disabled]="loginForm.form.invalid" class="btn btn-purple" (click)="adminmailsave()">{{'CTRUserConfigure.USSave' | translate}}</button> &nbsp;
</div>
                          </div>
                  </div>
              </div>
          </div>
      
      </div>
              </form>
      </div>

      <div class="row">
        <form role="form" name="userconfiguresummaryForm" class="form-validate">
          <div class="col-lg-12" *ngIf="userform">       
       <!-- START panel-->
       <div id="panelDemo5" class="panel panel-default" *ngIf="userdetail">
          <div class="panel-top">
              {{'CTRUserConfigureSummary.Edit_User_Details' | translate}}
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-lg-12">
                          <div class="row">
                              <div class="col-lg-3" style="padding-top: 5px;">
                                  <span>{{'CTRUserConfigureSummary.Username1' | translate}}</span>
                                  <span *ngIf="mandatory" class="text-danger">*</span>
                                </div>
                              <div class="col-lg-3">
                                  <div class="form-group">
                                    <input class="form-control" readonly="" type="text" [(ngModel)]="username" name="User" required="" />
                                  </div>
                              </div>
                              <div class="col-lg-2">
                                <button type="button" [disabled]="nfcmapcardhide" class="btn btn-purple" title="{{'CTRUserConfigureSummary.Map_NFC_Id' | translate}}" (click)="MapNFCCard()">{{'CTRUserConfigureSummary.Map_NFC_Id' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-3" style="padding-top: 5px;">
                                  <span>{{'CTRUserConfigureSummary.Email' | translate}}</span>
                              </div>
                              <div class="col-lg-3">
                                  <div class="form-group">
                                    <input class="form-control" type="text" [disabled]="emailhide" [(ngModel)]="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" name="Email" />
                                  </div>  
                              </div>
                              <div class="col-lg-2">
                                <button type="button" [disabled]="unmap" title="{{'CTRUserConfigureSummary.Unmap_NFC_Id' | translate}}" class="btn btn-danger" (click)="UnMapNFCCard()">{{'CTRUserConfigureSummary.Unmap_NFC_Id' | translate}}</button>
                            </div>
                          </div>
                          <div class="row" *ngIf="Otherpasswordset">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRUserConfigureSummary.Unique_ID' | translate}}</span>
                                <span *ngIf="mandatory" class="text-danger">*</span>
                              </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                  <input class="form-control" type="text" [(ngModel)]="uniqueid" readonly="" name="Uniqueid" required="" />
                                </div>  
                            </div>
                            <div class="col-lg-2">
                              <button type="button" class="btn btn-purple" *ngIf="VAwskey" title="{{'CTRUserConfigureSummary.Verify_Login' | translate}}" (click)="LoginVerify()">{{'CTRUserConfigureSummary.Verify_Login' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>


                        <div class="row" *ngIf="userpasswordset">
                          <div class="col-lg-3" style="padding-top: 5px;">
                              <span>{{'CTRUserConfigureSummary.Unique_ID' | translate}}</span>
                              <span *ngIf="mandatory" class="text-danger">*</span>
                            </div>
                          <div class="col-lg-3">
                              <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="uniqueid" readonly="" name="Uniqueid" required="" />
                              </div>  
                          </div>
                          <div class="col-lg-2">
                            <button type="button" *ngIf="userchangepasswordshow" class="btn btn-purple" title="{{'CTRUserConfigureSummary.Change_Password' | translate}}" (click)="password()">{{'CTRUserConfigureSummary.Set_Password' | translate}}&nbsp;&nbsp;&nbsp;</button>
                          </div>
                      </div>

                      <div class="row" *ngIf="AdShowchangepwd">
                        <div class="col-lg-3" style="padding-top: 5px;">
                            <span>{{'CTRUserConfigureSummary.NFC_Card_ID' | translate}}</span>
                            <span *ngIf="mandatory" class="text-danger">*</span>
                          </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                              <input class="form-control" type="text" [(ngModel)]="nfccardid" name="NfcCard" />
                            </div>  
                        </div>
                        <div class="col-lg-2">
                          <button type="button" class="btn btn-purple" *ngIf="changepasswordshow" title="{{'CTRUserConfigureSummary.Change_Password' | translate}}" (click)="password()">{{'CTRUserConfigureSummary.Set_Password' | translate}}&nbsp;&nbsp;&nbsp;</button>
                        </div>
                    </div>


                    <div class="row" *ngIf="AdShowitemscopykey">
                      <div class="col-lg-3" style="padding-top: 5px;">
                          <span>{{'CTRUserConfigureSummary.NFC_Card_ID' | translate}}</span>
                          <span *ngIf="mandatory" class="text-danger">*</span>
                        </div>
                      <div class="col-lg-3">
                          <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="nfccardid" name="NfcCard" />
                          </div>  
                      </div>
                      <div class="col-lg-2">
                        <button type="button" class="btn btn-purple" *ngIf="aAwskey" title="{{'CTRUserConfigure.UserConfigureTooltip6' | translate}}" (click)="Awsassign()">{{'CTRUserConfigure.Copykeys' | translate}}</button>
                      </div>
                  </div>

                          <div class="row" ng-hide="MFilesCheck==true">
                              <div class="col-lg-3">
                                  <span>{{'CTRUserConfigureSummary.HomeFolders' | translate}}</span>
                              </div>
                              <div class="col-lg-3">
                                  <div class="form-group">
                                    <input class="form-control" [disabled]="homefolderhide" type="text" [(ngModel)]="homefolder" name="Homefolder" />
                                  </div>
                          </div>  
                          <div class="col-lg-2">
                            <button type="button" class="btn btn-purple" *ngIf="Awskey" title="{{'CTRUserConfigure.UserConfigureTooltip6' | translate}}" (click)="Awsassign()">{{'CTRUserConfigure.Copykeys' | translate}}</button>
                          </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-3" style="padding-top: 10px;">
                                  <span>{{'CTRUserConfigureSummary.First_Name' | translate}}</span>
                              </div>
                              <div class="col-lg-3">
                                  <div class="form-group">
                                    <input class="form-control" [disabled]="fnamehide" type="text" [(ngModel)]="firstname" name="Firstname" />
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-3" style="padding-top: 10px;">
                                  <span>{{'CTRUserConfigureSummary.Last_Name' | translate}}</span>
                              </div>
                              <div class="col-lg-3">
                                  <div class="form-group">
                                    <input class="form-control" [disabled]="lnamehide" type="text" [(ngModel)]="lastname" name="LastName" />
                                  </div>
                              </div>
                          </div>
                          <div class="row" *ngIf="AWS">
                              <div class="col-lg-3" style="padding-top: 10px;">
                                  <span>{{'CTRUserConfigureSummary.AWS_S3_AccessKeyID1' | translate}}</span>
                              </div>
                              <div class="col-lg-3">
                                  <div class="form-group">
                                    <input class="form-control" type="text" [(ngModel)]="awsaccess_key" name="accesskey" />
                                  </div>
                              </div>
                          </div>
                          <div class="row" *ngIf="AWS">
                              <div class="col-lg-3" style="padding-top: 10px;">
                                  <span>{{'CTRUserConfigureSummary.AWS_S3_SecretKey1' | translate}}</span>
                              </div>
                              <div class="col-lg-3">
                                  <div class="form-group">
                                    <input class="form-control" type="text" [(ngModel)]="awssecret_key" name="secretkey" />
                                  </div>
                              </div>
                          </div>


                          <div class="row" *ngIf="Box">
                            <div class="col-lg-3" style="padding-top: 10px;">
                                <span>{{'CTRUserConfigureSummary.Box_Login' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                  <input class="form-control" type="text" [(ngModel)]="boxlogin" readonly="" name="BoxLogin" />
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="DropBox">
                          <div class="col-lg-3" style="padding-top: 10px;">
                              <span>{{'CTRUserConfigureSummary.DropBox_Login' | translate}}</span>
                          </div>
                          <div class="col-lg-3">
                              <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="dropboxlogin" readonly="" name="BoxLogin" />
                              </div>
                          </div>
                      </div>

                      <div class="row" *ngIf="Odb">
                        <div class="col-lg-3" style="padding-top: 10px;">
                            <span>{{'CTRUserConfigureSummary.OneDrive_Login' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                              <input class="form-control" type="text" [(ngModel)]="onedrivelogin" readonly="" name="Onedrive" />
                            </div>
                        </div>
                    </div>

                    
                    <div class="row" *ngIf="Spo">
                      <div class="col-lg-3" style="padding-top: 10px;">
                          <span>{{'CTRUserConfigureSummary.SharePoint_Online_Login' | translate}}</span>
                      </div>
                      <div class="col-lg-3">
                          <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="sharepointlogin" readonly="" name="Sharedrive" />
                          </div>
                      </div>
                  </div>

                  
                  <div class="row" *ngIf="Egnyte">
                    <div class="col-lg-3" style="padding-top: 10px;">
                        <span>{{'CTRUserConfigureSummary.Egnyte_Login' | translate}}</span>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                          <input class="form-control" type="text" [(ngModel)]="egnytelogin" readonly="" name="EgnyteLogin" />
                        </div>
                    </div>
                </div>
                          <div class="row">
                              <div class="col-lg-3" style="padding-top: 10px;">
                                  <span>{{'CTRUserConfigureSummary.User_Role' | translate}}</span>
                              </div>
                              <div class="col-lg-3">
                                  <div class="form-group">
                                      <!-- <select name="state" required="" title="{{'CTRUserdetail.selectrole' | translate}}" ng-model="Rolename" class="form-control" ng-change="Rolechange(Role)">
                                          <option value="">---{{'CTRUserConfigureSummary.Select_Role' | translate}}---</option>
                                          <option ng-repeat="option in UserRoles | orderBy:'RoleName'" value="{{option.RoleCode}}">{{option.RoleName}}</option>
                                      </select>      -->
      
                                      <mat-form-field  appearance="fill" title="{{'CTRUserConfigureSummary.Tooltiprole' | translate}}"  style="width:100%;background-color: #ffffff;">
                                          <mat-label>{{'CTRUserConfigureSummary.User_Role' | translate}}</mat-label>
                                          <mat-select  required="" [ngModel]="Role" [disabled]="foruser" name="RoleCodele"
                                          (selectionChange)="switchLang($event)">
                                            <mat-option *ngFor="let role of roles"  [value]="role.RoleCode">
                                              {{role.RoleName}}
                                            </mat-option>
                                          </mat-select>
                                        
                                     </mat-form-field>
                                     </div>
                              </div>
                          </div>
                          <div class="row" *ngIf="Languageshow">
                              <div class="col-lg-3" style="padding-top: 10px;">
                                  <span *ngIf="cancelforuser">{{'CTRUserConfigureSummary.Language' | translate}}</span>
                              </div>
                              <div class="col-lg-3">
                                  <div class="form-group">
                                      
                                      <mat-form-field appearance="fill" title="{{'CTRUserConfigureSummary.Tooltiplang' | translate}}" *ngIf="cancelforuser"  style="width:100%;">
                                          <mat-label>{{'CTRUserConfigureSummary.Language' | translate}}</mat-label>
                                          <mat-select [(ngModel)]="Language" name="languagele"  ng-change="languagechange1(lang)" required=""
                                          (selectionChange)="switchLang($event)">
                                            <mat-option *ngFor="let language of languages"  [value]="language.LanguageCode">
                                              {{language.LanguageName}}
                                            </mat-option>
                                          </mat-select>
                                        
                                     </mat-form-field>
      
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="form-group">
                                <input type="hidden" id="hdnMFilesAltUsrName" ng-value="altusername" />
                            </div>
                        </div>
                          <div class="row">
                              <div class="col-lg-12">
                                <button type="button" class="btn btn-purple" (click)="Update()">{{'CTRUserConfigureSummary.Update' | translate}}</button> &nbsp;
                                <button type="button" *ngIf="cancelforuser" class="btn btn-purple" (click)="Back()">{{'CTRUserConfigureSummary.Close' | translate}}</button>&nbsp;</div>
                          </div>
                  </div>
              </div>
          </div>
      
      </div>
              </div>
              </form>
      </div>

      <div class="row" *ngIf="LFuserconfig">
        <div class="form-group">
        </div>
        <div class="row">

            <div class="col-sm-8">
                <button type="button" *ngIf="create" title="{{'CTRUserConfigureSummary.Tooltip1' | translate}}" class="btn btn-purple" ng-click="CreateUser()">{{'CTRUserConfigureSummary.Create_User' | translate}}</button>
                <button type="button"  *ngIf="load" title="{{'CTRUserConfigureSummary.Tooltip2' | translate}}" class="btn btn-purple" ng-click="SyncAduser()">{{'CTRUserConfigureSummary.Load' | translate}}</button>
                <button type="button" *ngIf="Nfcmap" title="{{'CTRUserConfigureSummary.Map_NFC_Id' | translate}}" class="btn btn-purple" ng-click="NFCMappingMode()">{{'CTRUserConfigureSummary.Map_NFC_Id' | translate}}</button>
                <button type="button" *ngIf="Nfcnorml" title="{{'CTRUserConfigureSummary.NNMode' | translate}}" class="btn btn-purple" ng-click="NFCMappingNormal()">{{'CTR_JobManagement.NNMode' | translate}}</button>
                <button type="button" title="Search" class="btn btn-purple" (click)="BackUserAccounts()">{{'CTR_JobManagement.Back' | translate}}</button>

            </div>
            <div class="col-sm-8">
                <div class="col-sm-12">
                    <!-- <a href="{{url}}" *ngIf="export" ng-click="exportsave()" class="btn btn-purple">
                        <i class="fa fa-file-excel-o" title="{{'CTRUserConfigureSummary.ExportUser_V20' | translate}}" aria-hidden="true"></i>
                        &nbsp;&nbsp;{{'CTRUserConfigureSummary.ExportUser_V20' | translate}}
                    </a> -->
                    <div class="col-sm-2" *ngIf="import">
                        <div class="form-group">
                            <label style="padding-top:5px;" title="{{'CTRUserConfigureSummary.ImportUsers_V20' | translate}}">{{'CTRUserConfigureSummary.ImportUsers' | translate}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="import">
                        <div class="form-group">
                            <input type="file" id="fileUpload" name="upload" ng-model="uploadimage" onchange="angular.element(this).scope().add(this.files)" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-2" *ngIf="import">
                        <button type="button" class="btn btn-purple" title="{{'CTRUserConfigureSummary.Import_V20' | translate}}" ng-click="Importsave()">{{'CTR_JobManagement.Import_V20' | translate}}</button> &nbsp;
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
      <form role="form" name="userconfigureLFsummaryForm" class="form-validate">
        <div class="col-lg-12" *ngIf="LaserFicheuserdetail">       
     <!-- START panel-->
     <div id="panelDemo5" class="panel panel-default">
        <div class="panel-top">
            {{'CTRUserConfigureSummary.Edit_User_Details' | translate}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRUserConfigureSummary.Username1' | translate}}</span>
                                <span *ngIf="mandatory" class="text-danger">*</span>
                              </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                  <input class="form-control" readonly="" type="text" [(ngModel)]="username" name="User" required="" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                              <button type="button" [disabled]="nfcmapcardhide" class="btn btn-purple" title="{{'CTRUserConfigureSummary.Map_NFC_Id' | translate}}" (click)="MapNFCCard()">{{'CTRUserConfigureSummary.Map_NFC_Id' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-3" style="padding-top: 5px;">
                              <span>{{'CTRUserConfigureSummary.Unique_ID' | translate}}</span>
                              <span *ngIf="mandatory" class="text-danger">*</span>
                            </div>
                          <div class="col-lg-3">
                              <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="uniqueid" readonly="" name="Uniqueid" required="" />
                              </div>  
                          </div>
                          <div class="col-lg-2">
                            <button type="button" ng-disabled="unmap" title="{{'CTRUserConfigureSummary.Unmap_NFC_Id' | translate}}" class="btn btn-danger" ng-click="UnMapNFCCard()">{{'CTRUserConfigureSummary.Unmap_NFC_Id' | translate}}</button>
                          </div>
                      </div>


                  <div class="row">
                    <div class="col-lg-3" style="padding-top: 5px;">
                        <span>{{'CTRUserConfigureSummary.NFC_Card_ID' | translate}}</span>
                        <span *ngIf="mandatory" class="text-danger">*</span>
                      </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                          <input class="form-control" type="text" [(ngModel)]="nfccardid" name="NfcCard" />
                        </div>  
                    </div>
                    <div class="col-lg-2">
                      <button type="button" class="btn btn-purple" title="{{'CTRUserConfigureSummary.Verify_Login' | translate}}" ng-click="VerifyLogin()">{{'CTRUserConfigureSummary.Verify_Login' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>

                        <div class="row" ng-hide="MFilesCheck==true">
                            <div class="col-lg-3">
                                <span>{{'CTRUserConfigureSummary.HomeFolders' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                  <input class="form-control" [disabled]="homefolderhide" type="text" [(ngModel)]="homefolder" name="Homefolder" />
                                </div>
                        </div>  
                        <div class="col-lg-2">
                          <button type="button" class="btn btn-purple" ng-show="changepasswordshow" title="{{'CTRUserConfigureSummary.Change_Password' | translate}}" (click)="password()">{{'CTRUserConfigureSummary.Set_Password' | translate}}&nbsp;&nbsp;&nbsp;</button>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 10px;">
                                <span>{{'CTRUserConfigureSummary.User_Role' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <!-- <select name="state" required="" title="{{'CTRUserdetail.selectrole' | translate}}" ng-model="Rolename" class="form-control" ng-change="Rolechange(Role)">
                                        <option value="">---{{'CTRUserConfigureSummary.Select_Role' | translate}}---</option>
                                        <option ng-repeat="option in UserRoles | orderBy:'RoleName'" value="{{option.RoleCode}}">{{option.RoleName}}</option>
                                    </select>      -->
    
                                    <mat-form-field appearance="fill" title="{{'CTRUserConfigureSummary.Tooltiprole' | translate}}"  style="width:100%;background-color: #ffffff;">
                                        <mat-label>{{'CTRUserConfigureSummary.User_Role' | translate}}</mat-label>
                                        <mat-select [disabled]="foruser"  required="" [ngModel]="Role" name="RoleCodele"
                                        (selectionChange)="switchLang($event)">
                                          <mat-option *ngFor="let role of roles"  [value]="role.RoleCode">
                                            {{role.RoleName}}
                                          </mat-option>
                                        </mat-select>
                                      
                                   </mat-form-field>
                                   </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="Languageshow">
                            <div class="col-lg-3" style="padding-top: 10px;">
                                <span *ngIf="cancelforuser">{{'CTRUserConfigureSummary.Language' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    
                                    <mat-form-field appearance="fill" title="{{'CTRUserConfigureSummary.Tooltiplang' | translate}}"  style="width:100%;">
                                        <mat-label>{{'CTRUserConfigureSummary.Language' | translate}}</mat-label>
                                        <mat-select [(ngModel)]="Language" name="languagele" [disabled]="foruser" *ngIf="cancelforuser" ng-change="languagechange1(lang)" ng-model="lang" required=""
                                        (selectionChange)="switchLang($event)">
                                          <mat-option *ngFor="let language of languages"  [value]="language.LanguageCode">
                                            {{language.LanguageName}}
                                          </mat-option>
                                        </mat-select>
                                      
                                   </mat-form-field>
    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="form-group">
                              <input type="hidden" id="hdnMFilesAltUsrName" ng-value="altusername" />
                          </div>
                      </div>
                        <div class="row">
                            <div class="col-lg-12">
                              <button type="button" class="btn btn-purple" ng-click="Update()">{{'CTRUserConfigureSummary.Update' | translate}}</button> &nbsp;
                              <button type="button" *ngIf="cancelforuser" class="btn btn-purple" (click)="Back()">{{'CTRUserConfigureSummary.Close' | translate}}</button>&nbsp;</div>
                        </div>
                </div>
            </div>
        </div>
    
    </div>
            </div>
            </form>
    </div>

    </div>
    
      <!-- <div class="modal" role="dialog" id="setpass" style="padding-left: 50px;"> -->
       
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
          <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header btn-purple">
                   <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CommonItems.Password_Set' | translate }}</h2>
                </div>
                <div class="modal-body">
                   <div class= "row">
                      <div class="col-lg-12">
                         <div class="col-lg-5">
                            <div class="form-group" style="padding-top: 7px;">
                               <label>{{  "CommonItems.UserName"  | translate }}</label><span class="text-danger"></span>
                            </div>
                         </div>
                         <div class="col-lg-7">
                            <div class="form-group">
                               <input class="form-control" type="text" focus-me [(ngModel)]="username" name="username" required="" /> 
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class= "row">
                      <div class="col-lg-12">
                         <div class="col-lg-5">
                            <div class="form-group" style="padding-top: 7px;"><label>{{  "CommonItems.Password1"  | translate }}</label><span class="text-danger"></span></div>
                         </div>
                         <div class="col-lg-7">
                            <div class="form-group">
                               <!-- <input class="form-control" type="password" ng-model="passwordset" name="password" required=""/>  -->
                               <mat-form-field appearance="fill" style="width:100%; height: 45px;">
                                  <mat-label>{{  "CommonItems.Password1"  | translate }}</mat-label>
                                  <input  matInput [(ngModel)]="passwordset" [type]="hide ? 'password' : 'text'" required name="pass">
                                  <mat-icon matSuffix (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                               </mat-form-field>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class= "row">
                      <div class="col-lg-12">
                         <div class="col-lg-5">
                            <div class="form-group" style="padding-top: 7px;">
                               <label>{{  "CommonItems.ConfirmPassword"  | translate }}</label><span class="text-danger"></span>
                            </div>
                         </div>
                         <div class="col-lg-7" style="height: 12px;">
                            <div class="form-group">
                               <!-- <input class="form-control" type="password" ng-model="confirmpassword" name="confirmpassword" required="" /> -->
                               <mat-form-field appearance="fill" style="width:100%;">
                                  <mat-label>{{  "CommonItems.ConfirmPassword"  | translate }}</mat-label>
                                  <input  matInput [(ngModel)]="confirmpassword" [type]="hideNew ? 'password' : 'text'" required name="cpass">
                                  <mat-icon matSuffix (click)="myFunctionNew()">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                               </mat-form-field>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-warning" data-dismiss="modal"  (click)="Cancel()">{{  "CommonItems.Cancel"  | translate }}</button>
                   <button type="button"  data-dismiss="modal" class="btn btn-purple" (click)="Passwordset()">{{  "CommonItems.OK"  | translate }}</button>&nbsp; 
                </div>
             </div>
          </div>
       </div>




<!-- VerifyLogin -->
<form name="VerifyLoginform">
  <!-- <div class="modal" role="dialog" id="verifylogin"  style="padding-left: 50px;"> -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayVerifyLogin}">
    <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header btn-purple">
            <h2>{{  "CommonItems.Verify_Login"  | translate }}</h2>
           </div>
           <div class="modal-body">
              <div class= "row">
                 <div class="col-lg-12">
                    <div class="col-lg-5">
                       <div class="form-group" style="padding-top: 7px;">
                          <label>{{  "CommonItems.UserName"  | translate }}</label><span class="text-danger"></span>
                       </div>
                    </div>
                    <div class="col-lg-7">
                       <div class="form-group">
                          <input class="form-control" type="text" focus-me [(ngModel)]="username" name="username" required="" />            
                       </div>
                    </div>
                 </div>
              </div>
              <div class= "row">
                 <div class="col-lg-12">
                    <div class="col-lg-5">
                       <div class="form-group" style="padding-top: 7px;"><label>{{  "CommonItems.Password1"  | translate }}</label><span class="text-danger"></span></div>
                    </div>
                    <div class="col-lg-7">
                       <div class="form-group">
                          <mat-form-field appearance="fill" style="width:100%; height: 45px;">
                             <mat-label>{{  "CommonItems.Password1"  | translate }}</mat-label>
                             <input  matInput [(ngModel)]="verifypassword" [type]="hide ? 'password' : 'text'" required name="verpass">
                             <mat-icon matSuffix (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </mat-form-field>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-dismiss="modal"  (click)="Cancel()">{{  "CommonItems.Cancel"  | translate }}</button>
              <button type="button" data-dismiss="modal" ng-disabled="VerifyLoginform.$invalid" class="btn btn-purple" (click)="passwordverify()">{{'CommonItems.OK' | translate}}</button>
           </div>
        </div>
     </div>
  </div>
</form>


    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayEditMapNFC}">
      <div class="modal-dialog" role="document" style="margin-top: 80px;margin-left: 250px;overflow-y:initial">
        <div class="modal-content" style="width:1000px;height: 550px;">
          <div class="modal-header btn-purple">
            <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTRUserConfigureSummary.mapTemplate3' | translate }}</h2>
          </div>
          <div class="modal-body" style="height: 90vh;overflow-y: auto;overflow-x: hidden;">
            <div class= "row">
                <div class="col-sm-12">
                    <form role="form" name="airinvoice" novalidate="" style="padding-left:40px;" class="from-validate">
                       <div class="row">
                          <div class="col-sm-5" style="padding-left:20px;padding-right:5px;">
                             <div class="row">
                                <div class="col-sm-9">
                                   <label>{{'CTRUserConfigureSummary.mapTemplate23'| translate }}</label>
                                   <br /><input class="form-control" focus-me readonly="" type="text" [(ngModel)]="unique_id" name="uniqueno" required="" />
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-sm-9">
                                   <label>{{'CTRUserConfigureSummary.CardIdRead'| translate }}</label><span class="text-danger">*</span>
                                   <br /><input class="form-control" type="text" [(ngModel)]="Mapcardno" name="mapcardno" required="" />
                                </div>
                             </div>
                             <br/>
                             <div class="row">
                                <div style="padding-left:20px;">
                                   <button type="submit" class="btn btn-purple" [disabled]="btnmapcard" (click)="mapNFCId(Mapcardno)">{{'CTRMapNFCCard.Map_Id'| translate }}</button> &nbsp;
                                   <button type="submit" [disabled]="btngetcard" class="btn btn-purple" (click)="Getcardid()">{{'CTRUserConfigureSummary.GetCardID'| translate }}</button>&nbsp;
                                   <button type="submit" [disabled]="btnassign" class="btn btn-purple" (click)="Assign(Mapcardno)">{{'CTRMapNFCCard.Assign'| translate }}</button>&nbsp;
                                </div>
                             </div>
                             <div class="row">
                                <div *ngIf="notifyalert" style="padding-left:20px;padding-top:10px;">
                                   <span>{{'CTRUserConfigureSummary.mapTemplate27'| translate }}</span>
                                </div>
                             </div>
                          </div>
                          <div class="col-sm-7" style="padding-left:20px;padding-right:5px;">
                             <div class="form-group">
                                <p style="font-size:small;">
                                   {{'CTRUserConfigureSummary.mapTemplate4'| translate }}<br />
                                   <b>{{'CTRUserConfigureSummary.mapTemplate5' | translate }}</b><br />
                                   {{'CTRUserConfigureSummary.mapTemplate6'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate7'| translate }}<br />
                                   <b>{{'CTRUserConfigureSummary.mapTemplate8'| translate }}</b><br />
                                   {{'CTRUserConfigureSummary.mapTemplate9'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate10'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate11'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate12'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate13'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate14'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate15'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate16'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate17'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate18'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate19'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate21'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplateNote'| translate }}<br />
                                   {{'CTRUserConfigureSummary.mapTemplate22'| translate }}<br />
                                </p>
                             </div>
                             <!-- <div class="row">
                                <div class="col-lg-2"></div>
                                <button type="button" class="btn btn-danger" ng-click="back()">{{'CTRMapNFCCard.Cancel'| translate }}</button>
                             </div> -->
                          </div>
                       </div>
                    </form>


  
                </div>
             </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="back()">{{'CTRMapNFCCard.Cancel' | translate }}</button>
                            
          </div>
        </div>
      </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displaycurrentId}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header btn-purple">
            <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTRUserConfigureSummary.CurrentID' | translate }}</h2>
          </div>
          <div class="modal-body">
            <div class= "row">               
              <span>"{{'CTRUserConfigureSummary.SelectID'| translate }}" <span> {{Mapcardno}} </span>" {{'CTRUserConfigureSummary.Associated'| translate }}</span><br />
             </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" (click)="ConfirmCurrentId()">{{'CommonItems.Yes'| translate }}</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="Cancel()">{{'CommonItems.No' | translate }}</button>
                            
          </div>
        </div>
      </div>
    </div>

    <!-- UnMapNFC -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayUnMapNFC}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header btn-purple">
            <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CommonItems.UnMap' | translate }}</h2>
          </div>
          <div class="modal-body">
            <div class= "row">               
              <span>"{{'CommonItems.UnMapText'| translate }}"</span>
             </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" (click)="UnmapConfirm()">{{'CommonItems.Yes'| translate }}</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="Cancel()">{{'CommonItems.No' | translate }}</button>
                            
          </div>
        </div>
      </div>
    </div>

    <!-- AWSKeyAssign -->

    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayAssignAWSKey}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header btn-purple">
            <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTRUserConfigureSummary.Users' | translate }}</h2>
          </div>
          <div class="modal-body">
              <style type="text/css">
                 .Table {
                 display: table;
                 background-color: white;
                 }
                 .Title {
                 display: table-caption;
                 text-align: center;
                 font-weight: bold;
                 }
                 .Heading {
                 display: table-row;
                 font-weight: bold;
                 text-align: center;
                 }
                 .Row {
                 display: table-row;
                 }
                 .Cell {
                 display: table-cell;
                 border: 1px solid;
                 border-color: #eeeeee;
                 padding: 8px;
                 font-size: 14.5px;
                 font-family: sans-serif;
                 }
              </style>
              <div class="row">
                
                 <div class="scroll">
                    <div class="Table" style="width:100%;">
                       <div class="Heading">
                          <div class="Cell" style="width:10%; text-align:center;">
                             <input type="checkbox" [(ngModel)]="IsAllChecked" (change)="CheckUncheckAll()" />
                          </div>
                          <div class="Cell" style="text-align:center;">
                             <p>{{'CTRUserConfigureSummary.Users' | translate}}</p>
                          </div>
                       </div>
                       <div class="Row" *ngFor="let m of Userlist">
                          <div class="Cell ng-binding" style="width:10%; text-align:center;">
                             <label for="chkCustomer_{{m}}">
                             <input id="chkCustomer_{{m}}" type="checkbox" [(ngModel)]="m.Selected" checked="{{m.Selected}}" (change)="isAllSelected()" />
                             </label>
                          </div>
                          <div class="Cell ng-binding" style="width:40%;">
                             {{m.Username}}
                          </div>
                       </div>
                    </div>
                  </div>
                 <div class="row">
                    <div class="form-group">
                    </div>
                 </div>
                 <div class="row">
                    <div class="form-group">
                    </div>
                 </div>
                 <!-- <div class="row" style="text-align:center;">
                    <div class="col-lg-12">
                       <button type="button"  class="btn btn-purple" ng-click="UsersAssign()">{{'CommonItems.OK' | translate}}</button>&nbsp;&nbsp;&nbsp;
                       <button type="button" focus-me class="btn btn-purple"  ng-click="Close()">{{'CTR_JobGroupManagement.Close'|translate}}</button>
                    </div>
                 </div> -->
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" (click)="UsersAssign()">{{'CommonItems.OK'| translate }}</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="Cancel()">{{'CTR_JobGroupManagement.Close' | translate }}</button>
                            
          </div>
        </div>
      </div>
    </div>

    <!-- NFCMappingMode -->

    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayNFCMappingMode}">
      <div class="modal-dialog" role="document" style="margin-top: 80px;margin-left: 250px;overflow-y:initial">
        <div class="modal-content" style="width:900px;height: 400px;">
            <div class="modal-header btn-purple">
               <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTRUserConfigureSummary.mapTemplate3' | translate }}</h2>
            </div>
            <div class="modal-body" style="height: 90vh;overflow-y: auto;overflow-x: hidden;">
              <div class= "row">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="row">
                           <div class="col-sm-12">
                              <span>{{'CTRNFC.ScannerName'| translate }}</span>
                              <br />
                              <select name="state" focus-me required="" [(ngModel)]="scannername" class="form-control" (change)="ScannerChange(scannername)">
                                 <option value="" >{{'CTRNFC.SelectScanner'| translate }}</option >
                                 <option *ngFor="let option of ScannerList" value="{{option}}">{{option}}</option>
                              </select >
                           </div>
                        </div>
                        <br/>
                        <div class="row">
                           <div style="padding-left:20px;">
                              <button type="submit" class="btn btn-purple" [disabled]="btnOk" (click)="NFCMultipleOk(scannername)">OK</button> &nbsp;
                              <button type="button" class="btn btn-danger" (click)="Cancel()">{{'CTRMapNFCCard.Cancel'| translate }}</button> &nbsp;
                           </div>
                        </div>
                        <div class="row">
                           <div *ngIf="scannershow" style="padding-left:10px;padding-top:20px;">
                              <span>{{'CTRUserConfigureSummary.LoadScanner'| translate }}</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-7" style="padding-left:20px;padding-right:5px;">
                        <div class="form-group">
                           <p style="font-size:small;">
                              <b>{{'CTRNFC.lbl1'| translate }}</b><br />
                              {{'CTRNFC.lbl2'| translate }}<br />
                              {{'CTRNFC.lbl3'| translate }}<br />
                              {{'CTRNFC.lbl4'| translate }}<br />
                              {{'CTRNFC.lbl5'| translate }}<br />
                              {{'CTRNFC.lbl6'| translate }}<br />
                              {{'CTRNFC.lbl7'| translate }}<br />
                              {{'CTRNFC.lbl8'| translate }}<br />
                              {{'CTRNFC.lbl9'| translate }}<br />
                              {{'CTRNFC.lbl10'| translate }}<br />
                              {{'CTRNFC.lbl11'| translate }}<br />
                        </div>
                     </div>
                     <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-purple" (click)="UnmapConfirm()">{{'CommonItems.Yes'| translate }}</button>&nbsp;
                        <button type="button" class="btn btn-danger" (click)="Cancel()">{{'CommonItems.No' | translate }}</button>
                     </div> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   <!-- deleteUser -->

   <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDeleteuser}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTRUserConfigureSummary.Template24' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">               
            <span>{{'CTRUserConfigureSummary.Template25'| translate }}</span>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-purple" (click)="DeleteuserConfirm()">{{'CommonItems.Yes'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="Cancel()">{{'CommonItems.No' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>


  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="square-spin">  
    <div class="col-lg-12">
      <div class="col-lg-12">
        <span style="color: white;font-size: larger;">Tap the NFC Card on the scanner to map the ID. </span>  <br><br>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-3"></div>
        <div class="col-lg-7">
          <button type="button" class="btn btn-danger" (click)="cancelnfc()">Cancel</button>
        </div>
      </div>    
    </div>
    </ngx-spinner>



