<form role="form" name="licenseForm" (change)="isDirty=true">
    <div class="col-lg-12">       
 <!-- START panel-->
 <div id="panelDemo5" class="panel panel-default">
    <div class="panel-top">
        {{'CTRUserConfigureSummary.Create_User' | translate}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 5px;">
                            <span>{{'CTRUserConfigureSummary.Username1' | translate}}</span>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" (input)="userchange(user_name)" type="text" [(ngModel)]="user_name" name="username" required="" />
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="LF">
                        <div class="col-lg-3" style="padding-top: 5px;">
                            <span>{{'CTRUserConfigureSummary.Email' | translate}}</span>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" [disabled]="CRE_emailid" type="text" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" [(ngModel)]="emailid" name="emailid" required="" />
                            </div>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <span>{{'CTRUserConfigureSummary.HomeFolders' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" [disabled]="CRE_home_folder" type="text" [(ngModel)]="home_folder" name="homefolder" />
                            </div>
                    </div>  
                    </div>
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 5px;">
                            <span>{{'CTRUserConfigureSummary.NFCId' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" [disabled]="CRE_nfccard_id" type="text" [(ngModel)]="nfccard_id" name="nfccard" />
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="LF">
                        <div class="col-lg-3" style="padding-top: 10px;">
                            <span>{{'CTRUserConfigureSummary.First_Name' | translate}}</span>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" [disabled]="CRE_first_name" type="text" [(ngModel)]="first_name" name="fname" required="" />
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="LF">
                        <div class="col-lg-3" style="padding-top: 10px;">
                            <span>{{'CTRUserConfigureSummary.Last_Name' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" [disabled]="CRE_last_name" type="text" [(ngModel)]="last_name" name="lastname" />
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="egn">
                        <div class="col-lg-3" style="padding-top: 10px;">
                            <span>{{'CTRUserConfigureSummary.AWS_S3_AccessKeyID1' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="awsaccesskey" name="accesskey" />
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="egn">
                        <div class="col-lg-3" style="padding-top: 10px;">
                            <span>{{'CTRUserConfigureSummary.AWS_S3_SecretKey1' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="awssecretkey" name="secretkey" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 10px;">
                            <span>{{'CTRUserConfigureSummary.User_Role' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <!-- <select name="state" required="" title="{{'CTRUserdetail.selectrole' | translate}}" ng-model="Rolename" class="form-control" ng-change="Rolechange(Role)">
                                    <option value="">---{{'CTRUserConfigureSummary.Select_Role' | translate}}---</option>
                                    <option ng-repeat="option in UserRoles | orderBy:'RoleName'" value="{{option.RoleCode}}">{{option.RoleName}}</option>
                                </select>      -->
<!--                                 
                                <select class="form-control"  [(ngModel)]="Role" name="RoleCode" title="{{'CTRUserdetail.selectrole' | translate}}">
                                    <option value="">---{{'CTRUserConfigureSummary.Select_Role' | translate}}---</option>
                                    <option *ngFor="let role of roles" [value]="role.RoleCode" [selected]="role.RoleCode == Role">{{role.RoleName}} </option>
                                </select>    -->

                                <mat-form-field appearance="fill" title="{{'CTRUserdetail.selectrole' | translate}}"  style="width:100%;background-color: #ffffff;">
                                    <mat-label>{{'CTRUserConfigureSummary.User_Role' | translate}}</mat-label>
                                    <mat-select  [(ngModel)]="Role" name="RoleCodele"
                                    (selectionChange)="switchLang($event)">
                                      <mat-option *ngFor="let role of roles"  [value]="role.RoleCode">
                                        {{role.RoleName}}
                                      </mat-option>
                                    </mat-select>
                                  
                               </mat-form-field>
                               </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="Languageshow">
                        <div class="col-lg-3" style="padding-top: 10px;">
                            <span>{{'CTRUserConfigureSummary.Language' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <!-- <select class="form-control"  [(ngModel)]="Language" name="LanguageCode" title="{{'CTRUserdetail.selectlanguage' | translate}}">
                                    <option value="">-{{'CommonItems.SelectLang' | translate}}-</option>
                                    <option *ngFor="let language of languages" [value]="language.LanguageCode" [selected]="language.LanguageCode == Language">{{language.LanguageName}} </option>
                                </select>      -->
                                
                                <mat-form-field appearance="fill" title="{{'CTRUserdetail.selectlanguage' | translate}}"  style="width:100%;">
                                    <mat-label>{{'CTRUserConfigureSummary.Language' | translate}}</mat-label>
                                    <mat-select [(ngModel)]="Language" name="languagele"
                                    (selectionChange)="switchLang($event)">
                                      <mat-option *ngFor="let language of languages"  [value]="language.LanguageCode">
                                        {{language.LanguageName}}
                                      </mat-option>
                                    </mat-select>
                                  
                               </mat-form-field>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- <button type="button" (click)="ActivateLicense()" class="btn btn-purple">
                                {{'CTRlicence.Activate' | translate}}&nbsp;&nbsp;
                            </button>&nbsp;&nbsp;
                            <button type="button" [disabled]="deactivate" (click)="DectivateLicense()" class="btn btn-purple">
                                {{'CTRlicence.Deactivate' | translate}}
                            </button> -->

                            <button type="button" *ngIf="btnLD"  [disabled]="(first_name==null || emailid==null || user_name==null)" class="btn btn-purple" (click)="CreateNewUser()">{{'CTRUserConfigureSummary.Create_User' | translate}}</button> &nbsp;
                            <button type="button" *ngIf="btnLF" [disabled]="user_name==null" class="btn btn-purple" (click)="CreateNewUser()">{{'CTRUserConfigureSummary.Create_User' | translate}}</button> &nbsp;
                            <button type="button"  class="btn btn-purple" ng-click="Back()">{{'CTRUserConfigureSummary.Close' | translate}}</button>&nbsp;
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
        </div>
        </form>
        
