<style>
    .scroll{
height: 300px;
overflow-y: scroll;
}  
</style>
<div class="container-fluid" (change)="isDirty=true">  
    <div class="panel panel-default">      
        <div class="panel-heading">
            <label style="font-size:large;">{{'CTR_JobGroupManagement.Job_Group'|translate}}</label>
        </div>
        <div class="panel-body">
            <form role="form" name="editjobgroupForm" novalidate="" class="form-validate">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div>
                                <label>{{'CTR_JobGroupManagement.Name'|translate}}</label>
                                <input type="text" [(ngModel)]="Jobgroupname" name="jobname" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="Jobgroupname" name="jobname" ng-change="updatejobgroup()" tabindex="0" class="form-control" />
                        </div>
                    </div> -->
                    
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>{{'CTR_JobGroupManagement.Description'|translate}}</label>
                            <input type="text" [(ngModel)]="description" name="description" tabindex="0" class="form-control" />
                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="form-group" style="padding-top: 20px;">
                            <label></label>
                        <button  type="button" title="{{'CTR_JobGroupManagement.CreateJobGroup'|translate}}" (click)="try_adding_a_branch()" class="btn btn-sm btn-purple">
                            <mat-icon>add_box</mat-icon>
                                                </button>
                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="form-group">
                            <!-- <label></label> -->
                            <!-- <input ng-model="searchtxt" class="form-control" name="search" type="text" placeholder="Search User"> -->

                        </div></div>
                </div>
                <div class="row">
                    <div class="col-sm-4 ">
                        <div>
                            <label>{{'CTR_JobGroupManagement.Hierarchy'|translate}}</label>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table">{{'CTR_JobGroupManagement.Hierarchy'|translate}}</div>
                            </div>
                            <!-- START list group-->
                            <div class="scroll">
                                <div class="col-sm-12 table-bordered">
                                    <!-- <abn-tree tree-data="tree.my_data" tree-control="tree.my_tree" on-select="tree.my_tree_handler(branch)" ng-dblclick="tree.my_tree_mydoubleclick(branch)" expand-level="1" initial-selection=""></abn-tree> -->
                                    <div id="jobGroupsTreeDiv">

                                    </div>
                                
                                
                                </div>
                                <!-- END list group item-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group"></div> <div class="form-group"></div>
                        </div>
                    </div>
                    <div class="col-lg-1" style="text-align:center;">
                        <div class="row"><div class="form-group"></div></div>
                        <div class="row"><div class="form-group"></div></div>
                        <div class="row"><div class="form-group"></div></div>
                        <div class="row"><div class="form-group"></div></div>
                        <div class="row"><div class="form-group"></div></div>
                        <div class="row"><div class="form-group"></div></div>
                        <div class="row"><div class="form-group"></div></div>
                        <div>
                            <button type="button" mat-raised-button title="{{'CTR_JobGroupManagement.Addjobs'|translate}}" (click)="try_adding_a_job()" class="btn btn-sm btn-purple">
                                <mat-icon style="font-size: 35px;" [inline]="true">arrow_left</mat-icon>
                            </button>
                        </div>
                        <div class="form-group"></div>
                        <div>
                            <button type="button" mat-raised-button title="{{'CTR_JobGroupManagement.Removejobs'|translate}}" (click)="try_delete_a_job()" class="btn btn-sm btn-purple">
                                <mat-icon style="font-size: 35px;" [inline]="true">arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div><label>{{'CTR_JobGroupManagement.Assign_Jobs'|translate}}</label></div>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table"> {{'CTR_JobGroupManagement.Jobs'|translate}}</div>
                            </div>
                            <!-- START list group-->
                            <div class="scroll">
                                <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let m of Repository let i = index;">
                                    <div class="col-sm-1">  
                                    <label for="chkCustomer_{{m}}">
                                            <input id="chkCustomer_{{m.JobName}}"  type="checkbox" ng-disabled="m.disable" (change)="isAllSelected(m.Selected);" [(ngModel)]="m.Selected" [checked]="m.Selected1"
                                            name="editjobgroup" />
                                        </label>
                                    </div>
                                    <div class="col-lg-10">
                                        {{m.JobName}}
                                    </div>
                                </div>
                                <!-- END list group item-->
                            </div>
                        </div>
                    </div>
                    <!-- START list group-->
                    <!-- END list group-->
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-12">
                                    <label>{{'CTR_JobGroupManagement.AssignUsers'|translate}}</label>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table"> {{'CTR_JobGroupManagement.Users'|translate}}</div>
                            </div>
                            <!-- START list group-->
                            <div class="scroll">
                                <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let user of Users">
                                    <div class="col-sm-1">
                                        <label for="chkCustomer_{{user}}">
                                            <input id="chkCustomer_{{user}}" type="checkbox" (change)="isAllSelectedass(user.Selectedass);" [(ngModel)]="user.Selectedass" [checked]="user.Selectedass1" name="userjgroup" />
                                        </label>
                                    </div>
                                    <div class="col-lg-10">
                                        {{user.UserName}}
                                    </div>
                                </div>
                                <!-- END list group item-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{'CTRlicence.Note' | translate}}</label> {{'CTR_JobGroupManagement.JobGroupDoubleClick' | translate}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-purple" (click)="JobGroupUpdate()">{{'CTR_JobGroupManagement.Update'|translate}}</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-purple" (click)="Close()">{{'CTR_JobGroupManagement.Close'|translate}}</button>
                    
                            </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-5">
                        </div>
                        <button type="button" class="btn btn-purple" (click)="JobGroupUpdate()">{{'CTR_JobGroupManagement.Update'|translate}}</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-purple" (click)="Close()">{{'CTR_JobGroupManagement.Close'|translate}}</button>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':jobgroupeditdialog}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.JobgroupEdit' | translate }}</h2>
        </div>
        <div class="modal-body">
                <div class="form-vertical">
                   <div class="row">
                      <div class="col-lg-12" style="padding-top:2px;">
                         <div class="col-lg-5"><span>{{'CTR_JobGroupManagement.Name'| translate }}</span></div>
                         <div class="col-lg-7">
                            <div class="form-group">
                               <input type="text" focus-me class="form-control" name="groupname" ng-model="jobgroupname"/>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-lg-12" style="padding-top:2px;">
                         <div class="col-lg-5"><span>{{'CTR_JobGroupManagement.Description'| translate }}</span></div>
                         <div class="col-lg-7">
                            <div class="form-group">
                               <input type="text" class="form-control" name="descs" ng-model="desc" />
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-lg-11">
                      <div class="col-lg-6"></div>
                      <div class="form-group">
                         <button class="btn btn-purple" ng-model="proceedtrnfr" type="button" ng-click="Ok(jobgroupname,desc)"><i class="fa fa-arrow-circle-right fa-lg"></i>&nbsp;{{'CommonItems.OK'| translate }}</button>&nbsp;
                         <button class="btn btn-warning" type="button" ng-click="back()"><i class="fa fa fa-ban fa-lg"></i>&nbsp;{{'CommonItems.Cancel'| translate }}</button>
                      </div>
                   </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-purple" (click)="Ok()">{{'CTRExceptions.Yes'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopupRetrybatch()">{{'CTRExceptions.No' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>
















