<div class="container-fluid">
    <div class="row"><div class="form-group"></div></div>

    <div class="row" *ngIf="AllException">
        <div class="form-group" style="font-size:larger;">
            <h2><label>{{'CTR_Exception.Exception_AllUsers' | translate}}</label></h2>
        </div>
    </div>

    <div class="row" *ngIf="BatchException">
        <div class="form-group" style="font-size:larger;">
        <h2><label>{{'CTR_Exception.Batch_Exception' | translate}}</label></h2>
        </div>
    </div>

    <div class="row" *ngIf="BatchExceptionname">
        <div class="form-group" style="font-size:larger;">
            <div> {{'CTR_Exception.Batch_Name' | translate}} : {{BatchName}}</div>
        </div>
    </div>


    <div class="mat-elevation-z8" *ngIf="GetAllException">
        <table mat-table [dataSource]="dataSource" matSort>
    
          <ng-container matColumnDef="Username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:550px;"> {{'CTR_Exception.Username' | translate}} </th>
            <td mat-cell *matCellDef="let row" style="width:50%;cursor: grab;color: blue;text-decoration: underline;"><a  (click)="ViewBatch(row.UserId,row.Username)"> {{row.Username}}</a> </td>
          </ng-container>
          
    
          <ng-container matColumnDef="Batchcount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:50%;"> {{'CTR_Exception.Batch_Count' | translate}} </th>
            <td mat-cell *matCellDef="let row" style="width:50%;"> {{row.BatchCount}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

           <tr class="mat-row" *matNoDataRow>
              <td style="text-align: center;" class="mat-cell" colspan="12">No data available</td>
            </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>

      <div class="mat-elevation-z8" *ngIf="ViewBatchshow">
        <table mat-table [dataSource]="ViewBatchdataSource" matSort>
    
          <ng-container matColumnDef="BatchName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:335px;"> {{'CTR_Exception.Batch_Name' | translate}} </th>
            <td mat-cell *matCellDef="let row" style="color: blue;cursor: pointer; text-decoration: underline;"><a (click)="ViewBatchFiledetail(row.Id,row.Username,row.BatchName,row.ProviderCode,row.BatchParameter)"> {{row.BatchName}}</a> </td>
          </ng-container>

    
          <ng-container matColumnDef="CreatedOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:154px;"> {{'CTR_Exception.CreationDate' | translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.CreatedOn}} </td>
          </ng-container>

          <ng-container matColumnDef="FileCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:135px;"> {{'CTR_Exception.Document_Count' | translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.FileCount}} </td>
          </ng-container>

          <ng-container matColumnDef="Operation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:140px;"> {{'CTR_Exception.Operation' | translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.Operation}} </td>
          </ng-container>

          <ng-container matColumnDef="BatchParameter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:175px;"> {{'CTR_Exception.Parameters' | translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.BatchParameter}} </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:210px;"> {{'CTR_Exception.Action' | translate}} </th>
            <td mat-cell *matCellDef="let row" (click)="DeleteBatch(row.Id,row.BatchName)"><mat-icon style="color: red;">cancel</mat-icon>  </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="viewbatchdisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: viewbatchdisplayedColumns;"></tr>

           <tr class="mat-row" *matNoDataRow>
              <td style="text-align: center;" class="mat-cell" colspan="12">No data available</td>
            </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
<br>
      <div class="row" *ngIf="ViewBatchshow">
        <div class="col-sm-12">
            <button type="button" class="btn btn-purple" (click)="Back()">{{'CTR_Exception.Back' | translate}}</button>
        </div>
    </div>
    <div class="mat-elevation-z8" *ngIf="ViewBatchfile" (change)="isDirty=true">

              <table mat-table [dataSource]="ViewBatchFiledataSource" matSort>
    
                <ng-container matColumnDef="Document">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:550px;"> {{'CTR_Exception.Document' | translate}} </th>
                  <td mat-cell *matCellDef="let row" style="width:50%"><a (click)="ViewBatchFileview(row.Id)" style="color: blue; cursor: pointer;text-decoration: underline;">{{row.FileName}}</a></td>
                </ng-container>
                
          
                <ng-container matColumnDef="Exception">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:50%;"> {{'CTR_Exception.Exception' | translate}} </th>
                  <td mat-cell *matCellDef="let row" style="width:50%;"> {{row.ExceptionMessage}} </td>
                </ng-container>
      
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:210px;"> {{'CTR_Exception.Action' | translate}} </th>
                  <td mat-cell *matCellDef="let row" (click)="DeleteBatchFile(row.Id,row.FileName)"><mat-icon style="color: red;">cancel</mat-icon>  </td>
                </ng-container>
      
                <tr mat-header-row *matHeaderRowDef="viewbatchfiledisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: viewbatchfiledisplayedColumns;"></tr>
      
                 <tr class="mat-row" *matNoDataRow>
                    <td style="text-align: center;" class="mat-cell" colspan="12">No data available</td>
                  </tr>
              </table>
          
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

            <div class="row">
                <div class="form-group"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group" style="padding-left:35px;padding-top:5px;text-align:center;">
                        <span>{{'CTR_Exception.Parameters' | translate}}</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="parameters" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group" style="padding-left:35px;text-align:center;padding-top:5px;">
                        <span>{{'CTR_Exception.Username' | translate}}</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="usernameval" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" style="padding-left:35px;text-align:center;padding-top:5px;">
                        <span>{{'CTR_Exception.Password' | translate}}</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="password" name="password" class="form-control" [(ngModel)]="password" />
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  &nbsp;<button mat-raised-button class="btn btn-labeled btn-success" (click)="RetryBatch(parameters,usernameval,password)"><mat-icon>check_circle_outline</mat-icon> {{'CTR_Exception.Retry_Batch' | translate}}</button>&nbsp;
                  <button mat-raised-button class="btn btn-labeled btn-danger" (click)="RemoveBatch()"><mat-icon>cancel</mat-icon> {{'CTR_Exception.Remove_Batch' | translate}}</button>

                </div>
            </div>
            <div class="row">
                <div class="form-group"></div>
            </div>
            <div class="row">
                <div class="form-group"></div>
            </div>
    </div>
<br> 
   <div class="row" *ngIf="ViewBatchfile">
        <div class="col-sm-12">
            <button type="button" class="btn btn-purple" (click)="BackFile()">{{'CTR_Exception.Back' | translate}}</button>
        </div>
    </div>
    </div> 

<!-- DelateBatch -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header btn-purple">
            <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTRExceptions.DeleteBatch' | translate }}</h2>
          </div>
          <div class="modal-body">
            <div class= "row">
                <div class="col-sm-12">
                  <span>{{'CTRExceptions.DeleteText'| translate }}</span>
                </div>
             </div>  
          </div>
          <div class="modal-footer">
            <button type="button"  class="btn btn-purple" (click)="Confirm()">{{'CTRExceptions.Yes'| translate }}</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CTRExceptions.No' | translate }}</button>
                            
          </div>
        </div>
      </div>
    </div>
    
<!-- DeleteBatch File -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displaydeletefile}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header btn-purple">
            <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTRExceptions.DeleteBatchFile' | translate }}</h2>
          </div>
          <div class="modal-body">
            <div class= "row">
                <div class="col-sm-12">
                  <span>{{'CTRExceptions.DeleteBatchFileText'| translate }}</span>
                </div>
             </div>  
          </div>
          <div class="modal-footer">
            <button type="button"  class="btn btn-purple" (click)="ConfirmDeleteFile()">{{'CommonItems.Yes'| translate }}</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="closePopupDFile()">{{'CommonItems.No' | translate }}</button>
                            
          </div>
        </div>
      </div>
    </div>

    <!-- Remove Batch -->

    
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':removebatch}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header btn-purple">
            <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTRExceptions.DeleteBatch' | translate }}</h2>
          </div>
          <div class="modal-body">
            <div class= "row">
                <div class="col-sm-12">
                  <span>{{'CTRExceptions.DeleteText'| translate }}</span>
                </div>
             </div>  
          </div>
          <div class="modal-footer">
            <button type="button"  class="btn btn-purple" (click)="ConfirmDeleteBatch()">{{'CTRExceptions.Yes'| translate }}</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="closePopupDbatch()">{{'CTRExceptions.No' | translate }}</button>
                            
          </div>
        </div>
      </div>
    </div>

    <!-- RetryBatch -->

    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':retrybatch}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header btn-purple">
            <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTRExceptions.RetryUpload' | translate }}</h2>
          </div>
          <div class="modal-body">
            <div class= "row">
                <div class="col-sm-12">
                  <span>{{'CTRExceptions.RetryText'| translate }}</span>
                </div>
             </div>  
          </div>
          <div class="modal-footer">
            <button type="button"  class="btn btn-purple" (click)="ConfirmRetryBatch()">{{'CTRExceptions.Yes'| translate }}</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="closePopupRetrybatch()">{{'CTRExceptions.No' | translate }}</button>
                            
          </div>
        </div>
      </div>
    </div>