<form role="form" name="OneDrive" (change)="isDirty=true">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" title="{{'CTROneDrive.SaveChangesOD' | translate}}" class="btn btn-purple" (click)="SaveODBConnector()">{{'CTROneDrive.SaveOD' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.Map_Jobs' | translate}}" (click)="ODBMapJobs()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_Exception.Back' | translate}}" ng-click="Back()">{{'CTR_Exception.Back' | translate}}</button>
            </div>
        </div>
        <div class="form-group"></div>
            <div id="panelDemo7" class="panel panel-default">
                <div class="panel-top">{{'CTROneDrive.ODBOAuth_V20' | translate}}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-sm-12">
                                                    <div class="col-lg-4">
                                                        <div class="col-sm-12" title="{{'CTREgnyteConnect.Useservicelogin' | translate}}">
                                                            <label>
                                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="servicelogin" (change)="servicechange(servicelogin)" name="chkweblogin">{{'CTREgnyteConnect.Useservicelogin' | translate }}</mat-checkbox>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1" style="padding-top:10px;" ng-click="infopopup();">
                                                    <!--<div><em class="fa fa-info-circle"></em></div>-->
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group"></div>

                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5">
                                                    <span>
                                                        {{'CommonItems.ApplicationID_V20' | translate}}
                                                    </span><span class="text-danger">*</span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="form-group">
                                                        <input class="form-control" [disabled]="AppSettings" type="text" [(ngModel)]="appid" name="aid"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5">
                                                    <span>
                                                        {{'CommonItems.ApplicationSecret_V20' | translate}}
                                                    </span><span class="text-danger">*</span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="form-group">
                                                        <input class="form-control" [disabled]="AppSettings" type="text" [(ngModel)]="appsecret" name="asecreat"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="Hideredirectforserviceenable">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5">
                                                    <span>
                                                        {{'CommonItems.Redirecturl_V20' | translate}}
                                                    </span><span class="text-danger">*</span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="form-group">
                                                        <input class="form-control" [disabled]="AppSettings" type="text" [(ngModel)]="redirecturl" name="rurl" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-9">
                                                            <div class="form-group">
                                                                <button type="button" name="btnedit" class="btn btn-purple" title="{{'CommonItems.EditSettings' | translate}}" (click)="EditSettings()">{{'CommonItems.Edit' | translate}}</button>&nbsp;&nbsp;&nbsp;
                                                                <button type="button" name="btnreset" class="btn btn-purple" title="{{'CommonItems.Resetsettings' | translate}}" (click)="ResetSettings()">{{'CommonItems.ResettoDefault' | translate}}</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" *ngIf="enableforservice">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5">
                                                    <span>
                                                        {{'CommonItems.UserName' | translate}}
                                                    </span><span class="text-danger">*</span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" [(ngModel)]="odbusername" name="ousername" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5">
                                                    <span>
                                                        {{'CommonItems.Password1' | translate}}
                                                    </span><span class="text-danger">*</span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="input-group">
                                                        <!-- <input type="{{inputType}}" ng-disabled="password" name="password" class="form-control" ng-model="odbpassword" />
                                                        <span class="input-group-addon">
                                                            <span class="{{showHideClass}}" ng-click="showPassword()" style="cursor:pointer"></span>
                                                        </span> -->

                                                        <input class="form-control" type="password" [(ngModel)]="odbpassword" name="opassword" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group"></div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5"></div>
                                                <div class="col-lg-7">
                                                    <div class="form-group">
                                                        <button type="button" [disabled]="(odbusername==null || odbpassword==null || appid==null || appsecret==null)||(odbusername=='' || odbpassword=='' || appid=='' || appsecret=='')" title="{{'CTREgnyteConnect.GetAccessToken' | translate}}" class="btn btn-purple" (click)="GetAccessToken()">{{'CTREgnyteConnect.GetAccessToken' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5">
                                                    <span>
                                                        {{'CommonItems.TokenCreatedOn' | translate}}
                                                    </span>
                                                    <span class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="form-group">
                                                        <input class="form-control" readonly type="text" [(ngModel)]="tokencreatedon" name="tcon" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="note">
                                    <div class="col-lg-12">
                                        <div class="col-lg-12">
                                            <b> <span class="text-danger">*</span></b>
                                            {{'CTRDropBoxConnect.DropBoxNote' | translate}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="panelDemo7" class="panel panel-default">
                <div class="panel-top">{{'CTROneDrive.Root_Folder3' | translate}}</div>
                <div class="panel-body">
                    <p>
                        {{'CTROneDrive.Specify_Folder3' | translate}}
                    </p>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-0.5">
                            </div>
                            <div class="col-lg-11">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4" title="{{'CTROneDrive.CTROneDriveTooltip5' | translate}}">
                                            <label>
                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Homefolder" (change)="ODBConnector('1')" name="chkwebsite">{{'CTROneDrive.HomeFolder' | translate }}</mat-checkbox>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-3" title="{{'CTROneDrive.CTROneDriveTooltip1' | translate}}">
                                            
                                            <label>
                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Specificfolder" (change)="ODBConnector('2')" name="chklocal">{{'CTROneDrive.Specific_Folder3' | translate }}</mat-checkbox>
                                            </label>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input class="form-control" [disabled]="folder" name="rooid" type="text" [(ngModel)]="RootFolderId" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div id="panelDemo7" class="panel panel-default">
                <div class="panel-top">{{'CTROneDrive.Login_Reminder' | translate}}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-0.5">
                            </div>
                            <div class="col-lg-11">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-3" title="{{'CTROneDrive.CTROneDriveTooltip2' | translate}}">                                    
                                            <label>
                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Remind" (change)="LogReminder(Remind)" name="chklocal1">{{'CTROneDrive.Remind3' | translate }}</mat-checkbox>
                                            </label>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <select class="form-control" [disabled]="Reminder" name="typeremind" [(ngModel)]="RemindDays" required>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <span>{{'CTROneDrive.login_expires3' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-12">
                                            <label title="{{'CTROneDrive.CTROneDriveTooltip3' | translate}}">
                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" [disabled]="Reminder" class="example-margin" [(ngModel)]="InformUser" name="chklocal2">{{'CTROneDrive.Inform_User3' | translate }}</mat-checkbox>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"></div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-3" title="{{'CTROneDrive.CTROneDriveTooltip4' | translate}}">
                                            <label title="{{'CTROneDrive.CTROneDriveTooltip3' | translate}}">
                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" [disabled]="Reminder" class="example-margin" (change)="LogReminderAdmin(InformAdmin)" [(ngModel)]="InformAdmin" name="chkfolder">{{'CTROneDrive.Inform_Administrator3' | translate }}</mat-checkbox>
                                            </label>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input class="form-control" [disabled]="AdminEmail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" type="text" [(ngModel)]="AdminMail" name="mail" required="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-purple" title="{{'CTROneDrive.Email_Options1' | translate}}" data-toggle="modal" data-target="#OneDriveEmail" (click)="EmailOption()">{{'CTROneDrive.Email_Options1' | translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
    </div>
</form>

<form>
    <div class="modal" role="dialog" id="OneDriveEmail">
      <div class="modal-dialog">
        <div class="modal-content" style="width:750px;">
          <div class="modal-header">
                
  
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-top" style="display: block;"><h2>{{'CommonItems.EmailOptionSave' | translate}}</h2>
      </div>
    </div>
  
  </div>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-0.5"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-0.2"></div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>{{'CommonItems.Subject' | translate}}</label>
                                    <span class="text-danger">*</span>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control" focus-me type="text" [(ngModel)]="EmailSubject" name="emailsub" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <div class="col-sm-0.2">
                                </div>
                                <div class="form-group">
                                    <label>{{'CommonItems.EmailBody' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div>
                                    <textarea class="form-control" type="text" [(ngModel)]="EmailBody" name="emailbody" style="height:120px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal" ng-disabled="BoxEmailOptionform.$invalid" (click)="SaveEmailOption()">{{'CommonItems.OK' | translate}}</button>
            <button class="btn btn-warning" data-dismiss="modal">{{'CommonItems.Cancel' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">
              <div class="col-sm-12">
                 <div class="row" *ngIf="userlist">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                              
                              <!-- <input type="text" focus-me class="form-control autocomplete" ng-model="username" typeahead="user for user in ListOfUser | filter:$viewValue"> -->
                          
                              <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="testusername" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                      <datalist id="dynmicUserIds">
                          <select>
                        <option *ngFor="let item of ListOfUser">{{item}}</option>
                      </select>
                      </datalist>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row" *ngIf="txtuser">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="testusername" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CTR_JobManagement.Target'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                             <input class="form-control" type="text" [(ngModel)]="target" name="targetval" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(testusername,target)">{{'CommonItems.Test'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>