<form role="form" name="HomeFolder" (change)="isDirty=true">
    <div class="col-lg-12">

        <div class="row">
            <div class="col-lg-12">
                <button type="button" title="{{'CTRFTP.SaveChangesFTP' | translate}}" class="btn btn-purple" (click)="FTPConnectorSave()">{{'CTRFTP.SaveFTP' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.Map_Jobs' | translate}}" (click)="FtpFolderMapJobs()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_Exception.Back' | translate}}" ng-click="Back()">{{'CTR_Exception.Back' | translate}}</button>
            </div>
        </div>
        <div class="form-group"></div>
        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-top">{{'CTRFTP.FTP_Site' | translate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-0.5">
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-3" style="padding-top: 8px;">
                                    <span>{{'CTRFTP.FTP_Server' | translate}}</span>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input class="form-control" [disabled]="folderpath" type="text" [(ngModel)]="ftpserver" name="ftserver" />
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="col-lg-2" style="padding-top: 8px;">
                                        <span>{{'CTRFTP.port' | translate}}</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <input class="form-control" [disabled]="folderpath" type="text" ng-pattern="/^\d+$/" name="port" [(ngModel)]="PortNo" />
                                        <!-- <span ng-show="EmailForm.port.$dirty &amp;&amp; EmailForm.port.$error.required" class="text-danger"></span>
                                        <span ng-show="EmailForm.port.$dirty &amp;&amp; EmailForm.port.$error.pattern" class="text-danger">Please enter only numbers</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <span>{{'CTRFTP.Protocol' | translate}}</span>
                                    </div>
                                </div>
                                <div class="col-lg-9">                                   
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="ftpprotocolFTP" (change)="protocolchange('1')" name="inlineradio1">{{'CTRFTP.Standard_FTP' | translate }}</mat-checkbox>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="ftpprotocolSFTP" (change)="protocolchange('2')" name="inlineradio2">{{'CTRFTP.SFTP' | translate }}</mat-checkbox>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="ftpprotocolFTPSI" (change)="protocolchange('3')" name="inlineradio3">{{'CTRFTP.FTPSImp' | translate }}</mat-checkbox>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="ftpprotocolFTPSE" (change)="protocolchange('4')" name="inlineradio4">{{'CTRFTP.FTPSExp' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="row" *ngIf="Onlysftp">
                                <div class="col-lg-4">
                                    
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="usekeyfile" (change)="SFTPUseKeyFile(usekeyfile)" name="chkusekeyfile">{{'CTRFTP.SFTPUseKeyFile' | translate }}</mat-checkbox>
                                    </label>

                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="row" *ngIf="Onlysftp">
                                <div class="col-lg-2">
                                    <span>{{'CTRFTP.FTPPrivateKey' | translate}}</span><span *ngIf="mandatory" class="text-danger">*</span>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input [disabled]="usekey" class="form-control" type="text" name="ftppkey" [(ngModel)]="ftpprivatekey" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="keyFile" class="btn btn-purple">
                                            {{'CTRFTP.SFTPUploadkeyfile' | translate}}
                                        </label>
                                        <input id="keyFile" [disabled]="usekey" style="display:none" type="file" name="upload" class="form-control-file" [(ngModel)]="uploadimage" (change)="onChange($event)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="Onlysftp">
                                <div class="col-lg-2">
                                    <span>{{'CTRFTP.FTPUsername' | translate}}</span><span *ngIf="mandatory" class="text-danger">*</span>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input class="form-control" [disabled]="usekey" type="text" [(ngModel)]="ftpusername" name="ftpuname" />
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <span>{{'CTRFTP.FTPPassPhrase' | translate}}</span>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input class="form-control" [disabled]="usekey" type="password" [(ngModel)]="ftppassphrase" name="ftppsw" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-top">{{'CTRFTP.Copy_To_Folder' | translate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-0.5">
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-4">
                                    
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="DetermineAuto" (change)="SendEmail('1')" name="chkwebsite">{{'CTRFTP.Determine_Folder1' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"></div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Enterfolderchk" (change)="SendEmail('2')" name="chklocal">{{'CTRFTP.Entered_Here1' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input class="form-control" [disabled]="Enterpath" type="text" name="enterpath" [(ngModel)]="EnterHerepath" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-top">{{'CTRFTP.Authentication' | translate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-5">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="AdminCredentials" (change)="Authentication('1')" name="chkwebsite1">{{'CTRFTP.Admin_Credentials1' | translate }}</mat-checkbox>
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-5">
                                    
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="CurrentUser" (change)="Authentication('2')" name="chklocal1">{{'CTRFTP.User_Credentials2' | translate }}</mat-checkbox>
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group"></div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-5">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="FollowCredentials" (change)="Authentication('3')" name="chkfolder">{{'CTRFTP.Following_Credentials4' | translate }}</mat-checkbox>
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <div class="col-sm-4">
                                            <div class="form-group" style="padding-top:4px;">
                                                <span>{{'CTRFTP.FTPUsername' | translate}}</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <input class="form-control" [disabled]="username" type="text" name="user" [(ngModel)]="Username" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <div class="col-sm-4">
                                            <div class="form-group" style="padding-top:4px;">
                                                <span>{{'CTRFTP.FTPPassword' | translate}}</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <!-- <input type="{{inputType}}" class="form-control" ng-model="Password" ng-disabled="password" name="Passwordval" />
                                                <span class="input-group-addon"><span class="{{showHideClass}}" ng-click="showPassword()" style="cursor:pointer"></span></span> -->
                                                <input class="form-control" [disabled]="password" type="password" name="psw" [(ngModel)]="Password" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </div>  
        </form> 

        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header btn-purple">
                  <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
                </div>
                <div class="modal-body">
                  <div class= "row">
                      <div class="col-sm-12">
                         <div class="row" *ngIf="userlist">
                            <div class="col-sm-12">
                               <div class="col-sm-0.5"></div>
                               <div class="col-sm-6">
                                  <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="form-group">
                                      
                                      <!-- <input type="text" focus-me class="form-control autocomplete" ng-model="username" typeahead="user for user in ListOfUser | filter:$viewValue"> -->
                                  
                                      <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="testusername" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                              <datalist id="dynmicUserIds">
                                  <select>
                                <option *ngFor="let item of ListOfUser">{{item}}</option>
                              </select>
                              </datalist>
                                  
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="row" *ngIf="txtuser">
                            <div class="col-sm-12">
                               <div class="col-sm-0.5"></div>
                               <div class="col-sm-6">
                                  <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="form-group"><input class="form-control" type="text" [(ngModel)]="testusername" name="username" required="" />
                                  </div>
                               </div>
                            </div>
                         </div>
        
                         <div class="row">
                            <div class="col-sm-12">
                               <div class="col-sm-0.5">
                               </div>
                               <div class="col-sm-6">
                                  <div class="form-group"><label>{{'CommonItems.Password1'| translate }}</label></div>
                               </div>
                               <div class="col-sm-6">                         
                            <mat-form-field appearance="fill" style="width:95%;">
                                <mat-label>{{'CommonItems.Password1'| translate }}</mat-label>
                                <input  matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="testpassword" name="password" required>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                               </div>
                            </div>
        
                         </div>
        
                         <div class="row">
                            <div class="col-sm-12">
                               <div class="col-sm-0.5"></div>
                               <div class="col-sm-6">
                                  <div class="form-group"><label>{{'CTR_JobManagement.Target'| translate }}</label><span class="text-danger">*</span></div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="form-group">
                                     <input class="form-control" type="text" [(ngModel)]="target" name="targetval" required="" />
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>  
                </div>
                <div class="modal-footer">
                  <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(testusername,testpassword,target)">{{'CommonItems.Test'| translate }}</button>&nbsp;
                  <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                                  
                </div>
              </div>
            </div>
          </div>