<div class="container-fluid">
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
    <button type="button" class="btn btn-purple" title="{{'CTR_Exception.Back' | translate}}" ng-click="BackToConnectorList()">{{'CTR_Exception.Back' | translate}}</button>

    <div class="form-group">
    </div>
    <div class="panel panel-default">
        <div class="row">
            <div class="form-group">
            </div>
        </div>
        <div class="panel-heading">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label style="font-size:large;">{{'Nx_CTR_PrinterConnector.Select_printer' | translate}}</label>
                </div>
                <div class="col-sm-2" style="text-align:center;">
                    <span>{{'Nx_CTR_PrinterConnector.Template_Job' | translate}}</span>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" readonly="" type="text" ng-model="templateJobName" />
                </div>
                <div>
                    <!-- <button type="button" title="{{'Nx_CTR_PrinterConnector.PrinterTooltip1' | translate}}" ng-disabled="templateok" ng-click="TemplateJobMapping()" class="btn btn-sm btn-purple">
                        <em class="fa fa-check-square fa-1x"></em>
                    </button>
                    <button type="button" title="{{'Nx_CTR_PrinterConnector.PrinterTooltip2' | translate}}" ng-click="ClearJob()" ng-disabled="templateclear" class="btn btn-sm btn-purple">
                        <em class="fa fa-times-circle fa-1x"></em>
                    </button> -->
                    <button mat-icon-button title="{{'CTR_JobManagement.Template' | translate}}" [disabled]="templateok" (click)="Templatejobmap()"><mat-icon>check_circle</mat-icon></button>
                    <button mat-icon-button style="cursor: pointer;" title="{{'CTR_JobManagement.Clear' | translate}}" (click)="clearjob()" [disabled]="templateclear"><mat-icon>delete</mat-icon></button>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group"></div>
        </div>
        <form role="form" name="printerForm" novalidate="" class="form-validate">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                    <div class="row-table">{{'Nx_CTR_PrinterConnector.Available_Printers' | translate}}</div>
                                </div>
                                <!-- START list group-->
                                <div class="scroll" style="height:270px;">
                                    <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let m of Printers">
                                        <div class="col-sm-1 border">
                                            <label for="chkCustomer_{{m}}"><input id="chkCustomer_{{m.PrinterName}}" type="checkbox" ng-model="m.Selected" /></label>
                                        </div>
                                        <div class="col-lg-10">
                                            {{m.PrinterName}}
                                        </div>
                                    </div>
                                    <!-- END list group item-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2" style="text-align:center;">
                                        <!-- <button type="button" title="{{'Nx_CTR_PrinterConnector.Map_Jobs' | translate}}" ng-click="JobMap()" class="btn btn-sm btn-purple">
                                            <em class="fa fa-paste fa-1x"></em>
                                        </button> -->

                                        <button mat-icon-button title="{{'CTR_JobManagement.Map_Jobs' | translate}}" (click)="JobMap()" class="btn btn-sm btn-purple"><mat-icon>maps_ugc</mat-icon></button>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="checkbox" title="{{'Nx_CTR_PrinterConnector.PrinterTooltip3' | translate}}" #saveUserNameCheckBox id="saveUserNameCheckBox" [checked]="Include" (change)="Includechk(saveUserNameCheckBox.checked)" />&nbsp;{{'Nx_CTR_PrinterConnector.Include_Local' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                    <div class="row-table"> {{'Nx_CTR_PrinterConnector.Current_Jobs' | translate}}</div>
                                </div>
                                <!-- START list group-->
                                <div class="scroll" style="height:270px;">
                                    <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let m of Jobs">
                                        <div class="col-sm-1 border">
                                            <label for="chkCustomer_{{m}}">
                                                <input id="chkCustomer_{{m.Id}}" type="checkbox" ng-model="m.Selected" ng-change="CheckUncheckAllDoc(m.Selected)" />
                                            </label>
                                        </div>
                                        <div class="col-lg-10">
                                            {{m.JobName}}
                                        </div>
                                    </div>
                                    <!-- END list group item-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group"></div> <div class="form-group"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <!-- <button type="button" title="{{'Nx_CTR_PrinterConnector.Edit_Job' | translate}}" ng-disabled="multipleedit" ng-click="JobEdit()" class="btn btn-sm btn-purple">
                                            <em class="fa fa-edit fa-1x"></em>
                                        </button>&nbsp;&nbsp;
                                        <button type="button" title="{{'Nx_CTR_PrinterConnector.PrinterTooltip6' | translate}}" ng-click="JobRefresh()" class="btn btn-sm btn-purple">
                                            <em class="fa fa-refresh fa-1x"></em>
                                        </button>&nbsp;&nbsp;
                                        <button type="button" title="{{'Nx_CTR_PrinterConnector.Delete_Job' | translate}}" ng-click="DeleteJob()" class="btn btn-sm btn-purple">
                                            <em class="fa fa-trash-o fa-1x"></em>
                                        </button> -->
                                        <button mat-icon-button title="{{'CTR_JobManagement.JEdit' | translate}}" [disabled]="multipleedit" data-toggle="modal" data-target="#editJob" (click)="JobEdit()" class="btn btn-sm btn-purple"><mat-icon>edit</mat-icon></button>&nbsp;&nbsp;
                                        <button mat-icon-button title="{{'CTR_JobManagement.JRefresh' | translate}}" ng-click="JobRefresh()" class="btn btn-sm btn-purple"><mat-icon>refresh</mat-icon></button>&nbsp;&nbsp;
                                        <button mat-icon-button title="{{'CTR_JobManagement.JDelete' | translate}}" ng-click="DeleteJob()" class="btn btn-sm btn-purple"><mat-icon>delete</mat-icon></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                    <div class="row-table">{{'Nx_CTR_PrinterConnector.Job_Groups' | translate}}</div>
                                </div>
                                <!-- START list group-->
                                <div class="scroll" style="height:270px;">
                                    <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let jobgroup  of Jobgroups">
                                        <div class="col-sm-1 border">
                                            <label for="chkCustomer_{{jobgroup.Id}}">
                                                <input id="chkCustomer_{{jobgroup.Id}}" type="checkbox" ng-model="jobgroup.Selected" ng-change="CheckUncheckAllJobGroup(jobgroup.Selected)" />
                                            </label>
                                        </div>
                                        <div class="col-lg-10">
                                            {{jobgroup.JobGroupName}}
                                        </div>
                                    </div>
                                    <!-- END list group item-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group"></div> <div class="form-group"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <!-- <button type="button" title="{{'Nx_CTR_PrinterConnector.PrinterTooltip4' | translate}}" ng-click="JobGroupsCreate()" class="btn btn-sm btn-purple">
                                            <em class="fa fa-plus-square fa-1x"></em>
                                        </button>&nbsp;&nbsp;
                                        <button type="button" title="{{'Nx_CTR_PrinterConnector.PrinterTooltip5' | translate}}" ng-disabled="multipleeditjobgroup" ng-click="JobGroupEdit()" class="btn btn-sm btn-purple">
                                            <em class="fa fa-edit fa-1x"></em>
                                        </button>&nbsp;&nbsp;
                                        <button type="button" title="{{'Nx_CTR_PrinterConnector.PrinterTooltip6' | translate}}" ng-click="JobGroupRefresh()" class="btn btn-sm btn-purple">
                                            <em class="fa fa-refresh fa-1x"></em>
                                        </button>&nbsp;&nbsp;
                                        <button type="button" title="{{'Nx_CTR_PrinterConnector.PrinterTooltip7' | translate}}" ng-click="JobGroupDelete()" class="btn btn-sm btn-purple">
                                            <em class="fa fa-trash-o fa-1x"></em>
                                        </button> -->
                                        <button mat-icon-button title="{{'CTR_JobManagement.JCreate' | translate}}" (click)="JobGroupscreate()" class="btn btn-sm btn-purple"><mat-icon>add</mat-icon></button>&nbsp;&nbsp;
                                        <button mat-icon-button title="{{'CTR_JobManagement.JobgroupEdit' | translate}}" ng-disabled="multipleeditjobgroup" ng-click="JobGroupEdit()" class="btn btn-sm btn-purple"><mat-icon>edit</mat-icon></button>&nbsp;&nbsp;
                                        <button mat-icon-button title="{{'CTR_JobManagement.JRefresh' | translate}}" ng-click="JobGroupRefresh()" class="btn btn-sm btn-purple"><mat-icon>refresh</mat-icon></button>&nbsp;&nbsp;
                                        <button mat-icon-button title="{{'CTR_JobManagement.JobgroupDelete' | translate}}" ng-click="JobGroupDelete()" class="btn btn-sm btn-purple"><mat-icon>delete</mat-icon></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row"><div class="form-group"></div></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">
              <div class="col-sm-12">
                 <div class="row" *ngIf="userlist">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                              
                              <!-- <input type="text" focus-me class="form-control autocomplete" ng-model="username" typeahead="user for user in ListOfUser | filter:$viewValue"> -->
                          
                              <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="testusername" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                      <datalist id="dynmicUserIds">
                          <select>
                        <option *ngFor="let item of ListOfUser">{{item}}</option>
                      </select>
                      </datalist>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row" *ngIf="txtuser">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="testusername" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'Nx_CTR_PrinterConnector.printer'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                             <input class="form-control" type="text" [(ngModel)]="target" name="targetval" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(testusername,target)">{{'CommonItems.Test'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>