<form role="form" name="personForm" (change)="isDirty=true">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                    <button class="btn btn-purple" title="{{'CTRGeneralexception.SaveChanges' | translate}}" (click)="SaveGeneralSettings()">{{'CTRGeneralexception.SaveGE' | translate}}</button></div>  
                </div>
                <div class="form-group"></div>
                <!-- START panel-->
                <div id="panelDemo5" class="panel panel-default">
                    <div class="panel-top">
                    {{'CTRGeneralexception.Generalsettings' | translate}}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                    <div class="row" *ngIf="Languageshow">
                                        <div class="col-lg-3" style="padding-top: 5px;">
                                            <span>{{'CTRGeneralexception.defaultLanguage' | translate}}</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <select class="form-control"  [(ngModel)]="Language" name="LanguageCode" title="{{'CTRUserConfigureSummary.Select_Language' | translate}}">
                                                    <!-- <option value="">--Select--</option> -->
                                                    <option *ngFor="let language of languages" [value]="language.LanguageCode" [selected]="language.LanguageCode == Language">{{language.LanguageName}} </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3" style="padding-top: 5px;">
                                            <span>{{'CTRGeneralexception.Remove_log' | translate}}</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <select class="form-control" [disabled]="EnableLogCheck!=true" title="{{'CTRGeneralexception.Tooltip2' | translate}}" ng-disabled="Logretention" name="type" [(ngModel)]="LogRetentionDays" required>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>                                              
                                                </select>
                                            </div>  
                                        </div>
                                        <div class="col-lg-1">
                                            <span>{{'CTRGeneralexception.Days' | translate}}</span>
                                        </div>  
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div title="{{'CTRGeneralexception.Tooltip3' | translate}}">
                                                <!-- <label><input type="checkbox" style="width: 17px;height: 17px;" [(ngModel)]="DeleteReleasedocs" name="chkDirect" />
                                                    &nbsp;&nbsp;&nbsp;{{'CTRGeneralexception.DeleteRel_Documents' | translate}}</label> -->
                                                    <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="DeleteReleasedocs" name="chkDirect">{{'CTRGeneralexception.DeleteRel_Documents' | translate}}</mat-checkbox>

                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                            <select class="form-control" [disabled]="DeleteReleasedocs!=true" title="{{'CTRGeneralexception.Tooltip4' | translate}}" name="keepdoc" [(ngModel)]="DaysToKeepDocs" required>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                            </select>
                                        </div>
                                    </div> 
                                        <div class="col-lg-1">
                                            <span>{{'CTRGeneralexception.Days' | translate}}</span>
                                        </div>   
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3" style="padding-top: 5px;">
                                            <span>{{'CTRGeneralexception.UIDPattern_V20' | translate}}</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <select class="form-control" title="{{'CTRGeneralexception.UIDAuthPattern_V20' | translate}}" name="UI" [(ngModel)]="UIPattern" required>
                                                    <option value="1">{{'CTRGeneralexception.UIDPattern1_V20' | translate}}</option>
                                                    <option value="2">{{'CTRGeneralexception.UIDPattern2_V20' | translate}}</option>
                                                    <option value="3">{{'CTRGeneralexception.UIDPattern3_V20' | translate}}</option>
                                                    <option value="4">{{'CTRGeneralexception.UIDPattern4_V20' | translate}}</option>
                                                    <option value="5">{{'CTRGeneralexception.UIDPattern5_V20' | translate}}</option>
                                                    <option value="6">{{'CTRGeneralexception.UIDPattern6_V20' | translate}}</option>    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3" style="padding-top: 10px;">
                                            <span>{{'CTRGeneralexception.UIDLength_V20' | translate}}</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group" title="{{'CTRGeneralexception.UIDAuthLength_V20' | translate}}">
                                                <input class="form-control" type="text" [(ngModel)]="UILength" ng-maxlength="1" name="uiLength" /> 
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            
                <div id="panelDemo5" class="panel panel-default">
                    <div class="panel-top">
                        {{'CTRGeneralexception.NXM_Server' | translate}}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3" style="padding-top: 5px;">
                                            <span>{{'CTRGeneralexception.Server_Address' | translate}}</span>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <select class="form-control" name="lang" [(ngModel)]="serverportal" required="" title="{{'CTRUserConfigureSummary.Select_Language' | translate}}">
                                                    <option value="http://">http://</option>
                                                    <option value="https://">https://</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-control" type="text" [(ngModel)]="serveraddress" name="serveraddr" />
                                        </div>
                                        <div class="col-lg-1" style="padding-top: 5px;">
                                            <span>{{'CTRGeneralexception.port' | translate }}</span><span class="text-danger">*</span>
                                        </div>
                                        <div class="col-lg-1">
                                            <input class="form-control" type="text" name="valp" [(ngModel)]="NXportval" required="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3" style="padding-top: 5px;">
                                            <span>{{'CTRGeneralexception.Username' | translate}}</span><span class="text-danger">*</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="userval" [(ngModel)]="serveradminname" required="" />
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                                <span>{{'CTRGeneralexception.Password' | translate}}</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="password" name="servpassword" class="form-control" [(ngModel)]="serveradminpassword" />
                                        </div>
                                    </div> 
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            
                <div id="panelDemo5" class="panel panel-default">
                    <div class="panel-top">
                        {{'CTRGeneralexception.SmtpAuth_V20' | translate}}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3" style="padding-top: 5px;">
                                            <span>{{'CTREmailConnector.Server_Address' | translate}}</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input class="form-control" ng-disabled="folderpath" type="text" name="emailserveraddr" [(ngModel)]="EmailServerAddress" />
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-2" style="padding-top: 5px;">
                                            <span>{{'CTRGeneralexception.port' | translate }}</span><span class="text-danger">*</span>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-control" type="text" [(ngModel)]="PortNumbervalue" name="port" />
                                        </div>
                                        <div class="col-lg-2">
                                            <div>
                                                <div>
                                                    <label>
                                                        <!-- <input type="checkbox" style="width: 17px;height: 17px;" title="{{'CTREmailConnector.Tooltip1' | translate}}" [(ngModel)]="SSlRequire" ng-change="SSLRequire(SSlRequire)" name="chkwebsite" />{{'CTREmailConnector.Requires_SSL' | translate}} -->
                                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" title="{{'CTREmailConnector.Tooltip1' | translate}}" class="example-margin" [(ngModel)]="SSlRequire" ng-change="SSLRequire(SSlRequire)" name="chkwebsite">{{'CTREmailConnector.Requires_SSL' | translate}}</mat-checkbox>
                                                    </label>
                                                </div>
                                            </div>
</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3" style="padding-top: 5px;">
                                            <span>{{'CTREmailConnector.Sender_Name' | translate}}</span><span class="text-danger">*</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input class="form-control" ng-disabled="folderpath" type="text" name="sndname" [(ngModel)]="SenderName" />
                                            </div>  
                                        </div>
                                        <div class="col-lg-2" *ngIf="EmailInfo">
                                                <span>{{'CTREmailConnector.Email_Domain' | translate}}</span>
                                        </div>
                                        <div class="col-lg-3" *ngIf="EmailInfo">
                                            <div class="form-group">
                                                <input class="form-control" name="smtpemail" type="text" [(ngModel)]="SmtpEmailDomain" required="" />
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <div class="row">
                                                    <div title="{{'CTREmailConnector.Tooltip3' | translate }}">
                                                        <div>
                                                            <label>
                                                                <!-- <input type="checkbox" style="width: 17px;height: 17px;" [(ngModel)]="AdminCredentials" (change)="Authentication('1')" name="chkwebsiteemail" />
                                                                &nbsp;&nbsp;&nbsp;{{'CTREmailConnector.Use_Admin_Credentials' | translate }} -->
                                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="AdminCredentials" (change)="Authentication('1')" name="chkwebsiteemail">{{'CTREmailConnector.Use_Admin_Credentials' | translate }}</mat-checkbox>
                                                            </label>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                <div title="{{'CTREmailConnector.Tooltip4' | translate }}">
                                                    <div>
                                                        <label>
                                                            <!-- <input type="checkbox" style="width: 17px;height: 17px;" [(ngModel)]="CurrentUser" (change)="Authentication('2')" name="chklocal" />
                                                            &nbsp;&nbsp;&nbsp;{{'CTREmailConnector.User_Credentials' | translate}} -->
                                                            <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="CurrentUser" (change)="Authentication('2')" name="chklocal">{{'CTREmailConnector.User_Credentials' | translate }}</mat-checkbox>
                                                        </label>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="row">
                                            <div title="{{'CTREmailConnector.Tooltip5' | translate }}">
                                                <div>
                                                    <label>
                                                        <!-- <input type="checkbox" style="width: 17px;height: 17px;" [(ngModel)]="FollowCredentials" (change)="Authentication('3')" name="chkfolder" />
                                                        &nbsp;&nbsp;&nbsp;{{'CTREmailConnector.Following_Credentials' | translate}} -->
                                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="FollowCredentials" (change)="Authentication('3')" name="chkfolder">{{'CTREmailConnector.Following_Credentials' | translate }}</mat-checkbox>
                                                    </label>
                                                </div>
                                            </div>
                                    </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="row" *ngIf="EmailInfo">
                                                <span>{{'CTREmailConnector.EmailSaveWarning'| translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-2" style="padding-top: 5px;">
                                                <span>{{'CTREmailConnector.EmailUsername' | translate}}</span>
                                            </div>
                                            <div class="col-lg-3">
                                                <input class="form-control" [disabled]="FollowCredentials!=true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" type="text" name="user" [(ngModel)]="Username" required="" />
                                            </div>
                                            <div class="col-lg-2" style="padding-top: 5px;">
                                                <span>{{'CTREmailConnector.EmailPassword' | translate}}</span>
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="password" name="password" [disabled]="FollowCredentials!=true" class="form-control" [(ngModel)]="Password" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="panelDemo5" class="panel panel-default">
                    <div class="panel-top">
                        {{'CTRGeneralexception.Exception_Handling' | translate}}
                                        </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12">
                                    <div class="row">
                                        {{'CTRGeneralexception.Content_Document' | translate}}
                                    </div>
                                <br></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div>
                                                        <div>
                                                            <label>
                                                                <!-- <input type="checkbox" style="width: 17px;height: 17px;" name="chkmove" [(ngModel)]="moveexception" (change)="ExceptionMove('1')" id="chkwebsite" />
                                                                &nbsp;&nbsp;&nbsp;{{'CTRGeneralexception.Exception_Web' | translate}} -->
                                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" name="chkmove" [(ngModel)]="moveexception" (change)="ExceptionMove('1')">{{'CTRGeneralexception.Exception_Web' | translate }}</mat-checkbox>
                                                            </label>
                                                        </div>
                                                    </div></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                <div>
                                                    <div>
                                                        <label>
                                                            <!-- <input type="checkbox" style="width: 17px;height: 17px;" name="chkleave" [(ngModel)]="leaveexception" (change)="ExceptionMove('2')" id="chklocal" />
                                                            &nbsp;&nbsp;&nbsp;{{'CTRGeneralexception.Leave_In_Source' | translate}} -->
                                                            <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" name="chkleave" [(ngModel)]="leaveexception" (change)="ExceptionMove('2')">{{'CTRGeneralexception.Leave_In_Source' | translate }}</mat-checkbox>
                                                        </label>
                                                    </div>
                                                </div></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div>
                                                    <div>
                                                        <label>
                                                            <!-- <input type="checkbox" style="width: 17px;height: 17px;" name="chkmovefolder" [(ngModel)]="movefolder" (change)="ExceptionMove('3')" id="chkfolder" />
                                                            &nbsp;&nbsp;&nbsp;{{'CTRGeneralexception.Exception_Folder' | translate}} -->
                                                            <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" name="chkmovefolder" [(ngModel)]="movefolder" (change)="ExceptionMove('3')">{{'CTRGeneralexception.Exception_Folder' | translate }}</mat-checkbox>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <input class="form-control" title="{{'CTRGeneralexception.Tooltip1' | translate}}" [disabled]="movefolder!=true" type="text" [(ngModel)]="movefolderpath" name="invoice_no" required="" />
                                            </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div></form>
