        <div>
            <div class="row" style="width: 100%;background: #e8eaee;">
                <div class="col-lg-12">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-8">

                        <form style="background-color: #ffffff; width: 400px;height: 480px; margin: 100px;" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div>
                                <span style="padding-left: 85px;">
                                        <img src="./assets/FCPA_Logo.png" style="width:207px;height:121px" alt="IMG">
                                </span>
        <br>
                                <div>
                                    <mat-form-field appearance="fill" style="width:85%;padding-left: 55px;">
                                        <mat-label>Username</mat-label>
                                        <input  matInput type="text" name="Username" (blur)="GetLang()" placeholder="Username"
                                        style="font-family: sans-serif;" formControlName="username" required>
                                        <mat-icon matSuffix>person</mat-icon>
                                    </mat-form-field>
                                    <div *ngIf="validateLoginForm && loginFormControls.username.errors">
                                        <small class="text-danger" *ngIf="loginFormControls.username.errors.required">
                                            Please Enter User Name
                                        </small>
                                    </div>
                                    
                                </div>
        
                                <div class="wrap-input100 validate-input">
                 <mat-form-field appearance="fill" style="width:85%;padding-left: 55px;">
                    <mat-label>Password</mat-label>
                    <input  matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                                    <div *ngIf="validateLoginForm && loginFormControls.password.errors">
                                        <small class="text-danger" *ngIf="loginFormControls.password.errors.required">
                                            Please Enter Password
                                        </small>
                                    </div>
                                </div>
                                
                                <div class="wrap-input100 validate-input">
                                    <mat-form-field appearance="fill" style="width:85%;padding-left: 55px;">
                                        <mat-label>Language</mat-label>
                                        <mat-select formControlName="language" 
                                        (selectionChange)="switchLang($event)" [(ngModel)]="lstLang" name="sel">
                                          <mat-option *ngFor="let language of languages"  [value]="language.LanguageCode">
                                            {{language.LanguageName}}
                                          </mat-option>
                                        </mat-select>
                                      
                                   </mat-form-field>
                                                   </div>
                                                  
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn" style="font-family: sans-serif;width:60%;" (click)="Login()">
                                        Login
                                    </button>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <br>
                        <span *ngIf="Waitinginfo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{AuthUser}}</span>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>

  