<div class="container-fluid">

    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-purple" title="{{'CTRBoxConnect.SaveChangesBox' | translate}}" (click)="SaveOCRConnector()">{{'CTROCRController.Save'|translate}}</button>
        </div>
    </div>
    <form role="form" name="OCRForm" (change)="isDirty=true">
            <div class="row">
                <div class="form-group"></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- START panel-->
                    <div id="panelDemo7" class="panel panel-default">
                        <div class="panel-top"><span>{{'CTROCRController.OCREngine'|translate}}</span></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-8">
                                                <span>{{'CTROCRController.OCRForm'|translate}}</span>
                                            </div>
                                            <div class="col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-3">
                                                <span>{{'CTROCRController.OCRFormGroup'|translate}}</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <select name="state" required="" [(ngModel)]="OCRengine" class="form-control" (change)="OCRIntegration(OCRengine)">
                                                            <option value="None">{{'CTROCRController.OCROption1'|translate}}</option>
                                                            <option value="Kofax/Nuance OPS">{{'CTROCRController.OCROption2'|translate}}</option>
                                                            <option value="Microsoft OCR">{{'CTROCRController.OCROption3'|translate}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group"></div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-10">
                                                <button type="button" class="btn btn-purple" (click)="AddOCRConnector()">{{'CTROCRController.AddOCRJob'|translate}}</button></div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="form-group"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                 <div class="col-lg-12" *ngIf="OmniPageserver">
                    <div id="panelDemo7" class="panel panel-default">
                        <div class="panel-top">{{'CTROCRController.OmniPageServer'|translate}}</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-5">
                                                <span>{{'CTROCRController.OmniServerPath'|translate}}</span><span class="text-danger">*</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <div class="col-sm-11">
                                                        <input class="form-control" type="text" required="" [(ngModel)]="Omnipageserverpath" name="enter" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-5">
                                                <span>{{'CTROCRController.Username'|translate}}</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <div class="col-sm-11">
                                                        <input class="form-control" required="" type="text" [(ngModel)]="username" name="enter1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-5">
                                                <span>{{'CTROCRController.Password'|translate}}</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="col-sm-11">
                                                    <div class="input-group">
                                                        <input class="form-control" required type="password" [(ngModel)]="password" name="enter2" />
                                                        <!-- <mat-form-field appearance="fill" style="width:100%;padding-left: 40px;">
                                                            <mat-label>Password</mat-label>
                                                            <input  matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                                                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                        </mat-form-field> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-5">
                                                <span>{{'CTROCRController.Domain'|translate}}</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <div class="col-sm-11">
                                                        <input class="form-control" required="" type="text" [(ngModel)]="domain" name="enter3" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" *ngIf="microsoftocr">
                    <div id="panelDemo7" class="panel panel-default">
                        <div class="panel-top">{{'CTROCRController.MSOCRSetting'|translate}}</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-5">
                                                <span>{{'CTROCRController.CloudRegion'|translate}}</span><span class="text-danger">*</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <div class="col-sm-11">
                                                        <select name="state" required="" [(ngModel)]="cloudRegion" class="form-control" (change)="Regionchange(cloudRegion)">
                                                            <option value="">--{{'CTROCRController.OCRselect'|translate}}--</option>
                                                            <option value="Australia East">{{'CTROCRController.optionvalue'|translate}}</option>
                                                            <option value="Brazil South">{{'CTROCRController.BrazilSouth'|translate}}</option>
                                                            <option value="Canada Central">{{'CTROCRController.CanadaCentral'|translate}}</option>
                                                            <option value="Central India">{{'CTROCRController.CentralIndia'|translate}}</option>
                                                            <option value="Central US">{{'CTROCRController.CentralUS'|translate}}</option>
                                                            <option value="East Asia">{{'CTROCRController.EastAsia'|translate}}</option>
                                                            <option value="East US">{{'CTROCRController.EastUS'|translate}}</option>
                                                            <option value="East US 2">{{'CTROCRController.EastUS2'|translate}}</option>
                                                            <option value="France Central">{{'CTROCRController.FranceCentral'|translate}}</option>
                                                            <option value="Japan East">{{'CTROCRController.JapanEast'|translate}}</option>
                                                            <option value="Japan West">{{'CTROCRController.JapanWest'|translate}}</option>
                                                            <option value="Korea Central">{{'CTROCRController.KoreaCentral'|translate}}</option>
                                                            <option value="North Central US">{{'CTROCRController.NorthCentralUS'|translate}}</option>
                                                            <option value="North Europe">{{'CTROCRController.NorthEurope'|translate}}</option>
                                                            <option value="South Africa North">{{'CTROCRController.SouthAfricaNorth'|translate}}</option>
                                                            <option value="South Central US">{{'CTROCRController.SouthCentralUS'|translate}}</option>
                                                            <option value="Southeast Asia">{{'CTROCRController.SoutheastAsia'|translate}}</option>
                                                            <option value="UK South">{{'CTROCRController.UKSouth'|translate}}</option>
                                                            <option value="West Central US">{{'CTROCRController.WestCentralUS'|translate}}</option>
                                                            <option value="West Europe">{{'CTROCRController.WestEurope'|translate}}</option>
                                                            <option value="West US">{{'CTROCRController.WestUS'|translate}}</option>
                                                            <option value="West US 2">{{'CTROCRController.WestUS2'|translate}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-5">
                                                <span>{{'CTROCRController.OCRKey'|translate}}</span><span class="text-danger">*</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <div class="col-sm-11">
                                                        <input class="form-control" required="" type="text" [(ngModel)]="subscriptionkey" name="enter" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
    </div>

    
   <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayAddOCR}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTROCRController.AddOCRJob' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">               
            <style type="text/css">
                .Table {
                    display: table;
                    background-color: white;
                }
                .Title {
                    display: table-caption;
                    text-align: center;
                    font-weight: bold;       
                }
                .Heading {
                    display: table-row;
                    font-weight: bold;
                    text-align: center;
                }
                .Row {
                    display: table-row;
                }
                .Cell {
                    display: table-cell;
                    border: 1px solid;
                    border-color:#eeeeee;
                    padding: 8px;
                    font-size: 14.5px;
                    font-family:sans-serif;
                }
            </style>
            <div class="row">
                <form role="form" name="ocrupdateForm" novalidate>
                   
                    <label *ngIf="loadJob">{{'CommonItems.Loadingjobs'|translate}}</label>
                    <div class="scroll">
                        <div class="Table" style="width: 100%;">
                            <div class="Heading">
                                <div class="Cell" style="width:10%; text-align:center;">
                                    <input type="checkbox"  [(ngModel)]="IsAllChecked" (change)="CheckUncheckAll(IsAllChecked)" name="ocrallcheck" />
                                </div>
                                <div class="Cell" style="text-align:center;">
                                    <p style="font-size:18px;">{{'CTROCRController.Jobs'|translate}}</p>
                                </div>
                            </div>
                            <div class="Row" *ngFor="let m of Repository">
                                <div class="Cell ng-binding" style="width:10%; text-align:center;">
                                    <label for="chkCustomer_{{m}}">
                                        <input id="chkCustomer_{{m}}" type="checkbox" (change)="isAllSelected(m.Selected);" [(ngModel)]="m.Selected" [checked]="m.Selected" name="ocrcheck" />
                                    </label>
                                </div>
                                <div class="Cell ng-binding" style="width:40%;">
                                    {{m.JobName}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="row" style="text-align:center;">
                        <div class="col-lg-12">
                            <button type="button" [disabled]="checkval==undefined" class="btn btn-purple" (click)="OCRJobsUpdate()">{{'CTROCRController.OK'|translate}}</button>&nbsp;&nbsp;&nbsp;
                            <button type="button" focus-me class="btn btn-purple" (click)="Close()">{{'CTROCRController.Close'|translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>  
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-purple" (click)="DeleteuserConfirm()">{{'CommonItems.Yes'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="Cancel()">{{'CommonItems.No' | translate }}</button>
                          
        </div> -->
      </div>
    </div>
  </div>
