 <div class="panel-headingcustom"><h3 style="padding-top: 15px;">{{  "CommonItems.Password_Set"  | translate }}</h3></div>
 <div class="row"><div class="form-group"></div></div> 
                        <form role="form" name="Admincredentialform" novalidate="" style="padding-left:20px;" class= "from-validate" id="orderUpdateForm" >  
                        <div class= "row">
                            <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="form-group" style="padding-top: 7px;">
                                <label>{{  "CommonItems.UserName"  | translate }}</label><span class="text-danger"></span></div></div> 
                        <div class="col-lg-5">
                            <div class="form-group">
                                <input class="form-control" type="text" focus-me ng-model="username" name="username" required="" /> 
                        </div></div></div></div>

                        <!-- <div class="row"><div class="form-group"></div></div>  -->
<br>
                        <div class= "row">
                            <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="form-group" style="padding-top: 7px;"><label>{{  "CommonItems.Password1"  | translate }}</label><span class="text-danger"></span></div></div> 
                        <div class="col-lg-5"><div class="form-group"><input class="form-control" type="password" ng-model="passwordset" name="password" required=""/> 
                        </div></div></div></div>
                        <!-- <div class="row"><div class="form-group"></div></div>  -->
<br>
                        <div class= "row">
                            <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="form-group" style="padding-top: 7px;">
                                <label>{{  "CommonItems.ConfirmPassword"  | translate }}</label><span class="text-danger"></span></div></div> 
                        <div class="col-lg-5">
                            <div class="form-group"><input class="form-control" type="password" ng-model="confirmpassword" name="confirmpassword" required="" />
                        </div></div></div></div>
                        <!-- <div class="row"><div class="form-group"></div></div>  -->
<br>
                        <div class="row"><div class="col-lg-12">
                            <div class="col-lg-10">
                        <button type="button" ng-disabled="Admincredentialform.$invalid" class="btn btn-purple" ng-click="Passwordset(passwordset,confirmpassword)">{{  "CommonItems.OK"  | translate }}</button>&nbsp; 
                        <button type="button" class="btn btn-purple"  ng-click="Cancel()">{{  "CommonItems.Cancel"  | translate }}</button>&nbsp;</div></div></div>
                        </form>