<form role="form" name="HomeFolder" (change)="isDirty=true">
    <div class="col-lg-12">

        <div class="row">
            <div class="col-lg-12">
                <button type="button" title="{{'CTRHomeFolder.Tooltip1' | translate}}" class="btn btn-purple" (click)="HomeFolderSave()">{{'CTRHomeFolder.SaveHF' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.Map_Jobs' | translate}}" (click)="HomeFolderMapJobs()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_Exception.Back' | translate}}" ng-click="Back()">{{'CTR_Exception.Back' | translate}}</button>
            </div>
        </div>
        <div class="form-group"></div>

        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-top">{{'CTRHomeFolder.Copy_Tolder' | translate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-5">
                                    <label title="{{'CTRHomeFolder.Tooltip2' | translate}}">
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="AutoFolder" (change)="CopytoFolder('1')" name="chkwebsiteemail">{{'CTRHomeFolder.Determine_Folder' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <label title="{{'CTRHomeFolder.Tooltip3' | translate}}">
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Underfolder" (change)="CopytoFolder('2')" name="chklocal">{{'CTRHomeFolder.User_Folder' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input class="form-control" [disabled]="folderpath" type="text" [(ngModel)]="Underfolderpath" name="under" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <label title="{{'CTRHomeFolder.Tooltip4' | translate}}">
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="EnterFolder" (change)="CopytoFolder('3')" name="chkfolder">{{'CTRHomeFolder.Entered_Here' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input class="form-control" [disabled]="Enterfolder" type="text" [(ngModel)]="Enterfolderpath" name="enter" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-top">{{'CTRHomeFolder.Authentication' | translate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-5">
                                    <label title="{{'CTRHomeFolder.Tooltip5' | translate}}">
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="AdminCredentials" (change)="Authentication('1')" name="chkwebsite2">{{'CTRHomeFolder.Admin_Credentials' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-5">
                                    <label title="{{'CTRHomeFolder.Tooltip6' | translate}}">
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="CurrentUser" (change)="Authentication('2')" name="chklocal2">{{'CTRHomeFolder.User_Credentials1' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-5">
                                    <label title="{{'CTRHomeFolder.Tooltip7' | translate}}">
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="FollowCredentials" (change)="Authentication('3')" name="chkfolder2">{{'CTRHomeFolder.Following_Credentials1' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <div class="col-sm-4">
                                            <div class="form-group" style="padding-top:4px;">
                                                {{'CTRHomeFolder.HomeUsername' | translate}}<span class="text-danger">*</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <input class="form-control" [disabled]="username" type="text" [(ngModel)]="Username" name="user" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <div class="col-sm-4">
                                            <div class="form-group" style="padding-top:4px;">
                                                <span>{{'CTRHomeFolder.HomePassword' | translate}}</span><span class="text-danger">*</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <!-- <input type="{{inputType}}" ng-disabled="password" name="password" class="form-control" ng-model="Password" />
                                                <span class="input-group-addon">
                                                    <span class="{{showHideClass}}" ng-click="showPassword()" style="cursor:pointer"></span>
                                                </span> -->
                                                <input class="form-control" [disabled]="password" type="password" [(ngModel)]="Password" name="invoice_no" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
</form>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">
              <div class="col-sm-12">
                 <div class="row" *ngIf="userlist">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                              
                              <!-- <input type="text" focus-me class="form-control autocomplete" ng-model="username" typeahead="user for user in ListOfUser | filter:$viewValue"> -->
                          
                              <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="testusername" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                      <datalist id="dynmicUserIds">
                          <select>
                        <option *ngFor="let item of ListOfUser">{{item}}</option>
                      </select>
                      </datalist>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row" *ngIf="txtuser">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="testusername" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>

                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5">
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.Password1'| translate }}</label></div>
                       </div>
                       <div class="col-sm-6">                         
                    <mat-form-field appearance="fill" style="width:95%;">
                        <mat-label>{{'CommonItems.Password1'| translate }}</mat-label>
                        <input  matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="testpassword" name="password" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                       </div>
                    </div>

                 </div>

                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CTR_JobManagement.Target'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                             <input class="form-control" type="text" [(ngModel)]="target" name="targetval" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(testusername,testpassword,target)">{{'CommonItems.Test'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>