<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  {{data.message}}
</div>
<div style="float:right;margin:20px;">
  <input style="margin:0px 10px;" type="button" class="btn btn-purple" value="{{'CTRUserConfigure.Yes'| translate }}" [mat-dialog-close]="true">
  <input type="button" value="{{'CTRUserConfigure.No'| translate}}"  class="btn btn-warning" [mat-dialog-close]="false">
</div>
