<form role="form" name="DropBoxform" (change)="isDirty=true">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-purple" title="{{'CTRBoxConnect.SaveChangesBox' | translate}}" (click)="SaveEmailConnector()">{{'CTRBoxConnect.SaveBox' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.Map_Jobs' | translate}}" (click)="CreateEmailJobs()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_Exception.Back' | translate}}" ng-click="Back()">{{'CTR_Exception.Back' | translate}}</button>
                    </div></div>
        <div class="form-group"></div>
        <!-- START panel-->
        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-top">{{'CTREmailConnector.SendEmailToAddress' | translate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-0.5">
                        </div>
                        <div class="col-lg-11">

                            <div class="row">
                                <div class="col-lg-6" title="{{'CTREmailConnector.Tooltip6' | translate}}">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="DetermineAuto" (change)="SendEmail('1')" name="chkwebsite">{{'CTREmailConnector.Determine_Email' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="row">
                                <div class="col-lg-3" title="{{'CTREmailConnector.Tooltip7' | translate}}">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Enterfolderchk" (change)="SendEmail('2')" name="chkwebsite1">{{'CTREmailConnector.Entered_Here' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input class="form-control" [disabled]="Enterpath" type="text" name="enterpath" [(ngModel)]="EnterHerepath" required="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3" style="padding-left:40px;">
                                    <div class="form-group" style="padding-top:4px;">
                                        <span>{{'CTREmailConnector.Email_Domain' | translate}}</span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input class="form-control" [disabled]="Email" name="edomain" type="text" [(ngModel)]="EmailDomain" required="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" title="{{'CTREmailConnector.Tooltip8' | translate}}" class="btn btn-purple" data-toggle="modal" data-target="#Email" (click)="EBody()">{{'EmailBody.Email_Body' | translate}}</button>&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </form>

    
<form>
    <div class="modal" role="dialog" id="Email">
      <div class="modal-dialog">
        <div class="modal-content" style="width:750px;">
          <div class="modal-header">
                
  
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-top" style="display: block;"><h2>{{'CommonItems.EmailOptionSave' | translate}}</h2>
      </div>
    </div>
  
  </div>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-0.5"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-0.2"></div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>{{'CommonItems.Subject' | translate}}</label>
                                    <span class="text-danger">*</span>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control" focus-me type="text" [(ngModel)]="EmailSubject" name="emailsub" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <div class="col-sm-0.2">
                                </div>
                                <div class="form-group">
                                    <label>{{'CommonItems.EmailBody' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div>
                                    <textarea class="form-control" type="text" [(ngModel)]="EmailBody" name="emailbody" style="height:120px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal" ng-disabled="BoxEmailOptionform.$invalid" (click)="SaveEmailOption()">{{'CommonItems.OK' | translate}}</button>
            <button class="btn btn-warning" data-dismiss="modal">{{'CommonItems.Cancel' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">
              <div class="col-sm-12">
                 <div class="row" *ngIf="userlist">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                              
                              <!-- <input type="text" focus-me class="form-control autocomplete" ng-model="username" typeahead="user for user in ListOfUser | filter:$viewValue"> -->
                          
                              <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="testusername" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                      <datalist id="dynmicUserIds">
                          <select>
                        <option *ngFor="let item of ListOfUser">{{item}}</option>
                      </select>
                      </datalist>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row" *ngIf="txtuser">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="testusername" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CTR_JobManagement.TestEmail'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                             <input class="form-control" type="text" [(ngModel)]="target" name="targetval" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(testusername,target)">{{'CommonItems.Test'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>