.example-spacer {
    flex: 1 1 auto;
  }
  
mat-sidenav {
    margin: 4px;
    // width: 230px;
    border-right: none;
    background: #435a9b;
    color: #ffffff;
    border-radius: 10px;
    padding: 16px;
    text-align: left;
}
mat-sidenav.menu-close{
    width:89px;
}
mat-sidenav.menu-open{
    width:230px;
}
.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 4px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}
.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
padding: 5px;
    mat-icon {
        margin-right: 8px;
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}
  ::ng-deep .modal-backdrop.fade.in{ z-index: 999 !important; }
  ::ng-deep .modal { z-index: 1000 !important; }
  



