
  <mat-toolbar style="background-color:#ffffff;color: rgba(119, 119, 119, 1);">
   <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">
    <mat-icon (click)="onToolbarMenuToggle()">menu</mat-icon>
  </button>
  <span><img src="/assets/FCPA_Logo.png" style="width:120px;height:61px" alt="IMG">
    </span>
  <span class="example-spacer"></span>
  <h4>{{username}}</h4>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>info</mat-icon>
  </button> -->
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
   <mat-icon>person</mat-icon>
 </button>
 <mat-menu #menu="matMenu" [overlapTrigger]="false">
  <span (mouseleave)="menuTrigger.closeMenu()">
    <button mat-menu-item title="{{'CommonItems.Change_Language' | translate}}"  (click)="openLang()">
      <mat-icon style="color: orange;">translate</mat-icon>
      <span>Change Language</span>
</button>
    <button mat-menu-item title="{{'CommonItems.ChangePassword' | translate}}" (click)="ChangePSW()">
      <mat-icon style="color: orange;">lock_reset</mat-icon>
      <span>Change Password</span>
</button>
<button mat-menu-item (click)="Logout();">
      <mat-icon style="color: orange;">exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
</span>
</mat-menu>
</mat-toolbar>


  <mat-sidenav-container>
    <mat-sidenav [class.menu-open]="isMenuOpen"[class.menu-close]="!isMenuOpen" mode="side" opened #side>
<mat-nav-list *ngFor="let menu of MenuItems">
  <a mat-list-item routerLinkActive="is-active" name="cmenu"  [routerLinkActiveOptions]="{exact:true}" [routerLink]="menu.routerLink">      
    <mat-icon [ngStyle]="{'font-size.px':fontsize}" title="{{menu.text}}" style="color: white;">{{menu.icon}}</mat-icon>
    &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: white;">{{menu.text}}</span> 
  </a>
</mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{'margin-left.px':contentMargin}">
        <div style="padding:10px;">
          <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


<form>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayChangeLanguage}">
    <div class="modal-dialog">
      <div class="modal-content" style="width:750px;">
        <div class="modal-header">
              

<div class="row">
  <div class="col-lg-12">
    <div class="panel-top" style="display: block;"><h2>{{'CommonItems.Change_Language' | translate}}</h2>
    </div>
  </div>

</div>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-sm-12">
                  <div class="col-sm-0.5"></div>
                  <div class="col-sm-12">
                      <div class="col-sm-0.2"></div>
                      <div class="row">
                          <div class="col-sm-3">
                              <div class="form-group">
                                  <label>{{'CommonItems.Changelanguage' | translate}}</label>
                                  <span class="text-danger">*</span>
                              </div>
                          </div>
                          <div class="col-sm-8">
                              <div class="form-group">
                                <!-- <select class="form-control" ng-disabled="Logretention" title="Language" ng-change="languagechange1(selected)" id="input1" name="languages"
                                 ng-options="Language.LanguageName for Language in Languages" ng-model="selected" required="">
                                  <option value="">{{ 'CommonItems.SelectLang'| translate }}</option>
                                </select> -->
                                <mat-form-field appearance="outline" style="width:100%;">
                                  <mat-label>Languages</mat-label>
                                  <mat-select ng-disabled="Logretention" name="cboAmazonBuckets" [(ngModel)]="selected"
                                  (selectionChange)="languagechange1($event)">
                                  <option value="">{{'CommonItems.SelectLang' | translate}}</option>
                                  <br> 
                                  <mat-option *ngFor="let Language of languages"  [value]="Language.LanguageCode" name="clanguage">
                                      {{Language.LanguageName}}
                                    </mat-option>
                                  </mat-select>              
                              </mat-form-field>
                              </div>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-purple" (click)="ChangeLanguage()">{{'CommonItems.OK' | translate}}</button>
          <button class="btn btn-warning" (click)="Cancel()">{{'CommonItems.Cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</form>


<form>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayChangepsw}">
    <div class="modal-dialog">
      <div class="modal-content" style="width:750px;">
        <div class="modal-header">
              

<div class="row">
  <div class="col-lg-12">
    <div class="panel-top" style="display: block;"><h2>{{'CommonItems.ChangePassword' | translate}}</h2>
    </div>
  </div>

</div>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-sm-12">
                  <div class="col-sm-0.5"></div>
                  <div class="col-sm-12">
                      <div class="col-sm-0.2"></div>
                      <div class="row">
                          <div class="col-lg-3" style="padding-top: 18px;">
                              <div class="form-group">
                                  <label>{{'CommonItems.OldPassword' | translate}}</label>
                                  <span class="text-danger">*</span>
                              </div>
                          </div>
                          <div class="col-lg-5">
                              <div class="form-group">
                                <mat-form-field appearance="outline" style="width:100%;">
                                  <mat-label>{{'CommonItems.OldPassword' | translate}}</mat-label>
                                  <input  matInput name="opsw" [(ngModel)]="oldpassword" placeholder="Old Password" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </mat-form-field>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3" style="padding-top: 18px;">
                            <div class="form-group">
                                <label>{{'CommonItems.NewPassword' | translate}}</label>
                                <span class="text-danger">*</span>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                              <mat-form-field appearance="outline" style="width:100%;">
                                <mat-label>{{'CommonItems.NewPassword' | translate}}</mat-label>
                                <input  matInput name="npsw" [(ngModel)]="newpassword" placeholder="New Password" [type]="hideNew ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="myFunctionNew()">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3" style="padding-top: 18px;">
                          <div class="form-group">
                              <label>{{'CommonItems.ConfirmPassword' | translate}}</label>
                              <span class="text-danger">*</span>
                          </div>
                      </div>
                      <div class="col-lg-5">
                          <div class="form-group">
                            <mat-form-field appearance="outline" style="width:100%;">
                              <mat-label>{{'CommonItems.ConfirmPassword' | translate}}</mat-label>
                              <input  matInput name="npsw" [(ngModel)]="confirmpassword" placeholder="Confirm Password" [type]="hideConfirm ? 'password' : 'text'">
                              <mat-icon matSuffix (click)="myFunctionConfirm()">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                          </div>
                      </div>
                  </div>
                  </div>
                  
              </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-purple" (click)="ChangePassword()">{{'CommonItems.OK' | translate}}</button>
          <button class="btn btn-warning" (click)="Cancel()">{{'CommonItems.Cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</form>
