<form role="form" name="Fax" (change)="isDirty=true">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" title="{{'CTRGeneralexception.SaveChanges' | translate}}" class="btn btn-purple" (click)="FaxConnectorSave()">{{'CTRFaxConnector.Save' | translate}}</button>&nbsp;
                <button type="button" title="{{'CTR_JobManagement.Map_Jobs' | translate}}" class="btn btn-purple" (click)="CreateFaxJobs()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
                <button type="button" title="{{'CTR_Exception.Back' | translate}}" class="btn btn-purple" ng-click="BackToFaxConnector()">{{'CTR_Exception.Back' | translate}}</button>
    
            </div>
        </div>
        <div class="form-group"></div>
       
        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-top">{{'CTRFaxConnector.Fax_Domain' | translate}}</div>
            <div class="panel-body">
                <div class="row col-lg-4 form-group">
                    <div style="padding-left:18px;">
                        <span>{{'CTRFaxConnector.Fax_Domain' | translate}}</span><div class="form-group"></div>
                        <input class="form-control" ng-disabled="Fax" type="text" [(ngModel)]="FaxDomain" name="fdomain" required="" />

                </div>
            </div>
            </div>
            <div class="panel-top" *ngIf=ShowFaxAuthentication>{{'CTRFaxConnector.Authentication' | translate}}</div>
            <div class="panel-body" *ngIf=ShowFaxAuthentication>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-0.5">
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-6" title="{{'CTRFaxConnector.Tooltip1'| translate}}">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="AuthSMTP" (change)="AuthFax('1')" name="chkauthsmtp">{{'CTRFaxConnector.UseSMTP' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="row">
                                <div class="col-lg-6" title="{{'CTRFaxConnector.Tooltip2' | translate}}">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="AuthUser" (change)="AuthFax('2')" name="chkauthuser">{{'CTRFaxConnector.CurrentUser' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="row">
                                <div class="col-lg-6" title="{{'CTRFaxConnector.Tooltip3' | translate}}">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="AuthSpecific" (change)="AuthFax('3')" name="chkauthspecific">{{'CTRFaxConnector.UseSpecific' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="col-lg-12">
                                                <div class="col-sm-4">
                                                    <div class="form-group" style="padding-top:4px;">
                                                        {{'CTRFaxConnector.FaxUsername' | translate}}<span class="text-danger">*</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <input class="form-control" [disabled]="username" type="text" [(ngModel)]="FaxUsername" name="user" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-12">
                                                <div class="col-sm-4">
                                                    <div class="form-group" style="padding-top:4px;">
                                                        <span>{{'CTRFaxConnector.FaxPassword' | translate}}</span><span class="text-danger">*</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <input class="form-control" [disabled]="password" type="password" [(ngModel)]="FaxPassword" name="invoice_no" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-top">{{'CTRFaxConnector.Sender' | translate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-0.5">
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-6" title="{{'CTRFaxConnector.Tooltip4' | translate}}">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="SenderSMTP" (change)="FaxSender('1')" name="chksendersmtp">{{'CTRFaxConnector.SMTPName' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="row">
                                <div class="col-lg-6" title="{{'CTRFaxConnector.Tooltip5' | translate}}">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="SenderUser" (change)="FaxSender('2')" name="chksenderuser">{{'CTRFaxConnector.CurrentUserName' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="SenderSpecific" (change)="FaxSender('3')" name="chksenderspecific">{{'CTRFaxConnector.SpecificName' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="col-lg-12">
                                                <div class="col-sm-5">
                                                    <div class="form-group" style="padding-top:4px;">
                                                        {{'CTRFaxConnector.SenderName' | translate}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="form-group">
                                                        <input class="form-control" [disabled]="faxsendername" type="text" [(ngModel)]="FaxSenderName" name="user" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-top">{{'CTRFaxConnector.Cover' | translate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-0.5">
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-6" title="{{'CTRFaxConnector.Tooltip7' | translate}}">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="CoverNone" (change)="FaxCover('1')" name="chkcovernone">{{'CTRFaxConnector.NoCover' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="row">
                                <div class="col-lg-6" title="{{'CTRFaxConnector.Tooltip8' | translate}}">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="CoverJobBased" (change)="FaxCover('2')" name="chkcoverjobbased">{{'CTRFaxConnector.JobBased' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="row">
                                <div class="col-lg-6" title="{{'CTRFaxConnector.Tooltip9' | translate}}">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="CoverSpecific" (change)="FaxCover('3')" name="chkcoverspecific">{{'CTRFaxConnector.SpecificCover' | translate }}</mat-checkbox>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" title="{{'CTRFaxConnector.Tooltip10' | translate}}" data-toggle="modal" data-target="#Fax" class="btn btn-purple" (click)="FaxCoverBodyEdit()">{{'CTRFaxConnector.FaxCover' | translate}}</button>&nbsp;&nbsp;
                                </div>
                            </div>
                            <br />
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
</form>

<form>
    <div class="modal" role="dialog" id="Fax">
      <div class="modal-dialog">
        <div class="modal-content" style="width:750px;">
          <div class="modal-header">
                
  
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-top" style="display: block;"><h2>{{'CommonItems.EmailOptionSave' | translate}}</h2>
      </div>
    </div>
  
  </div>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <div class="col-sm-0.2">
                                </div>
                                <div class="form-group">
                                    <label>{{'CTRFaxConnector.FaxCover' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div>
                                    <textarea class="form-control" focus-me type="text" [(ngModel)]="FaxBody" name="faxbody" style="height:120px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal" (click)="FaxCoverSave()">{{'CommonItems.OK' | translate}}</button>
            <button class="btn btn-warning" data-dismiss="modal">{{'CommonItems.Cancel' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">
              <div class="col-sm-12">
                 <div class="row" *ngIf="userlist">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                              
                              <!-- <input type="text" focus-me class="form-control autocomplete" ng-model="username" typeahead="user for user in ListOfUser | filter:$viewValue"> -->
                          
                              <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="testusername" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                      <datalist id="dynmicUserIds">
                          <select>
                        <option *ngFor="let item of ListOfUser">{{item}}</option>
                      </select>
                      </datalist>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row" *ngIf="txtuser">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="testusername" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CTR_JobManagement.TestFax'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                             <input class="form-control" type="text" [(ngModel)]="target" name="targetval" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(testusername,target)">{{'CommonItems.Test'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>