<form role="form" name="licenseForm" novalidate>
    <div class="col-lg-12">
        
        <div class="form-group"></div>
 <!-- START panel-->
 <div id="panelDemo5" class="panel panel-default">
    <div class="panel-top">
        {{'CTRWeblogin.Web_Login' | translate}}
    </div>
    <div class="panel-body">
        <div class="row">
                <div class="col-sm-12">
                    <button type="button" *ngIf="btnBox" title="Box WebLogin" (click)="BoxAuthenticate()" class="btn btn-purple">Login to Box</button>&nbsp;
                    <button type="button" *ngIf="btnODB" title="OneDrive WebLogin" (click)="ODBAuthenticate()" class="btn btn-purple">Login to OneDrive</button>&nbsp;
                    <button type="button" *ngIf="btnSPO" title="SharePoint WebLogin" (click)="SPOAuthenticate()" class="btn btn-purple">Login to SharePoint</button>&nbsp;
                    <button type="button" *ngIf="btnDBOX" title="DropBox WebLogin" (click)="DropBoxAuthenticate()" class="btn btn-purple">Login to DropBox</button>&nbsp;
                    <button type="button" *ngIf="btnEgnyte" title="Egnyte WebLogin" (click)="EgnyteAuthenticate()" class="btn btn-purple">Login to Egnyte</button>&nbsp;
                    <!-- <button type="button" *ngIf="btnUIPath" title="UIPath WebLogin" (click)="UIPathAuthenticate()" class="btn btn-purple">Login to UIPath</button>&nbsp; -->

                </div>   
        </div>
        <br>
        <div class="row container-fluid" *ngIf="LogUserDetail">

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort style="width:100%">
                                     
                      <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple">{{'CTRUserdetail.Email' | translate}}</th>
                        <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple">{{'CTRWeblogin.Username' | translate}}</th>
                        <td mat-cell *matCellDef="let row">{{row.Username}}</td>
                      </ng-container>  
                                          <ng-container matColumnDef="ProviderCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple">{{'CTRUserdetail.Provider' | translate}}</th>
                        <td mat-cell *matCellDef="let row"> {{row.ProviderCode}} </td>
                      </ng-container>
                
                      
                      <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple">{{'CTRWeblogin.Action' | translate}}</th>
                        <td mat-cell *matCellDef="let row" style="padding-top:5px;">
                            <a style="color:blue;" title="Logout" (click)="Userlogout(row.Username,row.ProviderCode)">{{'CTRWeblogin.Logout' | translate}}</a>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                       <tr class="mat-row" *matNoDataRow>
                          <td style="text-align: center;" class="mat-cell" colspan="12">No data available</td>
                        </tr>
                    </table>
                
                  </div>


        </div>
    </div>

</div>

        </div>
 
<!-- 
        <iframe [(ngModel)]="boxurl" src="" formControlName="email"
        style="height: 50vh; width: 600px;">
    </iframe> -->
        </form>
        

        
        <!-- <iframe>
            <iframe [src]="cleanURL()" class="frame" id="Productionboxframe" frameborder="0" marginwidth="0" *ngIf="show" marginheight="0" scrolling="no" onload="" allowtransparency="false" height="500px"></iframe>
        </iframe>   -->

        <form>
          <div class="modal" role="dialog" [ngStyle]="{'display':webdialog}">
            <div class="modal-dialog">
              <div class="modal-content" style="width:650px;height: 400px;">
                <div class="modal-header">
                      
        
        <div class="row">
          <div class="col-lg-12">
            <div class="panel-top" style="display: block;"><h2>{{'EditJob.JobProperties' | translate}}</h2>
            </div>
          </div>
        
        </div>
                </div>
                <div class="modal-body">
                  <div class="row">
                     {{boxurl}}
                  </div>
      
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-purple">{{'EditJob.Update' | translate}}</button>
                  <button class="btn btn-warning">{{'EditJob.Close' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </form>