<form role="form" name="DropBoxform" (change)="isDirty=true">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-purple" title="{{'CTRBoxConnect.SaveChangesBox' | translate}}" (click)="SaveDropBoxConnector()">{{'CTRBoxConnect.SaveBox' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.Map_Jobs' | translate}}" (click)="DropBoxMapJobs()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_Exception.Back' | translate}}" ng-click="Back()">{{'CTR_Exception.Back' | translate}}</button>
                    </div></div>
        <div class="form-group"></div>
        <!-- START panel-->
        <div id="panelDemo5" class="panel panel-default">
            <div class="panel-top">
            {{'CTRDropBoxConnect.DropBoxOath_V20' | translate}}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                            <div class="row">
                                    <div title="{{'CTREgnyteConnect.Useservicelogin' | translate }}">
                                        <div>
                                            <label>
                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="servicelogin" (change)="servicechange()" name="chkwebsiteemail">{{'CTREgnyteConnect.Useservicelogin' | translate }}</mat-checkbox>
                                            </label>
                                        </div>
                                    </div>
                            </div>
                            
                            <div class="form-group"></div>
                            <div class="row" *ngIf="enableforservice">
                                <div class="col-lg-12">
                                    <div class="col-lg-12">

                                        <div class="col-lg-2">
                                            <span>{{'CTRNintexSettings.AccessToken' | translate}}</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" [(ngModel)]="Accesstoken" name="acctoken" class="form-control" />

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group"></div>
                            <div class="col-lg-6" *ngIf="AppDetails">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <span>
                                                {{'CommonItems.ApplicationID_V20' | translate}}
                                            </span><span class="text-danger">*</span>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <input class="form-control" name="appId" [disabled]="AppSettings" type="text" [(ngModel)]="appid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <span>
                                                {{'CommonItems.ApplicationSecret_V20' | translate}}
                                            </span><span class="text-danger">*</span>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <input class="form-control" name="appSecreat" [disabled]="AppSettings" type="text" [(ngModel)]="appsecret" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <span>
                                                {{'CommonItems.Redirecturl_V20' | translate}}
                                            </span><span class="text-danger">*</span>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <input class="form-control" name="redirect" [disabled]="AppSettings" type="text" [(ngModel)]="redirecturl" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-9">
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-purple" title="{{'CommonItems.EditSettings' | translate}}"  (click)="EditSettings()">{{'CommonItems.Edit' | translate}}</button>&nbsp;&nbsp;&nbsp;
                                                        <button type="button" class="btn btn-purple" title="{{'CommonItems.Resetsettings' | translate}}" (click)="ResetSettings()">{{'CommonItems.ResettoDefault' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row" *ngIf="note">
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <b> <span class="text-danger">*</span></b>
                                {{'CTRDropBoxConnect.DropBoxNote' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <!-- START panel-->
            <div id="panelDemo7" class="panel panel-default">
                <div class="panel-top">{{'CTRBoxConnect.Root_Folder' | translate}}</div>
                <div class="panel-body">
                    <p>
                        {{'CTRBoxConnect.Specify_Folder' | translate}}
                    </p>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-0.5">
                            </div>
                            <div class="col-lg-11">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-7" title="{{'CTRDropBoxConnect.BoxconnectTooltip1' | translate}}">
                                            
                                            <label>
                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Homefolder" (change)="DropBoxConnector('1')" name="chkwebsite">{{'CTRBoxConnect.Home_Folder' | translate }}</mat-checkbox>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-3" title="{{'CTRDropBoxConnect.BoxconnectTooltip2' | translate}}" style="padding-top: 10px;">
                                            
                                            <label>
                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Specificfolder" (change)="DropBoxConnector('2')" name="chklocal">{{'CTRBoxConnect.Specific_Folder' | translate }}</mat-checkbox>
                                            </label>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input class="form-control" [disabled]="folder" name="root" type="text" [(ngModel)]="RootFolderId" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div> 
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <!-- START panel-->
            <div id="panelDemo7" class="panel panel-default">
                <div class="panel-top">{{'CTRBoxConnect.Login_Reminder' | translate}}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-0.5">
                            </div>
                            <div class="col-lg-11">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-3" title="{{'CTRBoxConnect.BoxconnectTooltip3' | translate}}">
                                            
                                            <label>
                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Remind" (change)="LogReminder(Remind)" name="chklocal1">{{'CTRBoxConnect.Remind' | translate }}</mat-checkbox>
                                            </label>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <select class="form-control" [disabled]="Reminder" name="type" [(ngModel)]="RemindDays" required>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <span>{{'CTRBoxConnect.login_expires' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-10" title="{{'CTRBoxConnect.BoxconnectTooltip4' | translate}}">
                                            
                                            <label>
                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" ng-disabled="Reminder" [(ngModel)]="InformUser" name="chklocal2">{{'CTRBoxConnect.Inform_User' | translate }}</mat-checkbox>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"></div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-3" title="{{'CTRBoxConnect.BoxconnectTooltip5' | translate}}">

                                            <label>
                                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" ng-disabled="Reminder" [(ngModel)]="InformAdmin" (change)="LogReminderAdmin(InformAdmin)" name="chkfolder">{{'CTRBoxConnect.Inform_Administrator' | translate }}</mat-checkbox>
                                            </label>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input class="form-control" [disabled]="AdminEmail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" type="text" [(ngModel)]="AdminMail" name="mail" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-purple"title="{{'CTREgnyteConnect.Email_Options' | translate}}" data-toggle="modal" data-target="#DropBoxEmail" (click)="EmailOption()">{{'CTRBoxConnect.Email_Options' | translate}}</button>&nbsp;&nbsp;

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</form>

<form>
    <div class="modal" role="dialog" id="DropBoxEmail">
      <div class="modal-dialog">
        <div class="modal-content" style="width:750px;">
          <div class="modal-header">
                
  
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-top" style="display: block;"><h2>{{'CommonItems.EmailOptionSave' | translate}}</h2>
      </div>
    </div>
  
  </div>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-0.5"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-0.2"></div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>{{'CommonItems.Subject' | translate}}</label>
                                    <span class="text-danger">*</span>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control" focus-me type="text" [(ngModel)]="EmailSubject" name="emailsub" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <div class="col-sm-0.2">
                                </div>
                                <div class="form-group">
                                    <label>{{'CommonItems.EmailBody' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div>
                                    <textarea class="form-control" type="text" [(ngModel)]="EmailBody" name="emailbody" style="height:120px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal" ng-disabled="BoxEmailOptionform.$invalid" (click)="SaveDropBoxEmail()">{{'CommonItems.OK' | translate}}</button>
            <button class="btn btn-warning" data-dismiss="modal">{{'CommonItems.Cancel' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">
              <div class="col-sm-12">
                 <div class="row" *ngIf="userlist">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                              
                              <!-- <input type="text" focus-me class="form-control autocomplete" ng-model="username" typeahead="user for user in ListOfUser | filter:$viewValue"> -->
                          
                              <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="username" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                      <datalist id="dynmicUserIds">
                          <select>
                        <option *ngFor="let item of ListOfUser">{{item}}</option>
                      </select>
                      </datalist>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row" *ngIf="txtuser">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="username" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CTR_JobManagement.Target'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                             <input class="form-control" type="text" [(ngModel)]="target" name="targetval" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(username,target)">{{'CommonItems.Test'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>