<form role="form" name="DropBoxform" (change)="isDirty=true">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" title="{{'CTRNintexSettings.SaveChangesNintex' | translate}}" class="btn btn-purple" (click)="SaveNintex()">{{'CTRNintexSettings.SaveNintex' | translate}}</button>&nbsp;
            <button type="button" class="btn btn-purple" title="{{'CTRNintexSettings.Mapjobs' | translate}}" ng-click="JobMap()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button>&nbsp;
            <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
            <button type="button" class="btn btn-purple" title="{{'CTR_Exception.Back' | translate}}" ng-click="Back()">{{'CTR_Exception.Back' | translate}}</button>
            </div></div>
        <div class="form-group"></div>
        <!-- START panel-->
        <div id="panelDemo5" class="panel panel-default">
            <div class="panel-top">
            {{'CTRNintexSettings.NintexSettings' | translate}}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row"><div class="form-group"></div></div>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>
                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" (change)="servicechange($event)" [(ngModel)]="servicelogin" id="chkweblogin">{{'CTREgnyteConnect.Useservicelogin' | translate }}</mat-checkbox>
                                    </label>

                                </div>
                            </div>
                            <div class="row" *ngIf="hidepath">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>{{'CTRNintexSettings.FolderPath' | translate}}<span class="text-danger">*</span></label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <input class="form-control" type="text" [(ngModel)]="folderpath" name="folder" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Tenant URL<span class="text-danger">*</span></label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <input class="form-control" type="text" title="Ex: us.nindex.io" ng-model="tokenurl" name="tourl" />
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="paccesstoken">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>{{'CTRNintexSettings.AccessToken' | translate}}</label>
                                        <span class="text-danger">*</span>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <input class="form-control" type="text" [(ngModel)]="personalaccesstoken" name="accesstkn" />
                                    </div>
                                </div>
                            </div>


                            <div *ngIf="Appdetail">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>
                                                {{'CommonItems.ApplicationID_V20' | translate}}
                                            </label><span class="text-danger">*</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <input class="form-control" [disabled]="AppSettings" type="text" [(ngModel)]="appid" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>
                                                {{'CommonItems.ApplicationSecret_V20' | translate}}
                                            </label><span class="text-danger">*</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <input class="form-control" type="text" [(ngModel)]="appsecret" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <button type="button" title="{{'CTREgnyteConnect.GetAccessToken' | translate}}" class="btn btn-purple" ng-disabled="(appsecret==null || appid==null || tokenurl==null)" (click)="GenerateToken()">{{'CTREgnyteConnect.GetAccessToken' | translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>
                                                {{'CommonItems.TokenCreatedOn' | translate}}
                                            </label>
                                        </div>
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <input class="form-control" readonly type="text" [(ngModel)]="tokenexpireson" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row"><div class="form-group"></div></div>
                        <div class="row"><div class="form-group"></div></div>
                        <div class="row">
                            <!--<div class="col-sm-10">
                                <button type="button" class="btn btn-purple" title="{{'CTRNintexSettings.Mapjobs' | translate}}" ng-click="JobMap()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button>
                            </div>-->
                        </div>
                        <div class="row"><div class="form-group"></div></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">
              <div class="col-sm-12">
                 <div class="row" *ngIf="userlist">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                              
                              <!-- <input type="text" focus-me class="form-control autocomplete" ng-model="username" typeahead="user for user in ListOfUser | filter:$viewValue"> -->
                          
                              <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="testusername" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                      <datalist id="dynmicUserIds">
                          <select>
                        <option *ngFor="let item of ListOfUser">{{item}}</option>
                      </select>
                      </datalist>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row" *ngIf="txtuser">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="testusername" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CTRNintexSettings.WorkFlowName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                             <input class="form-control" type="text" [(ngModel)]="target" name="targetval" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(testusername,target)">{{'CommonItems.Test'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>