<form role="form" name="UIPathform" (change)="isDirty=true">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" ng-disabled="uipathForm.$invalid" class="btn btn-purple" (click)="SaveUIpath()">{{'CTRUserConfigure.USSave' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" ng-disabled="btnmapjob" title="{{'CTR_JobManagement.Map_Jobs' | translate}}" ng-click="UIPathMapJobs()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTR_Exception.Back' | translate}}" ng-click="Back()">{{'CTR_Exception.Back' | translate}}</button>
            </div>
        </div>
        <div class="form-group"></div>

            <!-- START panel-->
            <div id="panelDemo7" class="panel panel-default">
                <div class="panel-top">{{'CTRUIPathController.UI_Path' | translate}}</div>
                <div class="panel-body" style="padding-left:25px;">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span *ngIf="useCloud">{{'CTRUIPathController.Site_URL' | translate}}</span><span *ngIf="useCloud" class="text-danger">*</span>
                                <span *ngIf="!useCloud">{{'CTRUIPathController.Domain_URL' | translate}}</span><span *ngIf="!useCloud" class="text-danger">*</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input class="form-control" name="domain" type="text"  [(ngModel)]="domainurl" />
                            </div>
                        </div>
                        <div class="col-sm-4" *ngIf="!uipathcloud">

                            <label>
                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="useCloud" (change)="clearValues(useCloud)" name="chkwebsiteemail">{{'CTRUIPathController.Use_Cloud' | translate }}</mat-checkbox>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span>{{'CTRUIPathController.Tenant_Name' | translate}}</span><span class="text-danger">*</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="text" name="tenent" [(ngModel)]="tenantname" />
                            </div>
                        </div>
                    </div>
                    <!--<div class="row" ng-hide="uipathusername">-->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span *ngIf="useCloud"><span>{{'CTRUIPathController.Client_Id' | translate}}</span><span class="text-danger">*</span></span>
                                <span *ngIf="!useCloud"><span>{{'CTRUserConfigure.Username' | translate}}</span><span class="text-danger">*</span></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="text" name="uname" [(ngModel)]="username" />
                            </div>
                        </div>
                    </div>
                    <!--<div class="row" ng-hide="uipathpassword">-->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span *ngIf="useCloud"><span>{{'CTRUIPathController.User_Key' | translate}}</span><span class="text-danger">*</span></span>
                                <span *ngIf="!useCloud"><span>{{'CTRUserConfigure.Password' | translate}}</span><span class="text-danger">*</span></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" *ngIf="useCloud">
                                <input class="form-control" type="text" name="pass" [(ngModel)]="password" />
                            </div>
                            <div class="input-group" *ngIf="!useCloud">
                                <!-- <input class="form-control" type="{{inputType}}" ng-model="password" />
                                <span class="input-group-addon">
                                    <span class="{{showHideClass}}" ng-click="showPassword()" style="cursor:pointer"></span>
                                </span> -->
                                <input class="form-control" type="password" name="pass" [(ngModel)]="password" />
                            </div>
                        </div>
                    </div>



                    <!--<div ng-show="AppDetails">
                        <div class="row">
                            <div class="col-lg-3">
                                <span>
                                    {{'CommonItems.ApplicationID_V20' | translate}}
                                </span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" ng-disabled="AppSettings" type="text" ng-model="appid" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>
                                    {{'CommonItems.ApplicationSecret_V20' | translate}}
                                </span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" ng-disabled="AppSettings" type="text" ng-model="appsecret" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>
                                    {{'CommonItems.Redirecturl_V20' | translate}}
                                </span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" ng-disabled="AppSettings" type="text" ng-model="redirecturl" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-purple" title="{{'CommonItems.EditSettings' | translate}}" ng-click="EditSettings()">{{'CommonItems.Edit' | translate}}</button>&nbsp;&nbsp;&nbsp;
                                            <button type="button" class="btn btn-purple" title="{{'CommonItems.Resetsettings' | translate}}" ng-click="ResetSettings()">{{'CommonItems.ResettoDefault' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="AppDetailsCloud">
                        <div class="row">
                            <div class="col-lg-3">
                                <span>
                                    {{'CommonItems.ApplicationID_V20' | translate}}
                                </span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" ng-disabled="AppSettings" type="text" ng-model="appidcloud" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>
                                    {{'CommonItems.ApplicationSecret_V20' | translate}}
                                </span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" ng-disabled="AppSettings" type="text" ng-model="appsecretcloud" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>
                                    {{'CommonItems.Redirecturl_V20' | translate}}
                                </span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input class="form-control" ng-disabled="AppSettings" type="text" ng-model="redirecturlcloud" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-purple" title="{{'CommonItems.EditSettings' | translate}}" ng-click="EditSettings()">{{'CommonItems.Edit' | translate}}</button>&nbsp;&nbsp;&nbsp;
                                            <button type="button" class="btn btn-purple" title="{{'CommonItems.Resetsettings' | translate}}" ng-click="ResetSettings()">{{'CommonItems.ResettoDefault' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row" *ngIf="hidefileuploadfield">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span>{{'CTRUIPathController.Max_FileUploadSize' | translate}}</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input class="form-control" ng-pattern="/^[0-9]*$/" type="text" name="size" [(ngModel)]="filesize" maxlength="3" />
                                <!-- <span class="text-danger" *ngIf="uipathForm.size.$dirty && uipathForm.size.$error.pattern">Enter only number</span> -->
                            </div>
                        </div>
                        <div class="col-sm-1" style="padding-top:5px;">
                            <span>({{'CTRUIPathController.Inmb' | translate}})</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- START panel-->
            <div id="panelDemo7" class="panel panel-default">
                <div class="panel-top">{{'CTRUIPathController.SharePoint_Settings' | translate}}</div>
                <div class="panel-body" style="padding-left:25px;">
                    <div class="row" *ngIf="!btnweblogin" style="padding-left:13px;">
                        <div class="form-group">
                            <button type="button" class="btn btn-purple" title="{{'CTRWeblogin.Web_Login' | translate}}" (click)="WebLogin()">{{'CTRWeblogin.Web_Login' | translate}}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span>{{'CTRUIPathController.Site_URL' | translate}}</span><span class="text-danger">*</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input class="form-control" placeholder="{{'CTRUIPathController.mysite' | translate}}" type="text" name="site" [(ngModel)]="spositeurl" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span>{{'CTRUIPathController.Document_Library' | translate}}</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="text" name="doclib" [(ngModel)]="spodocumentlibrary" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span>{{'CTRUserConfigure.Username' | translate}}</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="text" name="spouser" [(ngModel)]="sharepointusername" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span>{{'CTRUserConfigure.Password' | translate}}</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <!-- <input class="form-control" type="{{inputTypeval}}" ng-model="sharepointpassword" />
                                <span class="input-group-addon">
                                    <span class="{{showHideClassAuth}}" ng-click="showPasswordAuth()" style="cursor:pointer"></span>
                                </span> -->
                                <input class="form-control" type="password" name="spopass" [(ngModel)]="sharepointpassword" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</form>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}" *ngIf="usecloudtrue">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">
              <div class="col-sm-12">
                 <div class="row" *ngIf="userlist">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                              
                              <!-- <input type="text" focus-me class="form-control autocomplete" ng-model="username" typeahead="user for user in ListOfUser | filter:$viewValue"> -->
                          
                              <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="testusername" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                      <datalist id="dynmicUserIds">
                          <select>
                        <option *ngFor="let item of ListOfUser">{{item}}</option>
                      </select>
                      </datalist>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row" *ngIf="txtuser">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="testusername" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.FolderName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="foldername" name="folder" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.ProcessName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="processname" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 

              </div>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(testusername,foldername,processname)">{{'CommonItems.Test'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>


  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}" *ngIf="usecloudfalse">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">
              <div class="col-sm-12">
                 <div class="row" *ngIf="userlist">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                              
                              <!-- <input type="text" focus-me class="form-control autocomplete" ng-model="username" typeahead="user for user in ListOfUser | filter:$viewValue"> -->
                          
                              <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="testusername" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                      <datalist id="dynmicUserIds">
                          <select>
                        <option *ngFor="let item of ListOfUser">{{item}}</option>
                      </select>
                      </datalist>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row" *ngIf="txtuser">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="testusername" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.FolderName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="foldername" name="folder" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.ProcessName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="processname" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 

              </div>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(testusername,foldername,processname)">{{'CommonItems.Test'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>