
<div style="background-color: #fff;">
  <ngx-ui-loader></ngx-ui-loader>
  <router-outlet></router-outlet>
</div>
  <!-- <footer style="background-color: #e8e5e5;">
      EasyNxConnect 
  </footer> -->


