<style>
    .scroll{
height: 300px;
overflow-y: scroll;
}  
</style>
    <div class="panel panel-default">
        <!-- <div class="row">
            <div class="form-group">
            </div>
        </div> -->
        <div class="panel-heading">
                    <label style="font-size:large;">{{'CTR_JobGroupManagement.Job_Group'|translate}}</label>
        </div>
        <div class="panel-body">
            <form role="form" name="jobgroupForm" novalidate="" class="form-validate">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>{{'CTR_JobGroupManagement.Name'|translate}}</label>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="Jobgroupname" name="jobname" tabindex="0" class="form-control" />
    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
</div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>{{'CTR_JobGroupManagement.Description'|translate}}</label>
                                <input type="text" [(ngModel)]="description" name="description" tabindex="0" class="form-control" />

                            </div>
                        </div>
                        <!-- <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="description" name="description" tabindex="0" class="form-control" />
                            </div>
                        </div> -->
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label></label>
                            <button title="{{'CTR_JobGroupManagement.CreateJobGroup'|translate}}" class="btn btn-labeled btn-purple" mat-raised-button (click)="addNewNode()"><mat-icon>add_box</mat-icon>
                                {{'CTR_JobGroupManagement.CreateJobGroup'|translate}}</button>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                            <label></label>
                            <!-- <input [(ngModel)]="searchtxt" name="tes" class="form-control" type="text" placeholder="Search User"> -->
</div>
</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div>
                                <label>{{'CTR_JobGroupManagement.Hierarchy'|translate}}</label>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                    <div class="row-table">{{'CTR_JobGroupManagement.Hierarchy'|translate}}</div>
                                </div>
                                <div class="scroll">
                                    <div class="col-sm-12 table-bordered">
                                    <!-- <div id="buttonsDiv" class="col-lg-4" style="height:20vh">
                                        <input type="text" id="txtJobGroupName" class="form-control" /><br />
                                        <button id="btnAdd" type="button" class="btn btn-secondary">Add Job Group</button>
                                    </div> -->
                                    <div id="jobGroupsTreeDiv">
                                
                                    </div>
                                
                                    <div id="jobListDiv" class="col-lg-4 border-1 border-secondary rounded-1" style="height:20vh">
                                
                                    </div>
                                    </div>
                                </div>
                                </div>

                            <div class="row">
                                <div class="form-group"></div> <div class="form-group"></div>
                            </div>
                        </div>
                        <div class="col-sm-1" style="text-align:center;">
                            <div class="row"><div class="form-group"></div></div>
                            <div class="row"><div class="form-group"></div></div>
                            <div class="row"><div class="form-group"></div></div>
                            <div class="row"><div class="form-group"></div></div>
                            <div class="row"><div class="form-group"></div></div>
                            <div class="row"><div class="form-group"></div></div>
                            <div class="row"><div class="form-group"></div></div>
                            <div>
                                <button type="button" mat-raised-button title="{{'CTR_JobGroupManagement.Addjobs'|translate}}" (click)="adding_a_job()"  class="btn-purple">
                                    <mat-icon style="font-size: 35px;" [inline]="true">arrow_left</mat-icon>
                                </button>
                                
        
                            </div>
                            <div class="form-group"></div>
                            <div>
                                <button type="button" mat-raised-button title="{{'CTR_JobGroupManagement.Removejobs'|translate}}" (click)="try_delete_a_job()" class="btn btn-sm btn-purple">
                                    <mat-icon style="font-size: 35px;" [inline]="true">arrow_right</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <label>{{'CTR_JobGroupManagement.Assign_Jobs'|translate}}</label>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                    <div class="row-table"> {{'CTR_JobGroupManagement.Jobs'|translate}}</div>
                                </div>
                                <!-- START list group-->
                                <!-- <scrollable height="250" class="list-group"> -->
                                    <div class="scroll"> 
                                        <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let m of Repository;">
                                       <div class="col-sm-1">
                                            <label for="chkCustomer_{{m}}">
                                                <input id="chkCustomer_{{m}}" type="checkbox" (change)="isAllSelected(m.Selected);" [(ngModel)]="m.Selected" [checked]="m.Selected" name="val" />
                                            </label>
                                        </div>
                                        <div class="col-lg-10">
                                            {{m.JobName}}
                                        </div>
                                        </div>
                                    </div>
                                    <!-- END list group item-->
                                <!-- </scrollable> -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-lg-12">
                                        <label>{{'CTR_JobGroupManagement.AssignUsers'|translate}}</label>
                                    <!-- <div class="col-sm-7">
                                        <input ng-model="searchtxt" name="tes" class="form-control" type="text" placeholder="Search User">
                                    </div> -->
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                        <div class="row-table"> {{'CTR_JobGroupManagement.Users'|translate}}</div>
                                    </div>
                                    <!-- START list group-->
                                    <!-- <scrollable height="250" class="list-group"> -->
                                        <div class="scroll"> 
                                        <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let user of Users">
                                            <div class="col-sm-1">
                                                <label for="chkCustomer_{{user.UserName}}">
                                                    <input id="chkCustomer_{{user.UserName}}" type="checkbox" (change)="isAllSelectedass(user.Selectedass);" [(ngModel)]="user.Selectedass" [checked]="user.Selectedass" name="chk" />
                                                </label>
                                            </div>
                                            <div class="col-lg-10">
                                                {{user.UserName}}
                                            </div>
                                        </div>
                                        </div>
                                        <!-- END list group item-->
                                    <!-- </scrollable> -->
                                </div>
                            </div>
                    </div>
                    <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-purple" (click)="JobGroupSave()">{{'CTR_JobGroupManagement.Save'|translate}}</button>&nbsp;&nbsp;
                                    <button type="button" class="btn btn-purple" (click)="close()">{{'CTR_JobGroupManagement.Close'|translate}}</button>
                            </div>
                    </div>
</form>
        </div>
    </div>

