<style>
    .scroll{
height: 300px;

overflow-y: scroll;

}  
.scrolledit{
height: 450px;

overflow-y: scroll;

}  
</style>

<form>
<div class="container-fluid">
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="row">
            <div class="form-group">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <!-- <button #my_Button id="refresh" class="btn- fa fa-refresh" aria-hidden="true" value="referesh" (click)="LoadBox()">  Refresh</button> -->
                

                <div class="col-sm-4" *ngIf="BoxTargets">
                    <label style="font-size:large;">{{'CTR_JobManagement.BoxTargets' | translate}}</label>
                </div>
                <div class="col-sm-4" *ngIf="ODBTargets">
                    <label style="font-size:large;">{{'CTR_JobManagement.ODBTargets' | translate}}</label>
                </div>
                <div class="col-sm-4" *ngIf="DropBoxTargets">
                    <label style="font-size:large;">{{'CTR_JobManagement.DropBoxTargets' | translate}}</label>
                </div>
                <div class="col-sm-5" *ngIf="SPOTargets">
                    <label style="font-size:large;">{{'CTR_JobManagement.SPOTargets' | translate}}</label>
                </div>

                <div class="col-sm-4" *ngIf="AzureBlobsTargets">
                    <label style="font-size:large;">Azure Blob</label>
                </div>

                <div class="col-sm-4" *ngIf="Buckets">
                    <label style="font-size:large;">{{'CTR_JobManagement.BucketSelect' | translate}}</label>
                </div>

                <div class="col-sm-4" *ngIf="cabinates">
                    <label style="font-size:large;">{{'CTR_JobManagement.CabinetSelect' | translate}}</label>
                </div>

                <div class="col-sm-4" *ngIf="EmailTargets">
                    <label style="font-size:large;">{{'CTR_JobManagement.Email' | translate}}</label>
                </div>

                <div class="col-sm-4" *ngIf="HomeFolderTargets">
                    <label style="font-size:large;">{{'CTR_JobManagement.HomeFolderTargets' | translate}}</label>
                </div>

                <div class="col-sm-4" *ngIf="FTPTargets">
                    <label style="font-size:large;">{{'CTR_JobManagement.FTPTargets' | translate}}</label>
                </div>

                <div class="col-sm-4" *ngIf="FaxTargets">
                    <label style="font-size:large;">{{'CTR_JobManagement.FaxTargets' | translate}}</label>
                </div>

                <div class="col-sm-4" *ngIf="EgnyteTargets">
                    <label style="font-size:large;">{{'CTR_JobManagement.EgnyteTargets' | translate}}</label>
                </div>

                <div class="col-sm-2" style="text-align:center;">
                    <span>{{'CTR_JobManagement.TemplateJobtxt' | translate}}</span>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" readonly="" type="text" name="temjobname" [(ngModel)]="templateJobName" />
                </div>
                <div>
                    <button mat-icon-button title="{{'CTR_JobManagement.Template' | translate}}" [disabled]="templateok" (click)="Templatejobmap()"><mat-icon>check_circle</mat-icon></button>
                    <button mat-icon-button style="cursor: pointer;" title="{{'CTR_JobManagement.Clear' | translate}}" (click)="clearjob()" [disabled]="templateclear"><mat-icon>delete</mat-icon></button>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group"></div>
        </div>
        <div class="row">
        <div class="col-sm-12" *ngIf="EmailTargets">
            <div class="col-sm-2" style="padding-top:5px;">
                <label>{{'CTR_JobManagement.EmailTargets' | translate}}</label>
            </div>
            <div class="col-sm-3">
                <input type="file" (change)="uploadFile($event)" id="myFile" name="upload" class="form-control" />
            </div>
        </div>

        <div class="col-sm-12" *ngIf="FaxTargets">
            <div class="col-sm-2" style="padding-top:5px;">
                <label>{{'CTR_JobManagement.FaxTargets' | translate}}</label>
            </div>
            <div class="col-sm-3">
                <input type="file" id="FaxFile" (change)="uploadFaxFile($event)" name="upload" class="form-control" />
            </div>
        </div>


        <div class="col-sm-12" *ngIf="AzureBlobsTargets">
            <div class="col-sm-2" style="padding-top:5px;">
                <label>{{'CTR_JobManagement.ImportTargets' | translate}}</label>
            </div>
            <div class="col-sm-3">
                <input type="file" id="myAzureFile" (change)="uploadFileAzure($event)" name="uploadazure" class="form-control" />
            </div>
        </div>
        <div class="col-sm-12" *ngIf="HomeFolderTargets">
            <div class="col-sm-2" style="padding-top:5px;">
                <label>{{'CTRMFiles.Root_Folder' | translate}}</label>
            </div>
            <div class="col-sm-3">
                <input type="text" name="foldername" [(ngModel)]="rootfolder" class="form-control" />
            </div>
            <button type="button" class="btn btn-purple" (click)="GetTargets()">{{'CTR_JobManagement.GetTargets' | translate}}</button>
        </div>
        </div>
        <div class="row">
            <div class="form-group"></div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 container">
                    <div class="{{jobmanagementClass}}">
                        <!--BOXTargets-->
                        <div class="panel panel-default" *ngIf="BoxTargets">
                            <div class="panel-heading"  style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table">{{'CTR_JobManagement.Targets' | translate}}</div>
                            </div>
                                <div class="scroll">
                                <div id="jstree_demo_div"></div>
                                </div>
                        </div>


                         <!--ODBTargets-->
                         <div class="panel panel-default" *ngIf="ODBTargets">
                            <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table">{{'CTR_JobManagement.Targets' | translate}}</div>
                            </div>
                            <!-- START list group-->
                            <div class="scroll">
                                <div id="jstree_demo_div_odb"></div>
                            </div>
                        </div>
                       
                                                <!--DROPBOXTargets-->
                                                <div class="panel panel-default" *ngIf="DropBoxTargets">
                                                    <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                                        <div class="row-table">{{'CTR_JobManagement.Targets' | translate}}</div>
                                                    </div>
                                                    <!-- START list group-->
                                                    <div class="scroll">
                                                        <div id="jstree_demo_Dropdiv"></div>
                                                    </div>
                        
                                                </div>


 <!--AzureFolder-->
 <div class="panel panel-default" *ngIf="AzureBlobsTargets">
    <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
        <div class="row-table">{{'CTR_JobManagement.Targets' | translate}}</div>
    </div>
    <!-- START list group-->
    <div class="scroll">
        <div id="jstree_demo_divAzure"></div>
    </div>

</div>

                        <!--SPOTargets-->
                        <div class="panel panel-default" *ngIf="SPOTargets">
                            <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table">{{'CTR_JobManagement.Targets' | translate}}</div>
                            </div>
                            <!-- START list group-->
                            <div class="scroll">
                                <div id="jstree_demo_div_spo"></div>
                            </div>
                        </div>
                        
                        <!--FolderTargets-->
                        <div class="panel panel-default" *ngIf="HomeFolderTargets">
                            <div class="panel-heading"  style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table">{{'CTR_JobManagement.Targets' | translate}}</div>
                            </div>
                                <div class="scroll">
                                <div id="jstree_demo_divHome"></div>
                                </div>
                        </div>


                         <!--EgnyteTargets-->
                         <div class="panel panel-default" *ngIf="EgnyteTargets">
                            <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table">{{'CTR_JobManagement.Targets' | translate}}</div>
                            </div>
                            <!-- START list group-->
                            <div class="scroll">
                                <div id="jstree_demo_div_egnyte"></div>
                                <!-- END list group item-->
                            </div>
                        </div>


                        <!--Buckets-->
                        <div class="panel panel-default" *ngIf="Buckets">
                            <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table">{{'CTR_JobManagement.Available_Buckets' | translate}}</div>
                            </div>
                            <!-- START list group-->
                            <div class="scroll">
                                <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let data of GetBuckets">
                                    <div class="col-sm-1 border" style="text-align: center;">
                                        <label for="chkCustomer_{{data}}">
                                            <input id="chkCustomer_{{data.BucketName}}" type="checkbox" [(ngModel)]="data.Selected" [checked]="data.Selected" name="chkbuckets" (change)="CheckUncheckAllbuckets()" />
                                        </label>
                                    </div>
                                    <div class="col-lg-10">
                                        {{data.BucketName}}
                                    </div>
                                </div>
                                <!-- END list group item-->
                            </div>
                        </div>

                        <!--Cabinates-->
                        <div class="panel panel-default" *ngIf="cabinates">
                            <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table">{{'CTR_JobManagement.Available_Cabinets' | translate}}</div>
                            </div>
                            <!-- START list group-->
                            <div class="scroll">
                                <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let data of Filecabinates">
                                    <div class="col-sm-1 border" style="text-align: center;">
                                        <label for="chkCustomer_{{data}}">
                                            <input id="chkCustomer_{{data.cabinatename}}" type="checkbox" [(ngModel)]="data.Selected" [checked]="data.Selected" name="chkjobgroup" (change)="CheckUncheckAllCabinate(data.Selected)" />

                                        </label>
                                    </div>
                                    <div class="col-lg-10">
                                        {{data.cabinatename}}
                                    </div>
                                </div>
                                <!-- END list group item-->
                            </div>
                        </div>
                        

                                                <!--EmailTargets-->
                                                <div class="panel panel-default" *ngIf="EmailTargets">
                                                    <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                                        <div class="row-table">{{'CTR_JobManagement.Targets' | translate}}</div>
                                                    </div>
                                                    <!-- START list group-->
                                                    <div class="scroll">
                                                        <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let m of EmailMapTargets">
                                                            <div class="col-sm-1 border" style="text-align: center;">
                                                                <label for="chkCustomer_{{m}}">
                                                                    <input id="chkCustomer_{{m.Email}}" type="checkbox" [(ngModel)]="m.Selected" [checked]="m.Selected" name="chkjobemail" (change)="CheckUncheckAllEmail()" />

                                                                </label>
                                                            </div>
                                                            <div class="col-lg-10">
                                                                {{m.Name}}
                                                            </div>
                                                        </div>
                                                        <!-- END list group item-->
                                                    </div>
                                                </div>

                                                <!--FTP Targets-->
                        <div class="panel panel-default" *ngIf="FTPTargets">
                            <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table">{{'CTR_JobManagement.Targets' | translate}}</div>
                            </div>
                            <!-- START list group-->
                            <div class="scroll">
                                <div id="jstree_demo_divftp"></div>
                            </div>

                        </div>
                        

                                                <!--Fax Targets-->
                                                <div class="panel panel-default" *ngIf="FaxTargets">
                                                    <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                                        <div class="row-table">{{'CTR_JobManagement.FaxTargets' | translate}}</div>
                                                    </div>
                                                    <!-- START list group-->
                                                    <div class="scroll">
                                                        <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let data of FaxMapTargets">
                                                            <div class="col-sm-1 border" style="text-align: center;">
                                                                <label for="chkCustomer_{{data}}">
                                                                    <input id="chkCustomer_{{data.FaxNumber}}" type="checkbox" />
                                                                </label>
                                                            </div>
                                                            <div class="col-lg-10">
                                                                {{data.Name}}
                                                            </div>
                                                        </div>
                                                        <!-- END list group item-->
                                                    </div>
                                                </div>

                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <button mat-icon-button title="{{'CTR_JobManagement.Map_Jobs' | translate}}" (click)="JobMap()" class="btn btn-sm btn-purple"><mat-icon>maps_ugc</mat-icon></button>

                            </div>
                        </div>
                    </div>
                    <div class="{{jobmanagementClass}}">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table"> {{'CTR_JobManagement.Current' | translate}}</div>
                            </div>
                                <div class="scroll">
                                    <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;" *ngFor="let m of Jobs;">
                                    <div class="col-sm-1">
                                        <label for="chkCustomer_{{m}}">
                                            <input id="chkCustomer_{{m.Id}}" type="checkbox" name="chkjob" [(ngModel)]="m.Selected" (change)="CheckUncheckAllDoc(m.Selected)" />
                                        </label>
                                    </div>
                                    <div class="col-lg-10">
                                        {{m.JobName}}
                                    </div></div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="form-group"></div> <div class="form-group"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <!-- <button type="button" title="{{'CTR_JobManagement.JEdit' | translate}}" ng-disabled="multipleedit" ng-click="JobEdit()" class="btn btn-sm btn-purple">
                                        <span class="material-icons-outlined">
                                            edit
                                            </span>                                    </button> -->
                                            <button mat-icon-button title="{{'CTR_JobManagement.JEdit' | translate}}" [disabled]="multipleedit" (click)="JobEdit()" class="btn btn-sm btn-purple"><mat-icon>edit</mat-icon></button>&nbsp;&nbsp;

                                            <!-- &nbsp;&nbsp;
                                    <button type="button" title="{{'CTR_JobManagement.JRefresh' | translate}}" ng-click="JobRefresh()" class="btn btn-sm btn-purple">
                                        <span class="material-icons-outlined">
                                            refresh
                                            </span>                                    </button>&nbsp;&nbsp; -->
                                            <button mat-icon-button title="{{'CTR_JobManagement.JRefresh' | translate}}" (click)="JobRefresh()" class="btn btn-sm btn-purple"><mat-icon>refresh</mat-icon></button>&nbsp;&nbsp;

                                    <!-- <button type="button" title="{{'CTR_JobManagement.JDelete' | translate}}" ng-click="DeleteJob()" class="btn btn-sm btn-purple">
                                        <span class="material-icons-sharp">
                                            delete
                                            </span>                                    </button> -->
                                            <button mat-icon-button title="{{'CTR_JobManagement.JDelete' | translate}}" (click)="DeleteJob()" class="btn btn-sm btn-purple"><mat-icon>delete</mat-icon></button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="{{jobmanagementClass}}">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color:white;background-color:#435a9b;text-align:center">
                                <div class="row-table">{{'CTR_JobManagement.Job_Group' | translate}}</div>
                            </div>
                            <!-- START list group-->
                            <!-- <scrollable height="250" class="list-group"> -->
                                <div class="scroll">
                                <div class="col-sm-12 table-bordered" style="padding-top:10px;padding-bottom:5px;"  *ngFor="let jobgroup of Jobgroups;">
                                    <div class="col-sm-1">
                                        <label for="chkCustomer_{{jobgroup.Id}}">
                                            <input id="chkCustomer_{{jobgroup.Id}}" type="checkbox" [(ngModel)]="jobgroup.Selected" [checked]="jobgroup.Selected" name="chkjobgroup" (change)="CheckUncheckAllJobGroup(jobgroup.Selected)" />
                                        </label>
                                    </div>
                                    <div class="col-lg-10">
                                        {{jobgroup.JobGroupName}}
                                    </div>
                                </div>
                        </div>
                                <!-- END list group item-->
                            <!-- </scrollable> -->
                        </div>
                        <div class="row">
                            <div class="form-group"></div> <div class="form-group"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <!-- <button type="button" title="{{'CTR_JobManagement.JCreate' | translate}}" ng-click="JobGroupscreate()" class="btn btn-sm btn-purple">
                                        <em class="fa fa-plus-square fa-1x"></em>
                                    </button>&nbsp;&nbsp; -->
                                    <button mat-icon-button title="{{'CTR_JobManagement.JCreate' | translate}}" (click)="JobGroupscreate()" class="btn btn-sm btn-purple"><mat-icon>add</mat-icon></button>&nbsp;&nbsp;

                                    <!-- <button type="button" title="{{'CTR_JobManagement.JobgroupEdit' | translate}}" ng-disabled="multipleeditjobgroup" ng-click="JobGroupEdit()" class="btn btn-sm btn-purple">
                                        <em class="fa fa-edit fa-1x"></em>
                                    </button>&nbsp;&nbsp; -->
                                    <button mat-icon-button title="{{'CTR_JobManagement.JobgroupEdit' | translate}}" [disabled]="multipleeditjobgroup" (click)="JobGroupEdit()" class="btn btn-sm btn-purple"><mat-icon>edit</mat-icon></button>&nbsp;&nbsp;

                                    <!-- <button type="button" title="{{'CTR_JobManagement.JRefresh' | translate}}" ng-click="JobGroupRefresh()" class="btn btn-sm btn-purple">
                                        <em class="fa fa-refresh fa-1x"></em>
                                    </button>&nbsp;&nbsp; -->
                                    <button mat-icon-button title="{{'CTR_JobManagement.JRefresh' | translate}}" (click)="JobGroupRefresh()" class="btn btn-sm btn-purple"><mat-icon>refresh</mat-icon></button>&nbsp;&nbsp;

                                    <!-- <button type="button" title="{{'CTR_JobManagement.JobgroupDelete' | translate}}" ng-click="JobGroupDelete()" class="btn btn-sm btn-purple">
                                        <em class="fa fa-trash-o fa-1x"></em>
                                    </button> -->
                                    <button mat-icon-button title="{{'CTR_JobManagement.JobgroupDelete' | translate}}" (click)="JobGroupDelete()" class="btn btn-sm btn-purple"><mat-icon>delete</mat-icon></button>

                                </div>
                            </div>
                        </div>
                    </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<form>
    <div class="modal" role="dialog" [ngStyle]="{'display':editjobpopup}">
      <div class="modal-dialog">
        <div class="modal-content" style="width:650px;height: 400px;">
          <div class="modal-header">
                
  
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-top" style="display: block;"><h2>{{'EditJob.JobProperties' | translate}}</h2>
      </div>
    </div>
  
  </div>
          </div>
          <div class="modal-body scroll">
            <div class="row">
                <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>{{'EditJob.EJName' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control" focus-me type="text" [(ngModel)]="Jobname" name="jname" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>{{'EditJob.EJDescription' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="Description" type="text" name="jdesc" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>{{'EditJob.Metadata_Name' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="MetaDataName" type="text" name="jmetaname" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" style="padding-top: 12px;">
                                    <label>{{'EditJob.IP_Profile' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <mat-form-field appearance="outline" style="width:100%;">
                                        <mat-label>Region</mat-label>
                                        <mat-select  title="{{'CTRAmazons3.SelectRegionTooltip' | translate}}" name="cboAmazonRegion" [(ngModel)]="ProfileName">
                                        <mat-option *ngFor="let item of IPprofiles"  [value]="item">
                                            {{item}}
                                          </mat-option>
                                        </mat-select>              
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" style="padding-top: 12px;">
                                    <label>{{'EditJob.Button_Color' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <mat-form-field appearance="outline" style="width:100%;">
                                        <mat-label>Color</mat-label>
                                        <mat-select name="cbobtncolor" [(ngModel)]="buttoncolor">
                                            <mat-option value="">--</mat-option>
                                            <mat-option value="#4d4d4d">Tundora</mat-option>
                                            <mat-option value="#f24a33">Flamingo</mat-option>
                                            <mat-option value="#e58f30">Fire Bush</mat-option>
                                            <mat-option value="#bc8f3f">Tussock</mat-option>
                                            <mat-option value="#b54f2e">Tuscany</mat-option>
                                            <mat-option value="#006547">Fun Green</mat-option>
                                            <mat-option value="#2d82dc">Curious Blue</mat-option>
                                            <mat-option value="#1c4ad2">Persian Blue</mat-option>
                                            <mat-option value="#3132b2">Governor Bay</mat-option>
                                            <mat-option value="#7b299a">Seance</mat-option>
                                            <mat-option value="#dd439f">Cerise</mat-option>
                                            <mat-option value="#8e1d62">Disco</mat-option>
                                        </mat-select>              
                                    </mat-form-field>                               
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" style="padding-top: 12px;">
                                    <label>{{'EditJob.Metadata_Type' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <mat-form-field appearance="outline" style="width:100%;">
                                        <mat-label>Type</mat-label>
                                        <mat-select name="cboType" [(ngModel)]="MetaDataType">
                                            <mat-option value="">--</mat-option>
                                            <mat-option value="default">Alpha Numeric</mat-option>
                                            <mat-option value="number">Numeric</mat-option>
                                        </mat-select>              
                                    </mat-form-field>                                
                                 </div>
                            </div>
                        </div>
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" (click)="EditJob()">{{'EditJob.Update' | translate}}</button>
            <button class="btn btn-warning" (click)="EditClose()">{{'EditJob.Close' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
