<!-- <form role="form" name="useraccountsForm" novalidate> -->
    <div class="col-lg-12" (change)="isDirty=true">
        
        <!-- <div class="form-group"></div>
        <div class="row">
            <div class="col-lg-12" *ngIf="ShowAdminLogin">
                <button type="button" class="btn btn-purple" title="{{'CTRUserConfigure.UserConfigureTooltip1' | translate}}" ng-click="AdminLogin()">{{'CTRUserConfigure.Admin_Login' | translate}}</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-purple" title="{{'CTRUserConfigure.UserConfigureTooltip4' | translate}}" ng-click="Save()">{{'CTRUserConfigure.USSave' | translate}}</button>
            </div>
        </div> -->
        <div class="form-group"></div>

 <!-- START panel-->
 <div id="panelDemo5" class="panel panel-default" id="Local">
    <div class="panel-top">
        {{'CTRUserConfigure.Authentication_V20' | translate}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 5px;">
                            <span>{{'CTRUserConfigure.AuthType_V20' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <mat-form-field appearance="fill" style="width:100%;">
                                    <mat-label>Authentication</mat-label>
                                    <mat-select  title="{{'CTRUserConfigure.SelectAuthTooltip_V20' | translate}}" name="lang" [(ngModel)]="AuthName" required="" [disabled]="ShowAuthentication"
                                    (selectionChange)="AuthenticationChangevalue($event)">
                                      <mat-option *ngFor="let option of authenticationList"  [value]="option.PrimaryAuthType">
                                        {{option.ProviderName}}
                                      </mat-option>
                                    </mat-select>
                                  
                               </mat-form-field>
                              </div>
                        </div>
                        <div class="col-lg-6" *ngIf="ByPassPassword">
                                <div title="{{'CTRUserConfigure.ByPassword' | translate}}">
                                    <div>
                                        <label>
                                            <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox"
                                            class="example-margin" [(ngModel)]="Nfcauth" (change)="NFCUserAuthenticate()" id="chkweblogin">{{'CTRUserConfigure.ByPassword' | translate}}</mat-checkbox>
           
                                        </label>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div  *ngIf="LDir">
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRCustomTargetSettings.AdminUsername' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" (input)="Ldusernamechange()" required="required" type="text" [(ngModel)]="LDAdminusername" name="LDUsername" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>{{'CTRCustomTargetSettings.AdminPassword' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="password" class="form-control" (input)="Ldpasswordchange()" required="required" [(ngModel)]="LDpassword" name="LDPassword" />
                                </div>
                        </div>  
                        </div>
                    </div>
                    <div *ngIf="AD">
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRCustomTargetSettings.AdminUsername' | translate}}</span>
                                <span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" (input)="Adusernamechange()" required="required" type="text" [(ngModel)]="ADAdminuser" name="username" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRCustomTargetSettings.AdminPassword' | translate}}</span>
                                <span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="password" class="form-control" (input)="Adpasswordchange()" required="required" [(ngModel)]="ADAdminpassword" name="password" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRUserConfigure.AD_Server' | translate}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" (input)="Adserverchange()" title="{{'CTRUserConfigure.PortInfo' | translate}}" type="text" placeholder="Ex:LDAP://localhost" [(ngModel)]="Adserver" required="required" name="portinfo" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRUserConfigure.AD_Filter' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" (input)="Adfilterchange()" type="text" title="{{'CTRUserConfigure.ADFilterPortInfo' | translate}}" [(ngModel)]="Adfilter" name="adfilter" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRUserConfigure.AD_GroupFilter' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" ng-disabled="IncludeGroups==false" (input)="AdGroupfilterchange()" type="text" title="{{'CTRUserConfigure.ADGroupFilterInfo' | translate}}" [(ngModel)]="AdGroupfilter" name="groupfilter" />
                                </div>  
                            </div>
                            <div class="col-lg-3">
                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" title="{{'CTRUserConfigure.IncludeGroupsTooltip' | translate}}"
                                 class="example-margin" [(ngModel)]="IncludeGroups" (input)="AddGroups(IncludeGroups)" id="chkGroups">{{'CTRUserConfigure.IncludeGroups' | translate}}</mat-checkbox>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRUserConfigure.Searchlimit' | translate}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" value="" title="{{'CTRUserConfigure.Searchlimit' | translate}}" (input)="Changesearch()" [(ngModel)]="searchlimit" name="groupfilter" />
                                </div>  
                            </div>
                            <div class="col-lg-3">
                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" title="{{'CTRUserConfigure.IncludeGroupsAndUsers' | translate}}"
                                class="example-margin" [(ngModel)]="IncludeGroupsAndUsers" (input)="AddGroupsAndUsers()" ng-true-value="true" ng-false-value="false" id="chkGroupsandusers">{{'CTRUserConfigure.IncludeGroupsAndUsers' | translate}}</mat-checkbox>

                            </div>
                        </div>
                    </div>
                    <div  *ngIf="Docuwareshow">
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRCustomTargetSettings.AdminUsername' | translate}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" (input)="Docusernamechnage()" type="text" [(ngModel)]="userName" name="username" required="" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>{{'CTRCustomTargetSettings.AdminPassword' | translate}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">  
                                <div class="form-group">
                                    <input type="password" class="form-control" (input)="Docpasswordchnage()" required="required" [(ngModel)]="docuwarepassword" name="password" />
                                </div>
                        </div>  
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRDocuwareSettings.URL' | translate}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" (input)="Docurlchnage()" [(ngModel)]="url" name="url" required="" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRDocuwareSettings.Organization' | translate}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" (input)="Docorganizationchnage()" [(ngModel)]="organization" name="org" required="" />
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div  *ngIf="MFileshow">
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRCustomTargetSettings.AdminUsername' | translate}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" (input)="Mfileusernamechnage()" [(ngModel)]="username" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>
                                    {{'CTRCustomTargetSettings.AdminPassword' | translate}}
                                </span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="password" class="form-control" required="required" (input)="Mfilepasswordchnage()" [(ngModel)]="Mfilepassword" name="password" />
                                </div>
                        </div>  
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRMFiles.Domain' | translate}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" (input)="Mfiledomainchnage()" [(ngModel)]="domain" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRMFiles.Vault' | translate}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" (input)="Mfilevaultchnage()" [(ngModel)]="vault" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRMFiles.Class' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" (input)="Mfileclasschnage()" [(ngModel)]="class" />
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div  *ngIf="ShowCustomTarget">
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRCustomTargetSettings.ServerURL' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" ng-model="url" name="url" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>{{'CTRCustomTargetSettings.ServerParameters' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" ng-model="params" name="params" />
                                </div>
                        </div>  
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRCustomTargetSettings.AdminUsername' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" ng-model="userName" name="username" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRCustomTargetSettings.Password' | translate}}</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="password" class="form-control" required="required" ng-model="custompassword" name="password" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" ng-init="DynamicUsersCheck=false" ng-model="DynamicUsersCheck" (change)="CheckDynamicUsers()" name="chkdynamicusers">{{'CTRUserConfigure.DynamicUsers' | translate}}</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div  *ngIf="LaserFiche">
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>{{'CTRCustomTargetSettings.AdminUsername' | translate}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" (input)="LFusernamechange()" [(ngModel)]="LFAdminusername" />
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>{{'CTRCustomTargetSettings.AdminPassword' | translate}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="password" class="form-control" required="required" (input)="LFpasswordchange()" [(ngModel)]="LFPassword" name="password" />
                                </div>
                        </div>  
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span id="lblidServerAddress">{{sname}}</span><span class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" (input)="LFserverchange()" [(ngModel)]="LFServerAddress" />
                                </div>  
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="LFCloudCheck" (change)="checkLFCloud(LFCloudCheck)" id="chkLFClound">{{'CTRUserConfigure.UseLFCloud' | translate}}</mat-checkbox>
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 5px;">
                                <span>Repository</span><span *ngIf="btnrepo" class="text-danger">*</span>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input [disabled]="btnrepository" class="form-control" (input)="LFrepochange()" type="text" [(ngModel)]="LFRepository" />
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">

                            <button type="button" [disabled]="btnsaveDisable" class="btn btn-purple" title="{{'CTRUserConfigure.UserConfigureTooltip4' | translate}}" (click)="Save()">{{'CTRUserConfigure.USSave' | translate}}</button>
                        
                            &nbsp;<button type="button" *ngIf="AD" [disabled]="btnreverrt" title="{{'CTRUserConfigure.Revert_V20' | translate}}" class="btn btn-purple" (click)="Revert()">{{'CTRUserConfigure.Revert_V20' | translate}}</button>
                        
                            &nbsp;<button type="button" [disabled]="btnDisable" title="{{'CTRUserConfigure.Configure_Users' | translate}}" class="btn btn-purple" (click)="UserConfigure()">{{'CTRUserConfigure.Configure_Users' | translate}}</button>
                        </div></div>
                    </div>
            </div>
        </div>
    </div>

</div>
        </div>
        <!-- </form> -->
        
