<form role="form" name="amazons3Form" (change)="isDirty=true">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
            <button class="btn btn-purple" title="{{'CTRGeneralexception.SaveChanges' | translate}}" (click)="SaveAmazonSettings()">{{'CTRGeneralexception.SaveGE' | translate}}</button>&nbsp;
            <button type="button" ng-disabled="Mapbutton" title="{{'CTRAmazons3.Amazons3Tooltip1' | translate}}" class="btn btn-purple" (click)="MapBuckets()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button> &nbsp;
            <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
            <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.Back' | translate}}" ng-click="Back()">{{'CTR_Exception.Back' | translate}}</button>
        </div>
        </div>
        <div class="form-group"></div>
 <!-- START panel-->
 <div id="panelDemo5" class="panel panel-default">
    <div class="panel-top">
        {{'CTRAmazons3.SecuritySetting' | translate}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 5px;">
                            <span>{{'CTRUserConfigureSummary.AWS_S3_AccessKeyID1' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" name="awsaccess" [(ngModel)]="Awsaccesskey" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 5px;">
                            <span>{{'CTRUserConfigureSummary.AWS_S3_SecretKey1' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" name="awssecreat" [(ngModel)]="Awssecrekey" />
                            </div>  
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
<div id="panelDemo5" class="panel panel-default">
    <div class="panel-top">
        {{'CTRAmazons3.Region' | translate}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 15px;">
                            <span>{{'CTRAmazons3.Default_Region' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <mat-form-field appearance="outline" style="width:100%;">
                                    <mat-label>Region</mat-label>
                                    <mat-select  title="{{'CTRAmazons3.SelectRegionTooltip' | translate}}" name="cboAmazonRegion" [(ngModel)]="Region" required=""
                                    (selectionChange)="RegionChange($event)">
                                    <option value="">{{'CTRAmazons3.SelectRegion' | translate}}</option>
                                    <br> 
                                    <mat-option *ngFor="let option of GetRegions"  [value]="option.RegionName">
                                        {{option.RegionName}}
                                      </mat-option>
                                    </mat-select>              
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 15px;">
                            <span>{{'CTRAmazons3.AWSUsername' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <mat-form-field appearance="outline" style="width:100%;">
                                    <mat-label>Select User</mat-label>
                                    <mat-select  title="{{'CTRAmazons3.SelectUserTooltip' | translate}}" name="cboAmazonuser" [(ngModel)]="Username" required=""
                                    (selectionChange)="UserChange($event)">
                                    <option value="">{{'CTRAmazons3.SelectUser' | translate}}</option>
                                    <br> 
                                    <mat-option *ngFor="let option of GetUsers"  [value]="option">
                                        {{option}}
                                      </mat-option>
                                    </mat-select>              
                                </mat-form-field>
                        </div>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 15px;">
                            <span>{{'CTRAmazons3.Default_Bucket' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">                           
                                <mat-form-field appearance="outline" style="width:100%;">
                                    <mat-label>Buckets</mat-label>
                                    <mat-select  title="{{'CTRAmazons3.SelectBucketTooltip' | translate}}" name="cboAmazonBuckets" [(ngModel)]="Bucket"
                                    (selectionChange)="BucketChange($event)">
                                    <option value="">{{'CTRAmazons3.SelectBucket' | translate}}</option>
                                    <br> 
                                    <mat-option *ngFor="let option of GetBuckets"  [value]="option.BucketName">
                                        {{option.BucketName}}
                                      </mat-option>
                                    </mat-select>              
                                </mat-form-field>
                        </div>  
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
<div id="panelDemo5" class="panel panel-default">
    <div class="panel-top">
        {{'CTRAmazons3.Root_Folder1' | translate}}    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12" style="padding-top:7px;">
                        {{'CTRAmazons3.Specify_Folder' | translate}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <mat-checkbox color="primary" type="checkbox" class="example-margin" [(ngModel)]="Homefolder" value="1" (change)="AmazonRoot('1')" name="chkwebsite">{{'CTRAmazons3.Home_Folder2' | translate}}</mat-checkbox>
                        </div>
                     </div><br>
                     <div class="row">
                        <div class="col-lg-3">
                            <mat-checkbox color="primary" type="checkbox" class="example-margin" [(ngModel)]="Specificfolder" value="2" (change)="AmazonRoot('2')" name="chklocal">{{'CTRAmazons3.Specific_Folder' | translate}}</mat-checkbox>
                        </div>
                        <div class="col-lg-3">
                            <input class="form-control" [(ngModel)]="RootFolderId" [disabled]="folder" type="text" name="rootfold"  />
                        </div>
                     </div>
            </div>
        </div>
    </div>
    </div>
        </div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header btn-purple">
        <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
      </div>
      <div class="modal-body">
        <div class= "row">
            <div class="col-sm-12">
               <div class="row" *ngIf="userlist">
                  <div class="col-sm-12">
                     <div class="col-sm-0.5"></div>
                     <div class="col-sm-6">
                        <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            
                            <!-- <input type="text" focus-me class="form-control autocomplete" ng-model="username" typeahead="user for user in ListOfUser | filter:$viewValue"> -->
                        
                            <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="username" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                    <datalist id="dynmicUserIds">
                        <select>
                      <option *ngFor="let item of ListOfUser">{{item}}</option>
                    </select>
                    </datalist>
                        
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" *ngIf="txtuser">
                  <div class="col-sm-12">
                     <div class="col-sm-0.5"></div>
                     <div class="col-sm-6">
                        <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-group"><input class="form-control" type="text" [(ngModel)]="username" name="username" required="" />
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="col-sm-0.5"></div>
                     <div class="col-sm-6">
                        <div class="form-group"><label>{{'CTR_JobManagement.Target'| translate }}</label><span class="text-danger">*</span></div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                           <input class="form-control" type="text" [(ngModel)]="target" name="targetval" required="" />
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>  
      </div>
      <div class="modal-footer">
        <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(username,target)">{{'CommonItems.Test'| translate }}</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                        
      </div>
    </div>
  </div>
</div>
        </form>




        
