mat-form-field { /* Changes the input styling to just about nothing so that button styling can take over */
    font-size: 11px;
  }
  
  /* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent !important; //remove border if needed 
  } */
  
  .mat-button { 
    padding: 0 0px; /* Changes position of dropdown icons */
  }

