<form role="form" name="connectorsForm" novalidate>
    <div class="col-lg-12">
        
        <div class="form-group"></div>
 <!-- START panel-->
 <div id="panelDemo5" class="panel panel-default">
    <div class="panel-top">
        {{'CTRListofConnectorController.Connectors' | translate}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2" style="padding-top: 10px;">
                            <span>{{'CTRListofConnectorController.Connectors' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <mat-form-field appearance="fill" style="width:100%;">
                                    <mat-label>Connector List</mat-label>
                                    <mat-select  title="{{'CTRListofConnectorController.SelectConnectorsToolTip' | translate}}" name="lang" [(ngModel)]="Selectedconnector" required=""
                                    (selectionChange)="ConnectorsChange($event)">
                                    <option value=""> {{'CTRListofConnectorController.SelectConnectors' | translate}} </option>
                                    <br> 
                                    <mat-option *ngFor="let option of Connectorlist"  [value]="option.ProviderCode">
                                        {{option.ProviderName}}
                                      </mat-option>
                                    </mat-select>              
                               </mat-form-field>
        </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group"></div>
        </div>
        <div class="row">
            <div class="form-group"></div>
        </div>
        <div class="row">
            <div class="form-group"></div>
        </div>
        <div class="row">
            <div class="form-group"></div>
        </div>
        <div class="row">
            <div class="form-group"></div>
        </div>

    </div>

</div>
        </div>
        </form>
        
