<form role="form" name="HomeFolder" (change)="isDirty=true">
    <div class="col-lg-12">
        <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-purple" title="{{'CTREgnyteConnect.SaveChangesEgnt' | translate}}" (click)="SaveEgnyteConnector()">{{'CTREgnyteConnect.SaveEgnt' | translate}}</button>&nbsp;
                    <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.Map_Jobs' | translate}}" (click)="EgnyteMapJobs()">{{'CTR_JobManagement.Map_Jobs' | translate}}</button>&nbsp;
                    <button type="button" class="btn btn-purple" title="{{'CTR_JobManagement.TestConnector' | translate}}" (click)="TestConnector()">{{'CTR_JobManagement.TestConnector' | translate}}</button>&nbsp;
                    <button type="button" class="btn btn-purple" title="{{'CTR_Exception.Back' | translate}}" ng-click="Back()">{{'CTR_Exception.Back' | translate}}</button>
                </div>
        </div>
        <div class="row">
            <div class="form-group">
            </div>
        </div>
        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-top">{{'CTREgnyteConnect.EgnyteDomain' | translate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-0.5">
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-3">
                                                    <span>
                                                        {{'CTREgnyteConnect.Domain' | translate}}
                                                    </span>
                                                    <span class="text-danger">*</span>

                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" [(ngModel)]="egnytedomain" name="domain" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-sm-3">
                                                </div>
                                                <div class="col-sm-8">
                                                    <label title="{{'CTREgnyteConnect.Useservicelogin' | translate}}">
                                                        <mat-checkbox color="primary" style="width: 20px;height: 20px;"  type="checkbox" class="example-margin" [(ngModel)]="servicelogin" (change)="ServiceChange()" name="chkweblogin">{{'CTREgnyteConnect.Useservicelogin' | translate }}</mat-checkbox>
                                                    </label>
                                                </div>
                                                <span class="material-icons" style="padding-top: 5px;cursor: pointer;" name="info" (click)="Infopopup();"data-toggle="modal" data-target="#Egnytemailinfo">
                                                    info
                                                    </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6" *ngIf="enableforservice">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5">
                                                    <span>
                                                        {{'CTREgnyteConnect.Username' | translate}}
                                                    </span>
                                                    <span class="text-danger">*</span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" [(ngModel)]="username" name="user" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5">
                                                    <span>
                                                        {{'CTREgnyteConnect.Password' | translate}}
                                                    </span>
                                                    <span class="text-danger">*</span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="input-group">
                                                        <!-- <input type="{{inputType}}" name="password" class="form-control" ng-model="password" />
                                                        <span class="input-group-addon">
                                                            <span class="{{showHideClass}}" ng-click="ShowPassword()" style="cursor:pointer"></span>
                                                        </span> -->
                                                        <input class="form-control" type="password" [(ngModel)]="password" name="pass" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group"></div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5">
                                                    <span>
                                                        {{'CTREgnyteConnect.APIKey' | translate}}
                                                    </span>
                                                    <span class="text-danger">*</span>

                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" [(ngModel)]="apikey" name="keyapi" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group"></div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5">
                                                    <span>
                                                        {{'CTREgnyteConnect.Applicationsecret' | translate}}
                                                    </span>
                                                    <span class="text-danger">*</span>

                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" [(ngModel)]="applicationcsecret" name="secreat" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5"></div>
                                                <div class="col-lg-7">
                                                    <div class="form-group">
                                                        <button type="button" title="{{'CTREgnyteConnect.GetAccessToken' | translate}}" [disabled]="(username==null || password==null || apikey==null)||(username=='' || password=='' || apikey=='')" class="btn btn-purple" (click)="GenerateToken()">{{'CTREgnyteConnect.GetAccessToken' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-5">
                                                    <span>
                                                    </span>
                                                    <span class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="form-group">
                                                        <input class="form-control" readonly type="text" [(ngModel)]="token" name="tokenval" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-top">{{'CTREgnyteConnect.EgnyteOAuth_V20' | translate}}</div>
            <div class="panel-body" style="padding-left:25px;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span>{{'CommonItems.ApplicationID_V20' | translate}}</span><span class="text-danger">*</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input class="form-control" [disabled]="AppSettings" type="text" [(ngModel)]="appid" name="appidval" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span>{{'CommonItems.ApplicationSecret_V20' | translate}}</span><span class="text-danger">*</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input class="form-control" [disabled]="AppSettings" type="text" [(ngModel)]="appsecret" name=secreatval/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span>{{'CommonItems.Redirecturl_V20' | translate}}</span><span class="text-danger">*</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input class="form-control" [disabled]="AppSettings" type="text" [(ngModel)]="redirecturl" name=reurl/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <button type="button" class="btn btn-purple" title="{{'CommonItems.EditSettings' | translate}}" (click)="EditSettings()">{{'CommonItems.Edit' | translate}}</button>&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-purple" title="{{'CommonItems.Resetsettings' | translate}}" (click)="ResetSettings()">{{'CommonItems.ResettoDefault' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="note">
                    <div class="col-lg-12">
                            <b> <span class="text-danger">*</span></b>
                            {{'CTRDropBoxConnect.DropBoxNote' | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-top">{{'CTREgnyteConnect.Root_Folder' | translate}}</div>
            <div class="panel-body">
                <p>
                <p>{{'CTREgnyteConnect.Specify_Folder' | translate}}</p>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-0.5">
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <label title="{{'CTREgnyteConnect.BoxconnectTooltip1' | translate}}">
                                            <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Homefolder" (change)="EgnyteConnector('1')" name="chkwebsite">{{'CTREgnyteConnect.Home_Folder' | translate }}</mat-checkbox>
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-3">
                                        <label title="{{'CTREgnyteConnect.BoxconnectTooltip2' | translate}}">
                                            <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Specificfolder" (change)="EgnyteConnector('2')" name="chkwebsite1">{{'CTREgnyteConnect.Specific_Folder' | translate }}</mat-checkbox>
                                        </label>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input class="form-control" [disabled]="folder" type="text" [(ngModel)]="RootFolderId" name="root" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-top">{{'CTREgnyteConnect.Login_Reminder' | translate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-0.5">
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-3">
                                        <label title="{{'CTREgnyteConnect.BoxconnectTooltip3' | translate}}">
                                            <mat-checkbox color="primary" style="width: 20px;height: 20px;" type="checkbox" class="example-margin" [(ngModel)]="Remind" (change)="LogReminder(Remind)" name="chkwebsite2">{{'CTREgnyteConnect.Remind' | translate }}</mat-checkbox>
                                        </label>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <select class="form-control" [disabled]="Reminder" name="type" [(ngModel)]="RemindDays" required name="remindays">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <span>{{'CTREgnyteConnect.login_expires' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-8">
                                        <label title="{{'CTREgnyteConnect.EgnyteconnectTooltip4' | translate}}">
                                            <mat-checkbox color="primary" style="width: 20px;height: 20px;" [disabled]="Reminder" type="checkbox" class="example-margin" [(ngModel)]="InformUser" name="chklocal3">{{'CTREgnyteConnect.Inform_User' | translate }}</mat-checkbox>
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-3">
                                        <label title="{{'CTREgnyteConnect.BoxconnectTooltip5' | translate}}">
                                            <mat-checkbox color="primary" style="width: 20px;height: 20px;" [disabled]="Reminder" type="checkbox" class="example-margin" [(ngModel)]="InformAdmin" (change)="LogReminderAdmin(InformAdmin)" name="chkfolder">{{'CTREgnyteConnect.Inform_Administrator' | translate }}</mat-checkbox>
                                        </label>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input class="form-control" [disabled]="AdminEmail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" type="text" [(ngModel)]="AdminMail" name="mail" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-purple" title="{{'CTREgnyteConnect.BoxconnectTooltip6' | translate}}" data-toggle="modal" data-target="#Egnytemail" (click)="EmailOption()">{{'CTREgnyteConnect.Email_Options' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>


<form>
    <div class="modal" role="dialog" id="Egnytemail">
      <div class="modal-dialog">
        <div class="modal-content" style="width:750px;">
          <div class="modal-header">
                
  
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-top" style="display: block;"><h2>{{'CommonItems.EmailOptionSave' | translate}}</h2>
      </div>
    </div>
  
  </div>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-0.5"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-0.2"></div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>{{'CommonItems.Subject' | translate}}</label>
                                    <span class="text-danger">*</span>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control" focus-me type="text" [(ngModel)]="EmailSubject" name="emailsub" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <div class="col-sm-0.2">
                                </div>
                                <div class="form-group">
                                    <label>{{'CommonItems.EmailBody' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div>
                                    <textarea class="form-control" type="text" [(ngModel)]="EmailBody" name="emailbody" style="height:120px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal" ng-disabled="BoxEmailOptionform.$invalid" (click)="SaveEmailOption()">{{'CommonItems.OK' | translate}}</button>
            <button class="btn btn-warning" data-dismiss="modal">{{'CommonItems.Cancel' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  
<form>
    <div class="modal" role="dialog" id="Egnytemailinfo">
      <div class="modal-dialog">
        <div class="modal-content" style="width:750px;">
          <div class="modal-header">
                
  
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-top" style="display: block;"><h2>{{'CTREgnyteConnect.Information' | translate}}</h2>
      </div>
    </div>
  
  </div>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <span>{{'CTREgnyteConnect.InfoText' | translate}}</span>
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal" ng-disabled="BoxEmailOptionform.$invalid" (click)="SaveEmailOption()">{{'CommonItems.OK' | translate}}</button>
            <button class="btn btn-warning" data-dismiss="modal">{{'CommonItems.Cancel' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-purple">
          <h2 class="modal-title" style="padding-top: 8px;padding-left: 3px;">{{'CTR_JobManagement.TestConnector' | translate }}</h2>
        </div>
        <div class="modal-body">
          <div class= "row">
              <div class="col-sm-12">
                 <div class="row" *ngIf="userlist">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName'| translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                                                        
                              <input type="text" class="form-control" placeholder="Search Users" name="userna" [(ngModel)]="testusername" (keyup)="getUser($event)" id="userIdFirstWay" list="dynmicUserIds" />
                      <datalist id="dynmicUserIds">
                          <select>
                        <option *ngFor="let item of ListOfUser">{{item}}</option>
                      </select>
                      </datalist>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row" *ngIf="txtuser">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CommonItems.UserName' | translate }}</label><span class="text-danger">*</span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"><input class="form-control" type="text" [(ngModel)]="testusername" name="username" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CTR_JobManagement.FolderType'| translate }}</label><span class="text-danger"></span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                             <select class="form-control" [(ngModel)]="folderType" name="folderType" (change)="setTargetMandatory(folderType)">
                             <option value="P">{{'CTR_JobManagement.FolderTypePrivate'| translate }}</option>
                             <option value="S">{{'CTR_JobManagement.FolderTypeShared'| translate }}</option>
                             </select>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="col-sm-0.5"></div>
                       <div class="col-sm-6">
                          <div class="form-group"><label>{{'CTR_JobManagement.Target'| translate }}</label><span class="text-danger" id="tc_egnyte_target_span"></span></div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                             <input class="form-control" type="text" id="tc_egnyte_target_folder" [(ngModel)]="target" name="targetval" required="" />
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>  
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="Testform.$invalid" class="btn btn-purple" (click)="Test(username,target)">{{'CommonItems.Test'| translate }}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="closePopup()">{{'CommonItems.Cancel' | translate }}</button>
                          
        </div>
      </div>
    </div>
  </div>