<form role="form" name="licenseForm" (change)="isDirty=true">
    <div class="col-lg-12">
        
        <div class="form-group"></div>
 <!-- START panel-->
 <div id="panelDemo5" class="panel panel-default">
    <div class="panel-top">
        {{'CTRlicence.License_Information' | translate}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 5px;">
                            <span>{{'CTRlicence.License_Type' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" readonly="" name="ltype" [(ngModel)]="LicenseType" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 5px;">
                            <span>{{'CTRlicence.License_Issued' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" readonly="" name=lissue [(ngModel)]="LicenseIssue" />
                            </div>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <span>{{'CTRlicence.License_Code' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" name="lcode"  [(ngModel)]="LicenseCode" />
                        </div>
                    </div>  
                    </div>
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 5px;">
                            <span>{{'CTRlicence.Machine_ID' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" readonly="" name="mid" [(ngModel)]="Machineid" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 10px;">
                            <span>{{'CTRlicence.Remaining_Images' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" readonly="" name="rimage" [(ngModel)]="RemainingImage" /> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 10px;">
                            <span>{{'CTRlicence.Maintenance_Expires' | translate}}</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" readonly="" name="mimage" [(ngModel)]="MaintenanceImage" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" (click)="ActivateLicense()" class="btn btn-purple">
                                {{'CTRlicence.Activate' | translate}}&nbsp;&nbsp;
                            </button>&nbsp;&nbsp;
                            <button type="button" [disabled]="deactivate" (click)="DectivateLicense()" class="btn btn-purple">
                                {{'CTRlicence.Deactivate' | translate}}
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-1" style="text-align:center;">
        <div class="form-group">
            <label>{{'CTRlicence.Note' | translate}}</label>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="form-group">
            {{'CTRlicence.Conent_Document1' | translate}}
        </div>
    </div>
</div>
        </div>
        </form>
        
